<mat-dialog-content>
    <h2 mat-dialog-title align="center">Copy Survey</h2>
    <!-- [formGroup]="copySurveyForm" -->
    <form #copySurveyFrm="ngForm">
        <div class="row" layout="row" layout-align="center center">
            <mat-form-field class="size-width-300" style="width:300px">
                <input minlength="3" maxlength="30" [(ngModel)]="data.title" name="title" matInput placeholder="Title"
                    required>
                <mat-error>
                    Title is required and length between 3 to 30 chars.
                </mat-error>
            </mat-form-field>

            <span style="width: 80px;"></span>

            <mat-form-field class="size-width-300" style="width:300px">
                <input maxlength="15" 
                       type="number" 
                       pattern="^[0-9]{1,15}$" 
                       [(ngModel)]="data.survey.loyaltyPoints"
                       name="loyaltyPoints"
                       matInput
                       placeholder="LoyaltyPoints">
                       <mat-error>
                            Point must be a valid number.
                       </mat-error>
            </mat-form-field>
        </div>

        <div class="row" layout="row" layout-align="center center">

            <mat-form-field class="size-width-300" style="width:300px;">
                <input name="startDate" matInput required [matDatepicker]="startDate" placeholder="Start date"
                    [(ngModel)]="data.startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
                <mat-error>Start date is required</mat-error>
            </mat-form-field>

            <span style="width: 80px;"></span>
            <mat-form-field class="size-width-300" style="width:300px;">
                <input name="endDate" matInput required [matDatepicker]="endDate" placeholder="End date"
                    [(ngModel)]="data.endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
                <mat-error>End date is required</mat-error>
            </mat-form-field>

        </div>

        <div class="row" layout="row" layout-align="center center">
            <mat-form-field class="size-width-300" style="width:300px">
                <mat-select [formControl]="regionsFormControl" [compareWith]="options" multiple placeholder="Area"
                    required>
                    <!-- <mat-option [value]="1" (click)="selectAllRegion(allRegionSelected)" #allRegionSelected>All
                    </mat-option> -->
                    <app-select-check-all [model]="regionsFormControl" [values]="listOfRegion">
                        </app-select-check-all>
                    <mat-option *ngFor="let region of listOfRegion" [value]="region"
                        (click)="selectRegionPerOne(allRegionSelected.viewValue)">
                        {{ region.name }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Area is required
                </mat-error>
            </mat-form-field>
            <span style="width: 80px;"></span>
            <mat-form-field class="size-width-300" style="width:300px">
                <mat-select [formControl]="posGroupFormControl" [compareWith]="options" multiple placeholder="Pos Group"
                    required>
                    <!-- <mat-option [value]="1" (click)="selectAllPosGroup(allPosGroupSelected)" #allPosGroupSelected>All
                    </mat-option> -->

                    <app-select-check-all [model]="posGroupFormControl" [values]="posGroupList">
                    </app-select-check-all>
                    <mat-option *ngFor="let posGroup of posGroupList" [value]="posGroup"
                        (click)="selectPosGroupPerOne(allPosGroupSelected.viewValue)">
                        {{ posGroup.name }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    POS Group is required
                </mat-error>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>



<div layout="row" layout-align="center center">
    <mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!(copySurveyFrm.form.valid && regionsFormControl.valid && posGroupFormControl.valid)" tabindex="2"
            (click)="save()">Save</button>
        <button mat-raised-button (click)="cancel()" tabindex="3">cancel</button>
    </mat-dialog-actions>
</div>