<div mat-dialog-content>


    <!-- <mat-form-field>
        <mat-select [(ngModel)]="data.vendors.name" placeholder="All Vendors">
          <mat-option *ngFor="let vendors of data.vendors" [value]="vendors.name">
            {{ vendors.name }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field>
          <input [(ngModel)]="data.vendorName" type="text" matInput  [matAutocomplete]="auto" placeholder="Vendor">
        </mat-form-field>
        
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let vendors of data.vendors" [value]="vendors.name">
            {{ vendors.name }}
          </mat-option>
        </mat-autocomplete>
      
  <button mat-raised-button color="accent" [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
