
<mat-sidenav-container  style= "height: 100%; min-height: 100%">
    <mat-sidenav #sidenav opened="false" mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="../pos-users">Assigned vendors</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- <button type="button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
  
    <button type="button" mat-icon-button (click)="openDialog()">
      <mat-icon matTooltip="New">add</mat-icon>
    </button>
  
    <button type="button" mat-icon-button (click)="onDelete()">
      <mat-icon matTooltip="Delete">clear</mat-icon>
    </button>
  <mat-card>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
          <span *ngIf="!searchBox.searchVisible" class="push-left-sm"></span>
          <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
            <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title">Assigned vendors</span>
            <span *ngIf="selectedRows.length" class="md-body-1">{{selectedRows.length}} item(s) selected</span>
          </span>
          <td-search-box #searchBox backIcon="arrow_back" 
          class="push-right-sm" 
          placeholder="Search here" 
          (searchDebounce)="search($event)" flex>
          </td-search-box>
        </div>
        <mat-divider></mat-divider>
        <td-data-table
          #dataTable
          [data]="_allAssignedVendors"
          [columns]="columnsConfig"
          [selectable]="true"
          [clickable]="true"
          [multiple]="true"
          [sortable]="true"
          [sortBy]="sortBy"
          [(ngModel)]="selectedRows"
          [sortOrder]="sortOrder"
          (sortChange)="sort($event)"
          [style.height.px]="250"
          [compareWith]="compareWith">
  
         
        </td-data-table>
        <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
          <h3>No results to display.</h3>
        </div>
        <div layout="row" layout-align="space-between center">
          <div hide-xs class="selected-rows-padding">
            <p class="md-caption" *ngIf="selectedRows.length">
              {{selectedRows.length}} item(s) selected
            </p>
          </div>
          <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
            <span hide-xs>Rows per page:</span>
            <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
              <mat-option *ngFor="let size of [25, 50,100, 200]" [value]="size">
                {{size}}
              </mat-option>
            </mat-select>
            {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
          </td-paging-bar>
        </div>
      </mat-card>
      </mat-sidenav-container>