<div layout="column" layout-align="start center strech">
    <mat-card layout="column">
      <mat-card-title>Your Notifications</mat-card-title>
      <div layout="row">
        <span style="width: 40px;"></span>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="startDate"
            [matDatepicker]="firstdate"
            placeholder="Start Date"
            (dateInput)="startDateChange($event)"
            (dataChange)="startDateChange($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="firstdate"
          ></mat-datepicker-toggle>
          <mat-datepicker #firstdate></mat-datepicker>
        </mat-form-field>
        <span style="width:15px"></span>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="endDate"
            [matDatepicker]="secondDate"
            placeholder="End Date"
            (dateInput)="endDateChange($event)"
            (dataCahnge)="endDateChange($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="secondDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #secondDate></mat-datepicker>
          <span style="width:10px;"></span>
        </mat-form-field>
        <span style="width:10px;"></span>
        <mat-form-field>
            <mat-select
              [formControl]="moduleFormControl"
              [compareWith]="options"
              multiple
              placeholder="Module"
            >
              <app-select-check-all
                [model]="moduleFormControl"
                [values]="listOfModules"
              >
              </app-select-check-all>
              <mat-option
                *ngFor="let module of listOfModules"
                [value]="module"
                (click)="selectModulePerOne(allModulesSelected.viewValue)"
              >
                {{ module.name }}
              </mat-option>
            </mat-select>
            </mat-form-field>
            <span style="width: 10px;"></span>
        <button mat-icon-button color="primary" type="button" style="height: 47px;" (click)="getAllNotifications()">
          Search
        </button>
        <span style="width:40px;"></span>
        <button mat-icon-button color="primary" type="button" style="height: 47px;" (click)="reset()">
          Reset
        </button>
  
      </div>
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item
            *ngFor="let notification of listOfNotifications"
            [ngStyle]="
              notification.status
                ? { 'background-color': 'white' }
                : { 'background-color': '#C0C0C0' }
            "
            (click)="showNotification(notification)"
            class="mat-item-list-item"
          >
            <p matLine style="color:black">
              {{ notification.body }} on
              {{ notification.createdDate | date: "dd/MM/yyyy" }}
            </p>
            <button mat-icon-button (click)="showNotification(notification)">
              <mat-icon>info</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
        <td-paging-bar
          #pagingBar
          [pageSize]="pageSize"
          [total]="filteredTotal"
          (change)="page($event)"
        >
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option
              *ngFor="let size of [25, 50, 100, 150, 200]"
              [value]="size"
            >
              {{ size }}
            </mat-option>
          </mat-select>
          {{ pagingBar.range }} <span hide-xs>of {{ pagingBar.total }}</span>
        </td-paging-bar>
      </mat-card-content>
    </mat-card>
  </div>
  