<mat-toolbar *ngIf="isLoggedInObservable | async">
        <div class="container">
            <div class="row">
                <button mat-icon-button routerLink="/">
                    <mat-icon matTooltip="Dashboard">dashboard</mat-icon>
                </button>
            <mat-button-toggle-group #group="matButtonToggleGroup" >
                <ng-template [ngxPermissionsOnly]=" ['ROLE_SYSTEM_ADMIN', 'ROLE_VENDOR_ADMIN', 'ROLE_PRIVILEGE_CENTER', 'ROLE_POS', 
                                                    'ROLE_SALES_SUPERVISOR']">
                    <mat-button-toggle [matMenuTriggerFor]="userManagementMenu">
                        Users management
                    </mat-button-toggle>
                </ng-template>
                <mat-menu #userManagementMenu="matMenu">
                        <ng-template [ngxPermissionsOnly]="['ROLE_SYSTEM_ADMIN']">
                            <button mat-menu-item routerLink="system-admins">
                                <span>System administrators</span>
                            </button>
                        </ng-template>
    
                        <ng-template [ngxPermissionsOnly]="['ROLE_VENDOR_ADMIN']">
                            <button mat-menu-item routerLink="vendor-admins">
                                <span>Vendor administrators</span>
                            </button>
                        </ng-template>
    
                        <ng-template [ngxPermissionsOnly]="['ROLE_SALES_SUPERVISOR']">
                            <button mat-menu-item routerLink="sales-supervisor">
                                <span>Sales supervisors</span>
                            </button>
                        </ng-template>
    
                        <ng-template [ngxPermissionsOnly]="['ROLE_POS']">
                            <button mat-menu-item routerLink="pos_user">
                                    <span>Point of Sales</span>
                            </button>
                        </ng-template>
    
                        <ng-template [ngxPermissionsOnly]="['ROLE_PRIVILEGE_CENTER']">
                            <button mat-menu-item routerLink="privilege">
                                <span>Privilege center</span>
                            </button>
                        </ng-template>
                
                </mat-menu>
                
                <ng-template [ngxPermissionsOnly]="['ROLE_VENDOR']">
                    <mat-button-toggle routerLink="vendor">
                        <span>Vendor</span>
                    </mat-button-toggle>
                </ng-template>
    
                <ng-template [ngxPermissionsOnly]="['ROLE_CATEGORY']">
                    <mat-button-toggle routerLink="category">
                        <span>Category</span>
                    </mat-button-toggle>
                </ng-template>
    
                <ng-template [ngxPermissionsOnly]="['ROLE_PRODUCT']">
                    <mat-button-toggle routerLink="product">
                        <span>Product</span>
                    </mat-button-toggle>
                </ng-template>
                
                <ng-template [ngxPermissionsOnly]="['ROLE_PRODUCT']">
                    <mat-button-toggle routerLink="combo">
                        <span>Combo</span>
                    </mat-button-toggle>
                </ng-template>
    
                <ng-template [ngxPermissionsOnly]="['ROLE_LOYALTY']">
                    <mat-button-toggle routerLink="loyalty">
                            <span>Loyalty</span>
                    </mat-button-toggle>
                </ng-template>
    
                <ng-template [ngxPermissionsOnly]="['ROLE_REWARD']">
                    <mat-button-toggle routerLink="reward">
                            <span>Reward</span>
                    </mat-button-toggle>
                </ng-template>
    
                <ng-template [ngxPermissionsOnly]="['ROLE_ORDER']">
                    <mat-button-toggle routerLink="orders">
                        <span>Order</span>
                    </mat-button-toggle>
                </ng-template>
                <ng-template *ngIf="!isLoggedInObservable | async">
                    <mat-button-toggle routerLink="login">
                        <span>Login</span>
                    </mat-button-toggle>
                </ng-template>
    
                <ng-template [ngxPermissionsOnly]=" ['ROLE_SETTING', 'ROLE_SUBSCRIPTION']">
                    <mat-button-toggle [matMenuTriggerFor]="settingMenu">
                        Settings
                    </mat-button-toggle>
                </ng-template>
                <mat-menu #settingMenu="matMenu">
                    <ng-template [ngxPermissionsOnly]="['ROLE_SUBSCRIPTION']">
                        <button mat-menu-item routerLink="subscription">
                            <span>Settings</span>
                        </button>
                    </ng-template>
                </mat-menu>
                  
            </mat-button-toggle-group >
                <ng-template [ngxPermissionsOnly]="['ROLE_SETTING']">
                    <button mat-icon-button routerLink="settings">
                        <mat-icon matTooltip="Settings">settings</mat-icon>
                    </button>
                </ng-template>
    
                <button mat-icon-button routerLink="profile" *ngIf="isLoggedInObservable | async">
                    <mat-icon matTooltip="User account">account_circle</mat-icon>
                </button>
    
                <button mat-icon-button routerLink="login" (click)="onLogout()" *ngIf="isLoggedInObservable | async">
                    <mat-icon matTooltip="Logout">exit_to_app</mat-icon>
                </button>
    
            </div>
        </div>
    </mat-toolbar>