<mat-card class="view-height">
  <mat-card-title>Warehouse Order Shipment</mat-card-title>
  <div llayout="column" layout-align="space-evenly center">
    <div layout="row" layout-align="space-evenly center">
      <span style="width:50px;"></span>

      <mat-form-field class="size-width-400">
        <mat-select [formControl]="warehousesFormControl" 
                    [compareWith]="options" 
                    multiple 
                    placeholder="Warehouses"
                    (selectionChange)="onWharehouseChange($event)">
          <app-select-check-all [model]="warehousesFormControl" [values]="_warehouses">
          </app-select-check-all>
          <mat-option *ngFor="let warehouse of _warehouses" [value]="warehouse">
            {{warehouse.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- (click)="selectPosGroupPerOne(allPosGroupSelected.viewValue)" -->

      <span style="width:15px"></span>

      <mat-form-field>
        <input matInput 
               [matDatepicker]="firstdate" 
               placeholder="Start Date" 
               pattern="yyyy-MM-dd"
               (dateInput)="onChangeDate($event)">
        <mat-datepicker-toggle matSuffix [for]="firstdate"></mat-datepicker-toggle>
        <mat-datepicker #firstdate></mat-datepicker>
      </mat-form-field>
<!--(dataChange)="startDateChange($event)"-->

      <span style="width:15px"></span>

      <mat-form-field>
        <input matInput 
               [matDatepicker]="secondDate" 
               placeholder="End Date"
               pattern="yyyy-MM-dd"
               (dateInput)="endDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="secondDate"></mat-datepicker-toggle>
        <mat-datepicker #secondDate></mat-datepicker>
        <span style="width:10px;"></span>
      </mat-form-field>


      <span style="width:6px;"></span>
      <button mat-icon-button color="primary" type="button" style="height: 47px;" (click)="dateSearch()">
        search
      </button>
      <span style="width:40px;"></span>

      <span style="width:40px;"></span>

      <mat-form-field class="size-width-400">
        <mat-select [formControl]="shipmentOrderDeliveryUser" 
                    [compareWith]="options" 
                    multiple 
                    placeholder="Delivery User"
                    (selectionChange)="onChangeDeliveryUser($event)">
          <app-select-check-all [model]="shipmentOrderDeliveryUser" [values]="_deliveryUsers">
          </app-select-check-all>
          <mat-option *ngFor="let deliveryUser of _deliveryUsers" [value]="deliveryUser">
            {{deliveryUser.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="width:15px"></span>
      <mat-form-field class="size-width-400">
        <mat-select [formControl]="shipmentStatusFormControl" 
                    [compareWith]="options" 
                    multiple 
                    placeholder="Delivery Status"
                    (selectionChange)="onChangeShipmentStatus($event)">
          <app-select-check-all [model]="shipmentStatusFormControl" [values]="_shipmentStatus">
          </app-select-check-all>
          <mat-option *ngFor="let shipmentStatus of _shipmentStatus" [value]="shipmentStatus">
            {{shipmentStatus.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <td-search-box #searchBox backIcon="keyboard_arrow_right" placeholder="Search here"
        (searchDebounce)="search($event)" [(ngModel)]="searchTerm" [debounce]="750" flex></td-search-box>
    </div>
  </div>
  <td-data-table #dataTable [data]="_allShipmentOrder" [columns]="columnsConfig"
    [multiple]="true" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder"
    (sortChange)="sort($event)" class="data-table-view-height" [compareWith]="compareWith">

    <ng-template tdDataTableTemplate="id" let-value="id" let-row="row">
      <a (click)="shipmentItem(id, row)" routerLink=".">
        <mat-icon color="primary">description</mat-icon>
      </a>
    </ng-template>

  </td-data-table>
  <div *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <div layout="row" layout-align="space-between center">
    <div hide-xs class="selected-rows-padding">
      <p class="md-caption" *ngIf="selectedRows.length">
        {{selectedRows.length}} item(s) selected
      </p>
    </div>
    <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [25,50,100,150,200]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>
</mat-card>