<mat-card>
  <div *ngIf="privilegeProfileBlockRole.length">
    <td-data-table 
    #dataTable
    [data]="privilegeProfileBlockRole"
    [columns]="columnsConfig"
    selectable="true"
    clickable="false"
    multiple="true"
    sortable="false"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"
    (sortChange)="sort($event)"
    [(ngModel)]="_selectedRows"
    [style.height.px]="210"
    [style.width.px]="530"
    [compareWith]="compareWith">
    </td-data-table>
  </div>
  <div class="md-padding" style="height:210px;width:530px;" *ngIf="!privilegeProfileBlockRole.length" layout="row" layout-align="center center">
    <h4>No block role(s) defined for the selected modules.</h4>
  </div>
</mat-card>