.full-width-3 {
    width: 30%;
}

.outer {
    width: 1px;
    height: 100%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    margin-left: 20px;
  }
  .inner {
    position: absolute;
    width:100%;
    height: 40%;
    background: grey;
    top: 30%;
    box-shadow: 0px 0px 30px 20px grey;
  }

  .mat-card {
    padding: 0;
    margin: 10px;
  }

  .view-height {
    min-height: 96%; height: 96%
}