<mat-card class="view-height">
  <div layout="row" layout-align="start center" style="height: 100%;"> 
    <img src="assets\Order_now2x3x.png" style="max-width: 65%">
    
    <!-- <div class="outer">
      <div class="inner"></div>
    </div> -->
    
    <div style="margin-left: 25px;">
      <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">      
        <div >
          <mat-form-field style="width: 350px">
            <mat-icon matSuffix>person</mat-icon>
            <input  matInput
                    required
                    type="text"
                    name="username"
                    maxlength="50"
                    #usernameModel="ngModel"
                    [(ngModel)]="username"
                    placeholder="Username"
                    pattern="^[0-9]{10,14}$|^[a-zA-Z0-9_!#$%&’*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+$">
              <mat-hint><strong>Email or mobile number</strong></mat-hint> 
              <mat-error *ngIf="(usernameModel.invalid && usernameModel.touched) || usernameModel.hasError('pattern')">
                Please enter a valid username (email or mobile number)
              </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field  style="width: 350px">
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input  matInput
                    required
                    password 
                    name="password"
                    type="password"
                    maxlength="25"
                    #passwordModel="ngModel"
                    [(ngModel)]="password"
                    placeholder="Password">
            <mat-error *ngIf="passwordModel.invalid && passwordModel.touched">
              Please fill your password
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <!-- <mat-checkbox [(ngModel)]="rememberMe"
                        name="rememberMe" 
                        disabled="true">Remember me</mat-checkbox> -->
          <!-- <a disabled="false">Forget my password</a> -->
        </div>
        <div>
          <button mat-raised-button 
            color="primary" 
            type="submit"
            [disabled]="loginForm.form.invalid || showSpinner">
            <span *ngIf="!showSpinner">Login</span>
            <mat-spinner diameter="30" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner"></mat-spinner>
          </button>
        </div>
        
      </form>
    </div>
  </div>
</mat-card>