<div layout="row" layout-align="center center">

  <mat-form-field class="size-width-300">
    <mat-select required ngModel #posRegion="ngModel" [ngModel]="selectedRegion" [(ngModel)]="selectedRegionList"
      placeholder="Area" name="region" multiple>
      <mat-option *ngFor="let region of listOfRegion" [value]="region.id">
        {{ region.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span style="width:14px;"></span>
  <mat-form-field class="size-width-300">
    <mat-select required ngModel #posGroup="ngModel" [ngModel]="selectedGroup" [(ngModel)]="selectedPosGroup"
      placeholder="POS Group" name="posGroup" multiple>
      <mat-option *ngFor="let posGroup of listOfPosGroup" [value]="posGroup.id">
        {{ posGroup.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div layout="row" layout-align="space-between center" class="pad-left-sm pad-right-sm" style="height: 40%">
  <mat-card style="width:45%;height: 20%">

    <td-data-table #dataTable [data]="allPos" [columns]="allPossConfig" [selectable]="true" [clickable]="true"
      [multiple]="true" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder"
      (sortChange)="sort($event)" [style.height.px]="350">


    </td-data-table>

    <!-- <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                <h10>No results to display.</h10>
              </div> -->
    <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [25,50,100,150,200]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </mat-card>
  <div layout="column" layout-align="center center">
    <button mat-button color="primary" (click)="onAssign()" [disabled]="publish">
      <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
    </button>
    &nbsp;
    &nbsp;
    <button mat-button color="primary" (click)="onDeassign()" [disabled]="publish">
      <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <mat-card style="width:45%;height: 20%;">

    <td-data-table #assigned [data]="assignedPos" [columns]="assigendPossConfig" [selectable]="true" [clickable]="true"
      [multiple]="true" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="assigendSelectedRows" [sortOrder]="sortOrder"
      (sortChange)="sort($event)" [style.height.px]="400">


    </td-data-table>

    <!-- <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                      <h10>No results to display.</h10>
                    </div> -->
    <!-- <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [50,100,150,200,500]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar> -->
  </mat-card>


</div>