<h1 mat-dialog-title align="center">Promotion Attribute Value </h1>
<div layout="row" layout-align="center center" *ngIf="data.isEdit">
      <td-message 
          label="Warning!" 
          sublabel="Any updates on promotion attribute will be reflected directly on defined promotion(s)." 
          color="warn" 
          icon="warning">
      </td-message>
</div>
<div fxLayout="column">
    <br/>
<mat-dialog-content>
        <mat-form-field class="size-width-200">
          <input [(ngModel)]="data.attribute" 
                 required 
                 matInput 
                 placeholder="Attribute" 
                 type="text" 
                 maxlength="2"
                 minlength="1"
                 name="attribute" 
                 pattern="[a-zA-Z0-9 ]*"
                 #attribute="ngModel">
          <mat-error *ngIf="attribute.hasError('required')">
              Attribute is required
          </mat-error>
          <mat-error *ngIf="attribute.hasError('pattern')">
              Only capital alphabet or numbers value accepted. 
        </mat-error>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="size-width-200">
          <input [(ngModel)]="data.value" 
                name="value" 
                required 
                matInput 
                placeholder="Value" 
                maxlength="4"
                minlength="1"
                pattern="([0-9]{0,6})?"
                #value="ngModel">
          <mat-error *ngIf="value.hasError('required')">
            Value is required
          </mat-error>

          <mat-error *ngIf="value.hasError('pattern')">
            Only number value accepted. 
          </mat-error>

        </mat-form-field>
      </mat-dialog-content>
      
      <mat-dialog-actions align="center">
        <button mat-raised-button [disabled]="attribute.invalid || value.invalid"
                color="primary" [mat-dialog-close]="data" tabindex="2">Save</button>
        <button mat-raised-button (click)="cancel()" tabindex="-1">Cancel</button>
      </mat-dialog-actions>

    </div>