<!-- <div>
  <button *ngIf="isAddVisible" type="button" mat-icon-button 
          (click)="onAddClick(addClickRouteTo, addClickQueryParams)" 
          [routerLink]="[addClickRouteTo]"
          [queryParams]="addClickQueryParams">
    <mat-icon matTooltip="{{addTooltip}}">add</mat-icon>
  </button>

  <button *ngIf="isDeleteVisible" type="button" mat-icon-button (click)="onDeleteClick()">
    <mat-icon matTooltip="{{deleteTooltip}}">clear</mat-icon>
  </button>

  <button *ngIf="isActivateVisible" type="button" mat-icon-button (click)="onActivateDeactivateClick(true)">
      <mat-icon matTooltip="{{activateTooltip}}" >done</mat-icon>
  </button>

  <button *ngIf="isDeactivateVisible" type="button" mat-icon-button (click)="onActivateDeactivateClick(false)">
      <mat-icon matTooltip="{{deactivateTooltip}}">block</mat-icon>
  </button>

  <button *ngIf="isRefreshVisible" type="button" mat-icon-button (click)="onRefreshClick()">
      <mat-icon matTooltip="{{refreshTooltip}}">refresh</mat-icon>
  </button>

</div> -->