
    <td-data-table #deAssignProductDt 
        [columns]="deassignProductColumnConfig" 
        [data]="data.list"
        [selectable]="false"
        [clickable]="false" 
        [multiple]="false"  
        [sortable]="false" 
        [style.height.px]="200">
        <ng-template tdDataTableTemplate="undo" let-value="value" let-row="row">
                <button  mat-icon-button type="button" (click)="removeAssignProduct(row)">
                         <mat-icon>remove_circle</mat-icon>
                </button>
           </ng-template>
</td-data-table>


<mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="cancel()" tabindex="-1">Close</button>
  </mat-dialog-actions>
