<p>Some products have a promotion.If you press OK,the products will be removed from defined promotions and added to this promotion.For more information click on the Details button.</p> 

<mat-dialog-actions align="center">
        <button mat-raised-button  color="primary"  (click)="overritePromotion()">Ok</button>
        <button mat-raised-button  color="primary"  (click)="cancel()">Cancel</button>
        <button mat-raised-button  color="primary"  (click)="openPromotionProductsInfoDialog()">Details</button>
</mat-dialog-actions>
