<h1 mat-dialog-title align="center">Promotion Quantity And Value </h1>

<div fxLayout="column">
<mat-dialog-content>
        <mat-form-field class="size-width-200">
          <input [(ngModel)]="data.quantity" 
                  required 
                  matInput 
                  placeholder="Quantity" 
                  type="number" 
                  pattern="([0-9]{0,6})?"
                  name="quantity" 
                  #quantity="ngModel">
          <mat-error *ngIf="quantity.hasError('required')">
            Quantity is required
          </mat-error>
          <mat-error *ngIf="quantity.hasError('pattern')">
            Quantity should be valid number
          </mat-error>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="size-width-200">
          <input [(ngModel)]="data.freeItem" 
                 name="freeItem" 
                 required 
                 matInput 
                 minlength="1" 
                 maxlength="4"
                 pattern="([0-9]{0,6})?"
                 placeholder="Free Items" 
                 #value="ngModel">
          <mat-error *ngIf="value.hasError('required')">
            Free Items is required
          </mat-error>
          <mat-error *ngIf="value.hasError('pattern')">
              Free Items should be valid number
            </mat-error>
        </mat-form-field>
      </mat-dialog-content>
      
      <mat-dialog-actions align="center">
        <button mat-raised-button [disabled]="quantity.invalid || value.invalid"
                color="primary" [mat-dialog-close]="data" tabindex="2">Save</button>
        <button mat-raised-button (click)="cancel()" tabindex="-1">Cancel</button>
      </mat-dialog-actions>

    </div>