<h1 mat-dialog-title align="center">Promotion Attribute And Value </h1>

<div fxLayout="column">
    <mat-dialog-content>
        <mat-form-field class="size-width-400">
            <mat-select required 
                        ngModel 
                        placeholder="Attribute" 
                        #attribute="ngModel" 
                        name="attribute"
                        [(ngModel)]="data.attribute">
                <mat-option *ngFor="let pro of data.attributeList" [value]="pro.attribute">
                    {{ pro.attribute}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="attribute.invalid && attribute.touched">
                    Attribute is required
            </mat-error>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="size-width-200">
            <input [(ngModel)]="data.freeItem" 
                   name="freeItem" 
                   required 
                   matInput 
                   placeholder="Free Items" 
                   minlength="1" 
                   maxlength="4"
                   pattern="([0-9]{0,6})?"
                   #freeItem="ngModel">
            <mat-error *ngIf="freeItem.hasError('required')">
                Free Items is required
            </mat-error>
            <mat-error *ngIf="freeItem.hasError('pattern')">
                Free Items should be valid number
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button [disabled]="attribute.invalid || freeItem.invalid" color="primary"
            [mat-dialog-close]="data" tabindex="2">Save</button>
        <button mat-raised-button (click)="cancel()" tabindex="-1">Cancel</button>
    </mat-dialog-actions>

</div>