<p mat-dialog-title align="center">Product Information</p>
<mat-dialog-content>
    <td-data-table #promotionProductDt 
    [data]="data.items"
    [columns]="PromotionProductColumnConfig"
    [style.height.px]="200">

    <ng-template tdDataTableTemplate="promotion.name" let-value="value">
      <p matTooltip="{{ value }}">{{ value }}</p>
    </ng-template>

    <ng-template tdDataTableTemplate="promotionDetails" let-value="value">
      <p matTooltip="{{ value }}">{{ value }}</p>
    </ng-template>

  
  </td-data-table>


</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-flat-button color="primary" mat-raised-button (click)="cancel()" tabindex="-1">OK</button>
</mat-dialog-actions>
