<h5 mat-dialog-title>Related Tickets</h5>
  <mat-dialog-content [style.width.px]=400>

      <mat-list *ngFor="let ticket of data.relatedTickets">
          <mat-list-item>
              <h3 matLine> {{ticket.subject}} </h3>
            <p matLine>
              <span>Under Type: {{ticket.typeName}} </span>        
            </p>
          </mat-list-item>
        </mat-list> 
  
 </mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> 

