<div mat-dialog-content>
    <form #comboDialogForm="ngForm">
  <div class="size-width-200">

        <mat-form-field class="size-width-400" style="width:400px;">
                <input ngModel
                        [(ngModel)]="data.product" placeholder="Product"
                        disabled
                        matInput
                        name="product">
            </mat-form-field>
  </div>

  <div>
        <mat-form-field>
            <input [(ngModel)]="data.quantity" required pattern="^[0-9]{1,15}$" type="text" matInput placeholder="Quantity" name="quantity">
            <mat-error>Quantity is required and must be a valid number.</mat-error>
        </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
            <input [formControl]="discountItemField"  [(ngModel)]="data.discountAmount" required max="100"  pattern="(^[0-9]{1,3})(\.\d{1,3})?" type="text" matInput placeholder="Discount %" name="discountAmount">
        </mat-form-field>
  </div>  
</form>
<div align="center">
  <button mat-raised-button color="primary" [disabled]="!(comboDialogForm.form.valid && discountItemField.valid )" [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
