<div layout="row" layout-align="space-between start">
    <div layout="column">
        <div [style.height.px]="50"[style.width.px]="500">
            <td-search-box #searchBox 
                          backIcon="keyboard_arrow_right" 
                          placeholder="Search here" 
                          (searchDebounce)="search($event)"
                          flex></td-search-box>
           </div>
        <div layout="row">
         <!--<mat-divider></mat-divider> -->
        <td-data-table 
        #dataTable
        [data]="_allProducts" 
        [columns]="columnsConfig" 
        [selectable]="false" 
        [clickable]="true" 
        [multiple]="true"
        [sortable]="true" 
        [sortBy]="sortBy" 
        [(ngModel)]="selectedRows" 
        [sortOrder]="sortOrder" 
        (sortChange)="sort($event)"
        [style.width.px]="495"
        [style.height.px]="300">
    
      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-rowIndex="rowIndex"
        [ngxPermissionsOnly]="'ROLE_COMBO_EDIT'">
        <button  mat-icon-button (click)="openProductDialog(row)">
        <mat-icon>queue</mat-icon>
        </button >
      </ng-template>
    
      </td-data-table>
      <span style="width:120px;"></span>
    <td-data-table 
    #dataComboInfoTable 
    [data]="_allInfo" 
    [columns]="columnsComboInfoConfig"
    [style.width.px]="615"
    [style.height.px]="300">

  <ng-template tdDataTableTemplate="edit" let-value="value" let-row="row" let-rowIndex="rowIndex"
    [ngxPermissionsOnly]="'ROLE_COMBO_EDIT'">
    <button  mat-icon-button (click)="onEditDialog(id, row)">
    <mat-icon>edit</mat-icon>
    </button >
  </ng-template>

  <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-rowIndex="rowIndex"
    [ngxPermissionsOnly]="'ROLE_COMBO_EDIT'">
    <button type="button" mat-icon-button (click)="onDeleteComboInfo(row)">
        <mat-icon matTooltip="Delete">clear</mat-icon>
      </button>
  </ng-template>
  </td-data-table>
  </div>
  <div layout="row"align="left" style="width:500px;">
      <div hide-xs class="selected-rows-padding">
        <p class="md-caption" *ngIf="selectedRows.length">
          {{selectedRows.length}} item(s) selected
        </p>
      </div>
      <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
        <span hide-xs>Rows per page:</span>
        <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
          <mat-option *ngFor="let size of [25, 50,100, 200]" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
        {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
      </td-paging-bar>
    </div>

  </div>
</div>