<mat-card>
<div *ngIf="privilegeProfileModRole.length">
<td-data-table 
  #dataTable
  [data]="privilegeProfileModRole"
  [columns]="columnsConfig"
  selectable="true"
  clickable="false"
  multiple="true"
  sortable="false"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"
  (sortChange)="sort($event)"
  [(ngModel)]="_selectedRows"
  [compareWith]="compareWith"
  [style.height.px]="400">
  </td-data-table>
</div>
<div class="md-padding" style="height: 400px;" *ngIf="!privilegeProfileModRole.length" layout="row" layout-align="center center">
    <h4>No module role(s) defined for the selected application.</h4>
</div>
</mat-card>