<mat-dialog-content>
    <h3 mat-dialog-title>Assign To Delivery Man</h3>

    <mat-tab-group layout="row" layout-align="center center">
        <mat-tab label="Delivery Details">

            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                <mat-select [formControl]="deliveryUserFormControl" 
                            required
                            [disabled]="data.shipmentOrder.orderStatusType.name=='Shipped'"
                            placeholder="Delivery User" 
                            name="deliveryMan"
                            (selectionChange)="onChangeDeliveryUser($event)">
                <mat-option *ngFor="let deliveryMan of data.deliveryUsers" [value]="deliveryMan.id">
                             {{deliveryMan.name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="deliveryUserFormControl.hasError('required')">Delivery user is required</mat-error>
            </mat-form-field>
            
            <span style="width:80px;"></span>

            <mat-form-field class="size-width-300">
                <input name="invoiceNo " 
                       matInput
                       [disabled]="_shipmentOrderDelivery.shipmentOrder.assignToDeliveryUser"
                       ngModel
                       pattern="([0-9]{0,6})(\.\d{1,2})?"
                       #invoiceNo="ngModel"
                       required
                       placeholder="Invoice No" 
                       [(ngModel)]="_shipmentOrderDelivery.invoiceNo">
                       <mat-error *ngIf="invoiceNo.invalid && invoiceNo.touched && !invoiceNo.hasError('pattern')">Invoice No is required</mat-error>
                       <mat-error *ngIf="invoiceNo.hasError('pattern')">invoice no should be 6 digits </mat-error>
            </mat-form-field>

            </div>

            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                    <input name="name" 
                           matInput
                           placeholder="Shop Name" 
                           [(ngModel)]="data.posAssignVendor.posUser.name"
                           disabled="true">
                </mat-form-field>

                <span style="width:80px;"></span>

                <mat-form-field class="size-width-300">
                    <input name="mobileNumber" 
                           matInput 
                           placeholder="Shop Mobile Number" 
                           [(ngModel)]="data.posAssignVendor.posUser.mobileNumber"
                           disabled="true" 
                           type="tel">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                    <input name="ownerName" 
                           [(ngModel)]="data.posAssignVendor.posUser.ownerName"
                           matInput
                           disabled="true"
                           placeholder="Owner Name">
                </mat-form-field>
                <span style="width:80px;"></span>
                <mat-form-field class="size-width-300">
                    <input name="ownerMobileNumber" 
                           matInput 
                           [ngModel]="data.posAssignVendor.posUser.ownerMobileNumber"
                           placeholder="Owner Mobile Number"
                           disabled
                           type="tel" >
                    <mat-icon matSuffix>contact_phone</mat-icon>
                </mat-form-field>
            </div>


            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                    <input name="landNumber" 
                           matInput 
                           [(ngModel)]="data.posAssignVendor.posUser.landNumber"
                           placeholder="Land Number" 
                           disabled="true"
                           type="tel">
                    <mat-icon matSuffix>ring_volume</mat-icon>
                </mat-form-field>
                <span style="width:80px;"></span>
                <mat-form-field class="size-width-300">
                    <input name="fax"
                           matInput 
                           [(ngModel)]="data.posAssignVendor.posUser.fax"
                           placeholder="Fax" 
                           disabled="true"
                           type="tel">
                    <mat-icon matSuffix>perm_phone_msg</mat-icon>
                </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                    <input name="email" 
                           matInput
                           [(ngModel)]="data.posAssignVendor.posUser.email"
                           placeholder="E-mail" 
                           disabled="true"
                           type="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <span style="width:80px;"></span>
                <mat-form-field class="size-width-300">
                    <input name="posGroup" 
                           [(ngModel)]="data.posAssignVendor.posGroup.name"
                           matInput
                           disabled="true"
                           placeholder="POS Group">
                </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                    <input name="City" 
                           matInput
                           [(ngModel)]="data.posAssignVendor.region.city.name"
                           disabled="true"
                           placeholder="City">
                </mat-form-field>
                <span style="width:80px;"></span>
                <mat-form-field class="size-width-300">
                    <input name="area" 
                           matInput
                           [(ngModel)]="data.posAssignVendor.region.name"
                           disabled="true"
                           placeholder="Area"> 
                </mat-form-field>
            </div>
            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                    <input  name="trn" 
                           matInput
                           [(ngModel)]="data.posAssignVendor.posUser.trn"
                           disabled="true"
                           placeholder="TRN">
                </mat-form-field>
                <span style="width:80px;"></span>
                <mat-form-field class="size-width-300">
                    <input  name="posCode" 
                           matInput
                           [(ngModel)]="data.posAssignVendor.posUser.posCode"
                           disabled="true"
                           placeholder="POS Code">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>

        </mat-tab>

        <mat-tab label="View Location">
            <div class="row" layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                    <input matInput 
                           ngModel 
                           #latitude="ngModel" 
                           disabled
                           [(ngModel)]="data.posAssignVendor.posUser.latitude"
                           placeholder="Latitude" 
                           type="number" 
                           name="latitude"
                           pattern="(-?[0-8]?[0-9](\.\d*)?)|-?90(\.[0]*)?">
                </mat-form-field>
                <span style="width:80px;"></span>
                <mat-form-field class="size-width-30">
                    <input matInput 
                           ngModel 
                           #longitude="ngModel" 
                           disabled 
                           [(ngModel)]="data.posAssignVendor.posUser.longitude"
                           placeholder="Longitude" 
                           type="number" 
                           name="longitude"
                           pattern="(-?([1]?[0-7][1-9]|[1-9]?[0-9])?(\.\d*)?)|-?180(\.[0]*)?">
                </mat-form-field>
                <span style="width:80px;"></span>
            </div>
            <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}">
            </p-gmap>
        </mat-tab>

    </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="save()" 
            [disabled]="!isChangeDeliveryUser || !deliveryUserFormControl.valid || invoiceNo.invalid">
        <span>Save</span>
    </button>
    <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>