<h3 mat-dialog-title>Shipment History</h3>

<mat-dialog-content class="mat-typography">

    <td-data-table #shipmentOrderHistory 
                   [data]="_shipmnetOrderHistory" 
                   [columns]="shipmentOrderHistoryColumnConfig"
                   [style.height.px]="270" 
                   [style.width.px]="1000">
    </td-data-table>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button (click)="close()">
        <span>Close</span>
    </button>
</mat-dialog-actions>