<mat-card class="view-height">
  <br />
  <div
    layout="column"
    layout-align="space-evenly center"
  >
    <div
      layout="row"
      layout-align="space-evenly center"
    >
      <th width="50px"></th>
      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Order #</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="orderNumber"
          [(ngModel)]="shipmentOrderService.shippmentOrder.order.orderNumber"
        />
      </mat-form-field>

      <th width="25px"></th>
      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Order Date </mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="orderDate"
          [ngModel]="
            shipmentOrderService.shippmentOrder.order.audit.createdDate
              | date: 'dd-MMM-yyyy'
          "
        />
      </mat-form-field>

      <th width="25px"></th>
      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Point of Sale</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="POS"
          [ngModel]="shipmentOrderService.shippmentOrder.order.posUser.name"
        />
      </mat-form-field>

      <th width="25px"></th>
      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Mobile</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="mobile"
          [(ngModel)]="
            shipmentOrderService.shippmentOrder.order.posUser.mobileNumber
          "
        />
      </mat-form-field>

      <th width="25px"></th>
      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Warehouse</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="warehouse"
          [(ngModel)]="shipmentOrderService.shippmentOrder.warehouse.name"
        />
      </mat-form-field>

      <th width="25px"></th>
      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">POS Group</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          [(ngModel)]="
            shipmentOrderService.shippmentOrder.order.posUser
              .posAssignVendorList[0].posGroup.name
          "
          name="posGroup"
        />
      </mat-form-field>

      <th width="25px"></th>

      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Total Amount</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="totalAmount"
          [(ngModel)]="shipmentOrderService.shippmentOrder.order.totalAmount"
        />
      </mat-form-field>

      <th width="25px"></th>

      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Order Status</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="orderStatus"
          [(ngModel)]="
            shipmentOrderService.shippmentOrder.order.orderStatus.name
          "
        />
      </mat-form-field>
    </div>

    <div layout="row" layout-align="space-evenly center" color="black">
      <th width="50px"></th>

      <mat-form-field class="size-width-150">
        <mat-label class="label-class">ShipmentNo.</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="shipmentNo"
          [(ngModel)]="shipmentOrderService.shippmentOrder.shipmentNo"
        />
      </mat-form-field>

      <th width="25px"></th>

      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Shipment Date</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="shipmentDate"
          [ngModel]="
            shipmentOrderService.shippmentOrder.audit.createdDate
              | date: 'dd-MMM-yyyy'
          "
        />
      </mat-form-field>

      <th width="25px"></th>

      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Shipment Status</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="shipmentStatus"
          [(ngModel)]="shipmentOrderService.shippmentOrder.orderStatusType.name"
        />
      </mat-form-field>

      <th width="25px"></th>

      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Assigned Delivery User</mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="assignedDeliveryUser"
          [(ngModel)]="
            shipmentOrderService.shippmentOrder.shipmentOrderDeliveryList[0]
              .deliveryUser.name
          "
        />
      </mat-form-field>

      <th width="25px"></th>

      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Assigned Date </mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="assignedDate"
          [ngModel]="
            shipmentOrderService.shippmentOrder.shipmentOrderDeliveryList[0]
              .audit.createdDate | date: 'dd-MMM-yyyy'
          "
        />
      </mat-form-field>

      <th width="25px"></th>

      <mat-form-field class="size-width-150" color="black">
        <mat-label class="label-class">Assigned By </mat-label>
        <input
          matInput
          class="inputForm"
          type="text"
          disabled="true"
          name="assignedBy"
          [(ngModel)]="
            shipmentOrderService.shippmentOrder.shipmentOrderDeliveryList[0]
              .audit.createdBy
          "
        />
      </mat-form-field>
    </div>
  </div>

  <td-data-table
    #dataTable
    [data]="_shipmentOrderItem"
    [columns]="shipmentOrderColumnConfig"
    [sortable]="true"
    class="data-table-view-height"
  >
    <ng-template
      tdDataTableTemplate="serial"
      let-value="value"
      let-row="row"
      let-rowIndex="rowIndex"
      [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'"
    >
      <button mat-icon-button (click)="findSerialItems(row)">
        <mat-icon>view_headline</mat-icon>
      </button>
    </ng-template>

    <ng-template
      tdDataTableTemplate="id"
      let-value="value"
      let-row="row"
      let-rowIndex="rowIndex"
      [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'"
    >
      <button
        mat-icon-button
        (click)="shipmentOrderItemHistory(row)"
        [disabled]="isButtonDetailsClicked"
      >
        <mat-icon>history</mat-icon>
      </button>
    </ng-template>
  </td-data-table>

  <mat-card-actions>
    <div class="row" layout="row" layout-align="center center">
      <button
        mat-raised-button
        color="primary"
        (click)="assignToDeliveryMan()"
        [disabled]="
          shipmentOrderHistoryService.assignToDeliveyUserFlag ||
          showSpinnerOnAssignToDeliveryUser
        "
      >
        <span *ngIf="!showSpinnerOnAssignToDeliveryUser"
          >Assign To Delivery Man</span
        >
        <mat-spinner
          diameter="38"
          mode="indeterminate"
          strokeWidth="3"
          class="circle-spinner"
          *ngIf="showSpinnerOnAssignToDeliveryUser"
        ></mat-spinner>
      </button>

      <th width="25px"></th>
      <button
        mat-raised-button
        color="primary"
        (click)="openShipmentOrderHistory()"
      >
        <span>Shipment History</span>
      </button>
      <th width="25px"></th>
      <button mat-raised-button color="primary">
        <span>Print</span>
      </button>
      <th width="25px"></th>
      <a mat-raised-button routerLink="/shipment_order" color="primary">
        Back
      </a>
    </div>
  </mat-card-actions>
</mat-card>
