<mat-dialog-content class="mat-typography">
    <mat-tab-group layout="row" layout-align="center center">
        <mat-tab label="Back to order">
            <div layout="row" layout-align="space-around center">
                <mat-form-field style="width:350px">
                    <input name="InWarehouseQty" 
                           matInput 
                           placeholder="In Warehouse Qty"
                           [(ngModel)]="data.shipmentOrderItemHistory.fulfilledQuantity" 
                           disabled="true">
                </mat-form-field>
                <th width="20"></th>
                <mat-form-field style="width:350px">
                    <input name="BackToOrder" 
                           [formControl]="backToOrderMax" 
                           matInput
                           type="number" 
                           placeholder="Back to Order"
                           [(ngModel)]="_shipmentOrderItemHistory.backToOrder" 
                           (ngModelChange)="backToOrderEvent()"
                           [max]="data.shipmentOrderItemHistory.fulfilledQuantity">
                    <mat-error *ngIf="backToOrderMax.hasError('max') && !backToOrderMax.hasError('required')">
                        Back to order quantity is greater than in warehouse quantity
                    </mat-error>

                    <mat-error *ngIf="backToOrderMax.hasError('min')">
                        Back to order quantity should not be less than 1
                    </mat-error>

                    <mat-error *ngIf="backToOrderMax.hasError('required') && !backToOrderMax.hasError('max')">
                        Back to order is required
                    </mat-error>
                </mat-form-field>
            </div>

            <th height="20"></th>
            <th width="20"></th>

            <div layout="row" layout-align="space-around center">
                <mat-form-field style="width: 350px;">
                    <mat-select [formControl]="backToOrderReasonFormControl" 
                                required 
                                placeholder="Reason"
                                name="backToOrderReason"
                                [disabled]="data.shipmentOrder.assignToDeliveryUser || data.shipmentOrderItemHistory.fulfilledQuantity == 0 ">
                        <mat-option *ngFor="let reason of data.orderRejectedReasonArr" [value]="reason">
                            {{reason.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="backToOrderReasonFormControl.hasError('required')">Reason is required</mat-error>
                </mat-form-field>

                <th width="20"></th>

                <mat-form-field style="width:350px">
                    <input name="newQtyInWarehouse" 
                           matInput 
                           placeholder="New Qty In Warehouse"
                           [(ngModel)]="_shipmentOrderItemHistory.newQuantityWarehouse" 
                           disabled="true">
                </mat-form-field>
            </div>
        </mat-tab>

        <mat-tab label="History">
            <td-data-table #backToOrderDt 
                           [data]="_backToOrderHistoryDtoList" 
                           [columns]="backToOrderHistoryColumnConfig"
                           [style.height.px]="270" 
                           [style.width.px]="1120">
            </td-data-table>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>

<div style="height: 25px;"></div>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="backToOrderMax.invalid || !backToOrderReasonFormControl.valid"
        (click)="onSaveBackToOrder()" [mat-dialog-close]="data">
        <span>Save</span>
    </button>
    <button mat-raised-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>