.size-width-200{
    width:50%;
}
.size-width-300{
    width:300px;
}


.size-width-400{
    width:400px;
}
.size-width-150{
    width:10%;
}
.data-table-view-height{
    height: 60%;
    margin:6px;
}
.view-height{
    height: 97%;
    width: 100%;
    min-width: 500px;
}
.inputForm{
    color:darkgray;
    font-size: 90%;
}
.label-class{
    color:black;
    font-size: 90%;
}