<mat-dialog-content>

    <mat-form-field class="size-width-400">
        <mat-select [(ngModel)]="data.type" placeholder="Type" name="posType">
            <mat-option *ngFor="let posType of data.types" [value]="posType.id">
                        {{ posType.type }}
            </mat-option>
        </mat-select>
    </mat-form-field>
        
</mat-dialog-content>
      
<mat-dialog-actions>
    <button mat-raised-button 
        color="primary" [mat-dialog-close]="data" tabindex="2">Save</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</mat-dialog-actions>