<mat-card>
<mat-sidenav-container style="height: 100%">

    <mat-sidenav #sidenav opened="false" mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="../pos-users">All Point of sales</a>
      </mat-nav-list>
  
    <mat-nav-list>
      <a mat-list-item routerLink="../all-assigned-poss">Assinged Point of sales</a>
      </mat-nav-list>
  
    </mat-sidenav>

    <button type="button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
    </button>

    <div id="block_container">
        
           
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <view-data-pos [isAssign] = "false" 
                      [viewDataPosComponent] = "notAssingedVendors"
                      #assingedVendors>
        </view-data-pos>
      </mat-grid-tile>
      <mat-grid-tile>
        <view-data-pos [isAssign] = "true" 
                      [viewDataPosComponent] = "assingedVendors"
                      #notAssingedVendors>
        </view-data-pos>
      </mat-grid-tile>
    </mat-grid-list>

</div>

</mat-sidenav-container>
</mat-card>