
  <mat-card>
  <div layout="row" layout-align="space-between center" class="pad-left-sm pad-right-sm">
    <span>
            <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title">{{dataTitle}}</span>
            <span *ngIf="selectedRows.length" class="md-body-1">{{selectedRows.length}} item(s) selected</span>
    </span>
    <div>
            <button mat-raised-button color="primary" *ngIf="isAssign" (click)="onChangeType()"> Change Type</button>
            <button mat-raised-button color="primary" (click)="onAssign()"> {{isAssign? "Deassign" : "Assign" }}</button>
          
    </div>
  </div>
  <div>
    <td-search-box #searchBox backIcon="arrow_back" 
            class="push-right-sm" 
            placeholder="Search here" 
            (searchDebounce)="search($event)" flex>
    </td-search-box>
  </div>
  <mat-divider></mat-divider>
  <td-data-table
          #dataTable
          [data]="_allPos"
          [columns]="columnsConfig"
          [selectable]="true"
          [clickable]="true"
          [multiple]="true"
          [sortable]="true"
          [sortBy]="sortBy"
          [(ngModel)]="selectedRows"
          [sortOrder]="sortOrder"
          (sortChange)="sort($event)"
          [style.height.px]="350"
          [compareWith]="compareWith">
  
         
  </td-data-table>

        <!-- <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
          <h10>No results to display.</h10>
        </div> -->
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
    <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [50,100,200,500]" [value]="size">
              {{size}}
        </mat-option>
      </mat-select>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>
      </mat-card>
