<div
  layout="column"
  layout-align="start center strech"
  style="width: 100% ;height: 100%;"
>
  <mat-card layout="column" class="form-card-width">
    <mat-card-content>
      <mat-card-title>{{
        isEdit ? "Edit Pos Group" : "Add Pos Group"
      }}</mat-card-title>
      <form
        #posGroupManagementForm="ngForm"
        layout="column"
        layout-align="center center"
      >
        <div layout="row" layout-align="center center">
          <mat-form-field class="size-width-400">
            <input
              #name="ngModel"
              ngModel
              autocomplete="off"
              matInput
              required
              minlength="3"
              maxlength="20"
              [(ngModel)]="_posGroupManagement.name"
              placeholder="Name"
              type="text"
              name="name"
            />
            <mat-error *ngIf="name.hasError('minlength')"
              >Min length for group name should be 3 character and max length
              should be 20 characters.</mat-error>
            <mat-error
              *ngIf="
                name.invalid && name.touched && !name.hasError('minlength')
              "
              >Name is required</mat-error
            >
          </mat-form-field>
        </div>
        <div layout="row" layout-align="center center">
          <mat-form-field class="size-width-400">
            <input
              matInput
              ngModel
              autocomplete="off"
              #orderMin="ngModel"
              name="orderMin"
              [(ngModel)]="_posGroupManagement.minOrder"
              [(value)]="_posGroupManagement.minOrder"
              (input)="onMinOrderChange($event.target.value)"
              placeholder="Min Order Amount"
              type="number"
              min="1"
              pattern="([0-9]{0,6})"
            />
            <mat-error *ngIf="orderMin.hasError('pattern')"
            >Min amount should be 1 and Max amount should be 6 digits.</mat-error
          >
          </mat-form-field>
        </div>
      </form>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>
      <mat-card-actions></mat-card-actions>

      <mat-card-actions>
        <div class="row" layout="row" layout-align="center center">
          <button
            mat-raised-button
            color="primary"
            (click)="onSave()"
            [disabled]="!posGroupManagementForm.form.valid || showSpinner"
            class="spinner-container"
          >
            <span *ngIf="!showSpinner">Save</span>
            <mat-spinner
              diameter="38"
              mode="indeterminate"
              strokeWidth="3"
              class="circle-spinner"
              *ngIf="showSpinner"
            ></mat-spinner>
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="onSaveAndNew()"
            [disabled]="
              !posGroupManagementForm.form.valid || showSpinnerOnSaveAndNew
            "
            *ngIf="!isEdit"
            class="spinner-container"
          >
            <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
            <mat-spinner
              diameter="38"
              mode="indeterminate"
              strokeWidth="3"
              class="circle-spinner"
              *ngIf="showSpinnerOnSaveAndNew"
            ></mat-spinner>
          </button>
          <a mat-raised-button routerLink="/pos-group-management">
            Cancel
          </a>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
