
  .full-width {
    width: 35%;
  }

  .mid-width {
    width: 18%;
  }
.size-width-400{
  width:400px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
