<h5 mat-dialog-title>Related Products</h5>
  <mat-dialog-content [style.width.px]=400>

      <mat-list *ngFor="let product of data.relatedProducts">
          <mat-list-item>
              <h3 matLine> {{product.productName}} </h3>
            <p matLine>
              <span>Under Brand: {{product.brandName}} </span>        
            </p>
          </mat-list-item>
        </mat-list> 
  
 </mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> 

