.size-width-20{
    width:20px;
    height: auto;
}
.size-width-400{
    width:400px;
    height: auto;
}
.size-width-380{
    width:380px;
    height: auto;
}
.ui-buttonset .ui-button {
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
}
.flex-me {
    display: inline-flex;
    flex-flow: row wrap;
  }
  

