   <div layout="column" layout-align="start center strech"> 
        <mat-card layout="column" style="width: 99%;height:100%;">
            <mat-card-content>
                    <mat-card-title>{{isEdit ? 'Edit Discount' : 'Add Discount'}}</mat-card-title>
                    <mat-tab-group layout="row" layout-align="center center" (selectedTabChange)="onCahngeTab($event)">
                        <mat-tab label="Details">
                            <form #discountForm="ngForm">

                            <div layout="row" layout-align="center center">
                                <mat-card-content>
                                <div layout="row" layout-align="start center" >
                                        <mat-form-field class="size-width-400">
                                                <input class="form-control" matInput required ngModel minlength="3" maxlength="50" #name="ngModel"
                                                [(ngModel)]="_discount.name" autocomplete="off" placeholder="Name" type="text" name="name">
                                              <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is required</mat-error>
                                              <mat-error *ngIf="name.hasError('minlength')">Name must be at least 3 characters for name.</mat-error>                  
                                        </mat-form-field>
                                </div>
                                <div layout="row" layout-align="start center">
                                        <mat-form-field class="size-width-150">
                                                <input name="startDate" matInput required [matDatepicker]="startDate" placeholder="Start Date"
                                                  [(ngModel)]="_discount.startDate">
                                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                                <mat-datepicker #startDate></mat-datepicker>
                                                <mat-error>Start Date is required</mat-error>
                                              </mat-form-field>
                                              <span style="width:88px;"></span>
                                              <mat-form-field class="size-width-150">
                                                <input name="endDate" matInput [matDatepicker]="endDate" placeholder="End Date"
                                                  [(ngModel)]="_discount.endDate">
                                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                                <mat-datepicker #endDate></mat-datepicker>
                                              </mat-form-field>
                                </div>
                                <div layout="row" layout-align="start center">
                                    <mat-form-field layout="row" layout-align="start center" class="size-width-380">
                                    <input name="discount" matInput required placeholder="Discount" ngModel 
                                          pattern="^(?:[1-9][0-9]{0,1}(?:\.\d{0,1})?|100|100.0|[1-9][0-9]{0,1}(?:\.\d{0,2}))$" step="0.1" type="number" (input)="onDiscountPercentageChange($event.target.value)"
                                    #discount="ngModel" [(ngModel)]="_discount.discountValue"/>
                                    <mat-error *ngIf="discount.invalid && discount.touched && !discount.hasError('pattern')">Discount is required</mat-error>  
                                    <mat-error *ngIf="discount.hasError('pattern')">Discount Amount must be a valid number.</mat-error> 
                                    </mat-form-field>   
                                    <mat-form-field class="size-width-20">
                                            <input matInput value="%" type="text" autocomplete="off" disabled='true' name="date">
                                    </mat-form-field>
            
                                </div>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                <mat-card-actions></mat-card-actions>
                                </mat-card-content>
                                            
                                </div>
                              </form>
                        </mat-tab>
                        <mat-tab label="Products">
                            <p-selectButton [options]="groups" [(ngModel)]="selectedPosGroup" (onChange)="onSelectButtonPosGroupChange($event)"></p-selectButton>
                            <app-product-discount [discountId]="_discount.id" [discountValue]="_discount.discountValue" [posGroupId]="posGroupId"></app-product-discount>
                        </mat-tab>

                    </mat-tab-group>
            </mat-card-content>
            <mat-card-actions>
                    <div class="row" layout="row" layout-align="center center">
                      <button mat-raised-button color="primary" (click)="onSaveDiscount()" [disabled]="!discountForm.form.valid || showSpinner" class="spinner-container">
                        <span *ngIf="!showSpinner">Save</span>
                        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinner" class="circle-spinner"></mat-spinner>
                      </button>
                      <button mat-raised-button color="primary" (click)="onSaveAndNew()" [disabled]="!discountForm.form.valid || showSpinnerOnSaveAndNew"
                        *ngIf="!isEdit"  class="spinner-container">
                        <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinnerOnSaveAndNew" class="circle-spinner"></mat-spinner>
                      </button>
                      <a mat-raised-button (click)="onCancel()">
                        Cancel
                      </a>
                    </div>
            
                    &nbsp;
                    &nbsp;
            </mat-card-actions>            
        </mat-card>
</div>
