.full-width {
    width: 35%;
  }

  .mid-width {
    width: 17%;
  }
  .readonly-wrapper {
    cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
    pointer-events: none;
}
.size-width-400{
  width:400px;
}