<div layout="column" layout-align="center center" class="form-card-container-height" style="height:100%;">
    <mat-card layout="column" layout-align="space-evenly center" class="form-card-width" style="width:98%;">
        <mat-card-content>
            <mat-card-title>{{isEdit ? 'Edit Category' : 'Add Category'}}</mat-card-title>
            <form #categoryForm="ngForm">
                <div class="row" layout="row" layout-align="center center">
                    <mat-form-field class="size-width-400">
                        <mat-select ngModel [(ngModel)]="_category.parent.id" [(value)]="selected" placeholder="Parent Category" name="parentCategory"
                            [disabled]="isEdit">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let currentCategory of listOfCategories" [value]="currentCategory.id" 
                        >
                                {{ currentCategory.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row" layout="row" layout-align="center center">
                    <mat-form-field class="size-width-400">
                        <input matInput required ngModel minlength="3" maxlength="30" #name="ngModel" [(ngModel)]="_category.name"
                            placeholder="Name" type="text" name="name">
                        <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is required</mat-error>
                        <mat-error *ngIf="name.hasError('minlength')">Name must be at least 3 characters</mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="row" layout="row" layout-align="center center">
            <mat-form-field class="size-width-400">
                <textarea matInput ngModel rows="10" maxlength="500"
                            [(ngModel)]="_category.description" placeholder="Description"
                            name="description"></textarea>
            </mat-form-field>
        </div> -->
            </form>
        </mat-card-content>

        <mat-card-actions>
            <div class="row" layout="row" layout-align="center center">
                <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!categoryForm.form.valid || showSpinner" class="spinner-container">
                    <span *ngIf="!showSpinner">Save</span>
                    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinner"></mat-spinner>
                </button>
                <button mat-raised-button color="primary" (click)="onSaveAndNew()" [disabled]="!categoryForm.form.valid || showSpinnerOnSaveAndNew"
                    *ngIf="!isEdit" class="spinner-container">
                    <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
                </button>
                <a mat-raised-button (click)="onCancel()">
                    Cancel
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>