<div layout="column" layout-align="start center strech">
    <mat-card layout="column" class="form-card-width">
        <mat-card-content>
            <mat-card-title>{{isEdit ? 'Edit Loyalty' : 'Add Loyalty'}}</mat-card-title>
            <form #loyaltyForm="ngForm" layout="column" layout-align="center center">
                <div layout="row" layout-align="space-evenly start">
                    <div layout="column" style="width:100%">
                        <div layout="row" layout-align="start start">
                            <span style="width:10px;"></span>
                            <mat-form-field class="size-width-400">
                                <input class="form-control" matInput required ngModel minlength="3" maxlength="30"
                                    #barcode="ngModel" autocomplete="off" [(ngModel)]="_loyalty.name" placeholder="Name" type="text"
                                    name="name">
                                <mat-error>Name is required</mat-error>
                            </mat-form-field>

                            <span style="width: 130px"></span>

                            <p style="font-size: 16px;">1 {{currencyName}}<span style="width: 65px;"></span> = &nbsp;
                            </p>
                            <mat-form-field class="size-width-400">
                                <input class="form-control" matInput required ngModel minlength="1" maxlength="8"
                                    #barcode="ngModel" [(ngModel)]="_loyalty.loyaltyFactor" placeholder="Loyalty Factor"
                                    type="number" name="points" step="0.01" pattern="([0-9]{0,6})(\.\d{1,2})?">
                                <mat-error>Loyalty factor is required, length between 1 to 6 digits and decimal 2
                                    digits.</mat-error>
                            </mat-form-field> <span style="width:78px;"></span>

                            <!-- <div layout="row" layout-align="start center">
                                            
                                        </div> -->
                        </div>

                        <view-product-loyalty [loyaltyFactorField]="!loyaltyForm.form.valid"
                            [loyaltyFactor]="_loyalty.loyaltyFactor"></view-product-loyalty>
                    </div>


                </div>
            </form>

            <mat-card-actions>
                <div class="row" layout="row" layout-align="center center">
                    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!loyaltyForm.form.valid || showSpinner" class="spinner-container">
                        <span *ngIf="!showSpinner">Save</span>
                        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner"></mat-spinner>
                    </button>
                    <button mat-raised-button color="primary" (click)="onSaveAndNew()" class="spinner-container"
                        [disabled]="!loyaltyForm.form.valid || showSpinnerOnSaveAndNew" *ngIf="!isEdit">
                        <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
                    </button>
                    <a mat-raised-button routerLink="/loyalty">
                        Cancel
                    </a>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>