.size-width-90 {
    width: 90px;
    height: auto;
}

.size-width-110 {
    width: 110px;
    height: auto;
}
.form-card-container-height{
    height: auto;
}
.size-width-400 {
width:400px;
}
.size-width-250{
    width:250px;
}
.size-width-200{
    width:200px;
}
.CodeMirror-scroll {
    min-height: 200px;
}

.size-width-875 {
    width: 875px;
    height:500px;
}

.CodeMirror{
    height:200px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



