<div
  layout="column"
  layout-align="start center"
  class="form-card-container-height"
>
  <mat-card
    layout="column"
    layout-align="start center strech"
    class="form-card-width"
    style="height: 98%;width:98%"
  >
    <mat-card-content>
      <mat-tab-group layout="row" layout-align="center center">
        <mat-tab label="Information">
          <form #productForm="ngForm">
            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400  padding-right-2">
                <mat-select
                  required
                  ngModel
                  #category="ngModel"
                  [(ngModel)]="product.category.id"
                  placeholder="Category"
                  name="category"
                >
                  <mat-option
                    *ngFor="let category of listOfCategories"
                    [value]="category.id"
                  >
                    {{ category.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="category.invalid && category.touched"
                  >Category is required</mat-error
                >
              </mat-form-field>
              <span style="width: 80px;" *ngIf="!_isUserLoggedInVendor"></span>
              <mat-form-field
                class="size-width-400"
                *ngIf="!_isUserLoggedInVendor"
              >
                <mat-select
                  required
                  placeholder="Vendor"
                  required
                  ngModel
                  #vendor="ngModel"
                  [(ngModel)]="product.vendor.id"
                  name="vendor"
                >
                  <mat-option
                    *ngFor="let vendor of listOfVendors"
                    [value]="vendor.id"
                  >
                    {{ vendor.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="vendor.invalid && vendor.touched"
                  >Vendor is required</mat-error
                >
              </mat-form-field>
              <span style="width: 80px;" *ngIf="_isUserLoggedInVendor"></span>
              <mat-form-field
                class="size-width-400 padding-right-2"
                *ngIf="_isUserLoggedInVendor"
              >
                <input
                  matInput
                  required
                  ngModel
                  minlength="3"
                  maxlength="100"
                  #name="ngModel"
                  [(ngModel)]="product.name"
                  autocomplete="off"
                  placeholder="Name"
                  type="text"
                  name="name"
                />
                <mat-error *ngIf="name.invalid && name.touched"
                  >Name is required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field
                class="size-width-400 padding-right-2"
                *ngIf="!_isUserLoggedInVendor"
              >
                <input
                  matInput
                  required
                  ngModel
                  minlength="3"
                  maxlength="100"
                  #name="ngModel"
                  [(ngModel)]="product.name"
                  placeholder="Name"
                  type="text"
                  name="name"
                />
                <mat-error *ngIf="name.invalid && name.touched"
                  >Name is required</mat-error
                >
              </mat-form-field>
              <span style="width:80px;" *ngIf="!_isUserLoggedInVendor"></span>
              <mat-form-field class="size-width-400">
                <mat-select
                  required
                  #productBrand="ngModel"
                  [(ngModel)]="product.brand.id"
                  placeholder="Brand"
                  name="productBrand"
                >
                  <mat-option
                    *ngFor="let brand of listOfBrands"
                    [value]="brand.id"
                  >
                    {{ brand.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="productBrand.invalid && productBrand.touched"
                  >Brand is required
                </mat-error>
              </mat-form-field>
              <span style="width: 80px;" *ngIf="_isUserLoggedInVendor"></span>
              <mat-form-field
                class="size-width-400"
                *ngIf="_isUserLoggedInVendor"
              >
                <input
                  matInput
                  ngModel
                  #vat="ngModel"
                  [(ngModel)]="product.vat"
                  [(value)]="product.vat"
                  placeholder="VAT  %"
                  type="number"
                  name="vat"
                  step="0.01"
                  min="0"
                  max="100"
                  (change)="onVatChange($event)"
                  pattern="^(\d{0,2}(\.\d{1,2})?|100(\.00?)?)$"
                />
                <mat-error
                  *ngIf="
                    vat.hasError('pattern') &&
                    vat.invalid &&
                    vat.touched &&
                    vatIsNull
                  "
                >
                  VAT is required</mat-error
                >
                <mat-error
                  *ngIf="
                    vat.hasError('pattern') &&
                    vat.invalid &&
                    vat.touched &&
                    !vatIsNull
                  "
                >
                  Please enter a number between 0 and 100 with this format
                  99.99</mat-error
                >
              </mat-form-field>
            </div>

            <div layout-align="center center">
              <div layout="row" layout-align="center center">
                <mat-form-field
                  class="size-width-250"
                  *ngIf="!_isUserLoggedInVendor"
                >
                  <input
                    class="form-control"
                    matInput
                    ngModel
                    maxlength="20"
                    #barcode="ngModel"
                    [(ngModel)]="product.barcode"
                    placeholder="Barcode"
                    type="text"
                    name="barcode"
                  />
                </mat-form-field>
                <span style="width:2px;"></span>
                <mat-form-field
                  class="size-width-150"
                  *ngIf="!_isUserLoggedInVendor"
                >
                  <input
                    class="form-control"
                    matInput
                    ngModel
                    maxlength="10"
                    #itemCode="ngModel"
                    [(ngModel)]="product.itemCode"
                    placeholder="Item Code"
                    type="text"
                    name="itemCode"
                  />
                </mat-form-field>
                <span style="width:80px;" *ngIf="!_isUserLoggedInVendor"></span>
                <mat-form-field
                  class="size-width-400"
                  *ngIf="!_isUserLoggedInVendor"
                >
                  <input
                    name="expiryDate"
                    class="form-control"
                    matInput
                    [matDatepicker]="expiryDate"
                    [(ngModel)]="product.expiryDate"
                    placeholder="Expiry Date"
                    type="text"
                  />

                  <mat-datepicker-toggle
                    matSuffix
                    [for]="expiryDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #expiryDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400 padding-right-2">
                  <input
                    matInput
                    ngModel
                    minlength="3"
                    maxlength="100"
                    #name="ngModel"
                    [(ngModel)]="product.alternativeName"
                    placeholder="Generic Name"
                    type="text"
                    name="alternativeName"
                  />
                  <!-- <mat-error *ngIf="alternativeName.invalid && alternativeName.touched">Name is required</mat-error> -->
                </mat-form-field>
                <span style="width: 80px;"></span>
                <mat-form-field
                  class="size-width-200 padding-right-2"
                  *ngIf="_isUserLoggedInVendor"
                >
                  <input
                    matInput
                    required
                    ngModel
                    #price="ngModel"
                    [(ngModel)]="product.price"
                    [(value)]="product.price"
                    (input)="onPriceChange($event.target.value)"
                    placeholder="Net Price"
                    type="number"
                    name="price"
                    step="0.01"
                    pattern="([0-9]{0,6})(\.\d{1,2})?"
                  />
                  <mat-error
                    *ngIf="
                      price.invalid &&
                      price.touched &&
                      !price.hasError('pattern')
                    "
                  >
                    Price is required</mat-error
                  >
                  <mat-error *ngIf="price.hasError('pattern')"
                    >Please enter a number with this format 999999.99</mat-error
                  >
                </mat-form-field>

                <mat-form-field class="size-width-200">
                  <input
                    matInput
                    placeholder=" Price with Vat     % "
                    type="number"
                    name="netPrice"
                    step="0.01"
                    min="0"
                    max="100"
                    value="{{ priceValueFromEvent }}"
                    readonly
                    step="0.01"
                    pattern="([0-9]{0,6})(\.\d{1,2})?"
                  />
                </mat-form-field>
              </div>

              <div
                class="row"
                layout="row"
                layout-align="center center"
                *ngIf="!_isUserLoggedInVendor"
              >
                <mat-form-field class="size-width-200 padding-right-2">
                  <input
                    matInput
                    required
                    ngModel
                    #price="ngModel"
                    [(ngModel)]="product.price"
                    (keyup)="onPriceChange($event)"
                    placeholder="Price"
                    type="number"
                    name="price"
                    step="0.01"
                    pattern="([0-9]{0,6})(\.\d{1,2})?"
                  />
                  <mat-error
                    *ngIf="
                      price.invalid &&
                      price.touched &&
                      !price.hasError('pattern')
                    "
                  >
                    Price is required</mat-error
                  >
                  <mat-error *ngIf="price.hasError('pattern')"
                    >Please enter a number with this format 999999.99</mat-error
                  >
                </mat-form-field>

                <mat-form-field class="size-width-200">
                  <input
                    matInput
                    ngModel
                    #vat="ngModel"
                    [(ngModel)]="product.vat"
                    placeholder="VAT"
                    type="number"
                    name="vat"
                    step="0.01"
                    min="0"
                    max="100"
                    value="{product.vendor.vat}"
                    (keyup)="onVatChange($event)"
                    pattern="^(\d{0,2}(\.\d{1,2})?|100(\.00?)?)$"
                  />
                  <mat-error
                    *ngIf="
                      vat.invalid && vat.touched && !vat.hasError('pattern')
                    "
                    >VAT is required</mat-error
                  >
                  <mat-error *ngIf="vat.hasError('pattern')"
                    >Please enter a number between 0 and 100 with this format
                    99.99</mat-error
                  >
                </mat-form-field>
                <span style="width:80px;"></span>
              </div>

              <div
                class="row"
                layout="row"
                layout-align="center center"
                *ngIf="_isUserLoggedInVendor"
              >
                <mat-form-field
                  class="size-width-400"
                  *ngIf="_isUserLoggedInVendor"
                >
                  <input
                    name="expiryDate"
                    class="form-control"
                    matInput
                    [matDatepicker]="expiryDate"
                    [(ngModel)]="product.expiryDate"
                    placeholder="Expiry Date"
                    type="text"
                  />

                  <mat-datepicker-toggle
                    matSuffix
                    [for]="expiryDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #expiryDate></mat-datepicker>
                </mat-form-field>
                <span style="width: 80px"></span>
                <mat-form-field class="size-width-200 padding-right-2">
                  <input
                    matInput
                    #retail="ngModel"
                    [(ngModel)]="product.retailPrice"
                    placeholder="Retail Price"
                    type="number"
                    name="retailPrice"
                    [(value)]="product.retailPrice"
                    (input)="onRetailPriceChange($event.target.value)"
                    step="0.01"
                    pattern="([0-9]{0,6})(\.\d{1,2})?$"
                  />
                  <mat-error *ngIf="retail.hasError('pattern')"
                    >Please enter a number with this format 999999.99</mat-error
                  >
                </mat-form-field>
                <mat-form-field class="size-width-200">
                  <input
                    matInput
                    placeholder=" Retail Price with Vat     % "
                    type="number"
                    name="retailPriceWithVat"
                    step="0.01"
                    min="0"
                    max="100"
                    value="{{ retailPriceValueFormEvent }}"
                    readonly
                    step="0.01"
                    pattern="([0-9]{0,6})(\.\d{1,2})?"
                  />
                </mat-form-field>
              </div>

              <div
                class="row"
                layout="row"
                layout-align="center center"
                *ngIf="!_isUserLoggedInVendor"
              >
                <mat-form-field class="size-width-400">
                  <input
                    matInput
                    #retail="ngModel"
                    [(ngModel)]="product.retailPrice"
                    placeholder="Retail Price"
                    type="number"
                    name="retailPrice"
                    class="retail"
                    [value]="product.retailPrice"
                    step="0.01"
                    pattern="([0-9]{0,6})(\.\d{1,2})?$"
                  />
                  <mat-error
                    *ngIf="retail.hasError('pattern') || retailValdationFlag"
                    >Please enter a number with this format 999999.99</mat-error
                  >
                </mat-form-field>
                <span style="width: 80px;"></span>
                <mat-form-field
                  class="size-width-400"
                  *ngIf="_isUserLoggedInVendor"
                >
                  <input
                    matInput
                    ngModel
                    #vat="ngModel"
                    [(ngModel)]="product.vat"
                    [(value)]="product.vat"
                    placeholder="VAT  %"
                    type="number"
                    name="vat"
                    step="0.01"
                    min="0"
                    max="100"
                    (change)="onVatChange($event)"
                    pattern="^(\d{0,2}(\.\d{1,2})?|100(\.00?)?)$"
                  />
                  <mat-error
                    *ngIf="
                      vat.hasError('pattern') &&
                      vat.invalid &&
                      vat.touched &&
                      vatIsNull
                    "
                    >VAT is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      vat.hasError('pattern') &&
                      vat.invalid &&
                      vat.touched &&
                      !vatIsNull
                    "
                  >
                    Please enter a number between 0 and 100 with this format
                    99.99</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                class="row"
                layout="row"
                layout-align="center center"
                *ngIf="_isUserLoggedInVendor"
              >
                <mat-form-field
                  class="size-width-250"
                  *ngIf="_isUserLoggedInVendor"
                >
                  <input
                    class="form-control"
                    matInput
                    ngModel
                    maxlength="20"
                    #barcode="ngModel"
                    [(ngModel)]="product.barcode"
                    placeholder="Barcode"
                    type="text"
                    name="barcode"
                  />
                </mat-form-field>
                <span style="width:2px;"></span>
                <mat-form-field
                  class="size-width-150"
                  *ngIf="_isUserLoggedInVendor"
                >
                  <input
                    class="form-control"
                    matInput
                    ngModel
                    maxlength="20"
                    #itemCode="ngModel"
                    [(ngModel)]="product.itemCode"
                    placeholder="Item Code"
                    type="text"
                    name="itemCode"
                  />
                </mat-form-field>

                <span style="width:80px;" *ngIf="_isUserLoggedInVendor"></span>
                <mat-form-field
                  class="size-width-400  padding-right-2"
                  *ngIf="_isUserLoggedInVendor"
                >
                  <mat-select
                    ngModel
                    #productStore
                    [(ngModel)]="product.store.id"
                    placeholder="Store"
                    name="productStore"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let store of listOfStore"
                      [value]="store.id"
                    >
                      {{ store.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <span
                  style="width:480px;"
                  *ngIf="!_isUserLoggedInVendor"
                ></span>
              </div>

              <div
                class="row"
                layout="row"
                layout-align="center center"
                *ngIf="_isUserLoggedInVendor"
              >
                <mat-form-field class="size-width-200 padding-right-2">
                  <mat-select
                    required
                    ngModel
                    #priority="ngModel"
                    [(ngModel)]="product.priority.id"
                    placeholder="Priority"
                    name="priority"
                  >
                    <mat-option
                      *ngFor="let priority of listOfPriorities"
                      [value]="priority.id"
                    >
                      {{ priority.description }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="priority.invalid && priority.touched"
                    >Priority is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="size-width-200">
                  <mat-select
                    [formControl]="posGroupProductFormControl"
                    [compareWith]="optionsGroup"
                    multiple
                    placeholder="Group"
                    required
                  >
                    <app-select-check-all
                      [model]="posGroupProductFormControl"
                      [values]="posGroups"
                    >
                    </app-select-check-all>
                    <mat-option
                      *ngFor="let posGroup of posGroups"
                      [value]="posGroup"
                      (click)="
                        selectPosGroupPerOne(allPosGroupSelected.viewValue)
                      "
                    >
                      {{ posGroup.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    Group is required
                  </mat-error>
                </mat-form-field>
                <span style="width:80px;" *ngIf="_isUserLoggedInVendor"></span>
                <mat-form-field
                  class="size-width-400  padding-right-2"
                  *ngIf="_isUserLoggedInVendor"
                >
                  <mat-select
                    ngModel
                    #productManufacture="ngModel"
                    [(ngModel)]="product.manufacture.id"
                    placeholder="Manufacture"
                    name="productManufacture"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let manufacture of listOfManufacture"
                      [value]="manufacture.id"
                    >
                      {{ manufacture.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <span
                  style="width:480px;"
                  *ngIf="!_isUserLoggedInVendor"
                ></span>
              </div>

              <!-- <div class="row" layout="row" layout-align="center center">
                                <mat-form-field class="size-width-400  padding-right-2">
                                    <mat-select ngModel #productStore="ngModel" [(ngModel)]="product.store.id"
                                        placeholder="Store" name="productStore">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let store of listOfStore" [value]="store.id">
                                            {{ store.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span style="width:80px;" *ngIf="!_isUserLoggedInVendor"></span>
                                <mat-form-field class="size-width-400  padding-right-2">
                                    <mat-select ngModel #productManufacture="ngModel"
                                        [(ngModel)]="product.manufacture.id" placeholder="Manufacture"
                                        name="productManufacture">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let manufacture of listOfManufacture"
                                            [value]="manufacture.id">
                                            {{ manufacture.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span style="width:480px;" *ngIf="_isUserLoggedInVendor"></span>
                            </div> -->

              <div
                class="row"
                layout="row"
                layout-align="center center"
                style="margin-bottom: 10px;"
              >
                <label>Description</label>
              </div>
              <div
                layout="row"
                layout-align="center center"
                style="width: 2000px;"
              >
                <td-text-editor
                  #bodyTE="ngModel"
                  [options]="options"
                  name="body"
                  style="height: 25%;"
                  [(ngModel)]="product.description"
                >
                </td-text-editor>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Images">
          <div layout="column" layout-align="center center">
            <div>
              <ngx-gallery
                #ngxGallery
                [options]="galleryOptions"
                [images]="galleryImages"
              >
              </ngx-gallery>
            </div>
            <div align="center">
              <!-- (fileDrop)="pushAttachment($event)" -->
              <button
                mat-button
                (click)="fileInput.inputElement.click()"
                style="cursor: pointer"
                (keyup.enter)="fileInput.inputElement.click()"
                (keyup.delete)="fileInput.clear()"
                (keyup.backspace)="fileInput.clear()"
                flex
              >
                <mat-icon> add_a_photo</mat-icon>
              </button>
              <button
                mat-button
                (click)="onDeleteImage()"
                [disabled]="attImagesAsFiles.length == 0"
              >
                <mat-icon>delete</mat-icon>
              </button>

              <td-file-input
                hidden
                class="push-left-sm push-right-sm"
                name="fileInput"
                #fileInput
                accept="image/*"
                (select)="onSelectImages($event)"
                (change)="onChange($event)"
                multiple
              >
                <span class="text-upper">Browse...</span>
              </td-file-input>
            </div>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <div class="row" layout="row" layout-align="center center">
        <button
          mat-raised-button
          color="primary"
          (click)="onSaveWithAttachments(attImagesAsFiles)"
          [disabled]="
            !productForm.form.valid ||
            !posGroupProductFormControl.valid ||
            showSpinner
          "
        >
          <span *ngIf="!showSpinner">Save</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            strokeWidth="3"
            class="circle-spinner"
            *ngIf="showSpinner"
          ></mat-spinner>
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSaveAndNewWithAttachments(attImagesAsFiles)"
          [disabled]="
            !productForm.form.valid ||
            !posGroupProductFormControl.valid ||
            showSpinnerOnSaveAndNew
          "
          *ngIf="!isEdit"
        >
          <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            strokeWidth="3"
            class="circle-spinner"
            *ngIf="showSpinnerOnSaveAndNew"
          ></mat-spinner>
        </button>
        <a mat-raised-button (click)="onCancel()">
          Cancel
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
