<mat-card layout="column" layout-align="start center strech" class="view-height">
  <mat-card-content>
    <mat-card-title>Pos User Search</mat-card-title>
    <mat-card-title></mat-card-title>
    <mat-card-title></mat-card-title>
    <mat-card-title></mat-card-title>
    <form #posSearchForm="ngForm" layout="column" layout-align="center center">
      <div layout="row" layout-align="center center">
        <mat-form-field class="size-width-400" style="width: 400px;">
          <input class="form-control" matInput required ngModel #mobileNumber="ngModel" minlength="10" maxlength="10"
            placeholder="Mobile Number" type="text" name="_mobileNumber" [(ngModel)]="_mobileNumber"
            pattern="^05+[0-9]*">
            <mat-error *ngIf="(mobileNumber.hasError('pattern') && mobileNumber.hasError('minlength')) || (mobileNumber.hasError('pattern') && !mobileNumber.hasError('minlength'))">Mobile Number must contains only numbers and start with 05</mat-error>
            <mat-error *ngIf=" mobileNumber.hasError('minlength') && !mobileNumber.hasError('pattern')">Mobile Number must
                be 10 digits</mat-error>
                <mat-error
                *ngIf="mobileNumber.invalid && mobileNumber.touched && !mobileNumber.hasError('minlength') && !mobileNumber.hasError('pattern')">
                Mobile Number is required</mat-error>    
            </mat-form-field>    
      </div>

      <br />


      <div class="row" layout="row" layout-align="center center">
        <button mat-raised-button color="primary" (click)="search()" [disabled]="!posSearchForm.form.valid" >Search</button>
         &nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="/pos_user">cancel </button>
      </div>
    </form>


  </mat-card-content>


</mat-card>