<mat-card class="view-height">
  <mat-card-title>Signup Requests Management </mat-card-title>
<div layout="row" layout-align="space-between center" class="view-actions-padding view-actions-container">
  <div layout="row" >
    
     <span style="width:50px;"></span> 
    <mat-form-field>
        <input matInput [matDatepicker]="firstdate"  placeholder="Start Date" pattern="yyyy-mm-dd"
               (dateInput)="startDateChange($event)"(dataChange)="startDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="firstdate"></mat-datepicker-toggle>
        <mat-datepicker #firstdate></mat-datepicker>
        <mat-error>Start Date is required.</mat-error>
      </mat-form-field>   
      <span style="width:15px"></span>
      <mat-form-field>
          <input matInput [matDatepicker]="secondDate" placeholder="End Date"
                 (dateInput)="endDateChange($event)" (dataCahnge)="endDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="secondDate"></mat-datepicker-toggle>
          <mat-datepicker #secondDate></mat-datepicker>
          <span style="width:10px;"></span>
      </mat-form-field>
      <span style="width:6px;"></span>
      <button mat-icon-button	 color="primary" type="button" style="height: 47px;" (click)="handleFilterEvent()">
          search
        </button>
  

    <span style="width:40px;"></span>
    <mat-form-field class="size-width-400">
      <mat-select  ngModel #sales_agent="ngModel" [(ngModel)]="requestStatus.id"
          placeholder="Status" (selectionChange) = "onStatusChange($event)" name="status">
          <mat-option>
            [All Request Status]
          </mat-option>
          <mat-option *ngFor="let requestStatus of _listOfrequestStatus" [value]="requestStatus.id">
              {{requestStatus.name}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <span style="width:40px;"></span>


    <ng-template [ngxPermissionsOnly]="'ROLE_ORDER_REFRESH'">
      <button type="button" mat-icon-button (click)="onRefresh()">
          <mat-icon matTooltip="Refresh data">refresh</mat-icon>
      </button>
    </ng-template>  
  </div>
  <div>
    <td-search-box #searchBox 
                  backIcon="keyboard_arrow_right" 
                  placeholder="Search here"
                  (searchDebounce)="search($event)"
                  [(ngModel)]="searchTerm"
                  [debounce]="750"
                  flex></td-search-box>
  </div>
</div>
<td-data-table
  #dataTable
  [data]="_allPosRequest"
  [columns]="columnsConfig"
  [selectable]="true"
  [clickable]="true"
  [multiple]="true"
  [sortable]="true"
  [sortBy]="sortBy"
  [(ngModel)]="selectedRows"
  [sortOrder]="sortOrder"
  (sortChange)="sort($event)"
  class="data-table-view-height"
  [compareWith]="compareWith">

  <ng-template tdDataTableTemplate="id" let-value="id"  let-row="row" 
                [ngxPermissionsOnly]="'ROLE_ORDER_DETAIL'" >
    <a  (click)="getObj(row)" routerLink="link">
      <mat-icon color="primary">description</mat-icon>
    </a>
  </ng-template>

  

</td-data-table>
<div *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
  <h3>No results to display.</h3>
</div>
<div layout="row" layout-align="space-between center">
  <div hide-xs class="selected-rows-padding">
    <p class="md-caption" *ngIf="selectedRows.length">
      {{selectedRows.length}} item(s) selected
    </p>
  </div>
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="determinePageMethod($event)">
    <span hide-xs>Rows per page:</span>
    <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
      <mat-option *ngFor="let size of [25,50,100,150,200]" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>
</div>
</mat-card>