<mat-card class="view-height">
  <mat-card-title>All Orders</mat-card-title>
  <div layout="row" layout-align="space-between center" class="view-actions-padding view-actions-container">
    <div layout="row">
      <ng-template [ngxPermissionsOnly]="'ROLE_ORDER_AKNOWLEDGE'">
        <button mat-mini-fab color="primary" type="button" mat-icon-button (click)="onAcknowledge()">
          <mat-icon matTooltip="Order Acknowledged">assignment_turned_in</mat-icon>
        </button>
      </ng-template>
      <span style="width:100px;"></span>
      <mat-form-field>
        <input matInput [matDatepicker]="firstdate" placeholder="Start Date" pattern="yyyy-mm-dd"
          (dateInput)="startDateChange($event)" (dataChange)="startDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="firstdate"></mat-datepicker-toggle>
        <mat-datepicker #firstdate></mat-datepicker>
        <mat-error>Start Date is required.</mat-error>
      </mat-form-field>
      <span style="width:15px"></span>
      <mat-form-field>
        <input matInput [matDatepicker]="secondDate" placeholder="End Date" (dateInput)="endDateChange($event)"
          (dataCahnge)="endDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="secondDate"></mat-datepicker-toggle>
        <mat-datepicker #secondDate></mat-datepicker>
        <span style="width:10px;"></span>
      </mat-form-field>
      <span style="width:6px;"></span>
      <button mat-icon-button color="primary" type="button" style="height: 47px;" (click)="handleFilterEvent()">
        search
      </button>
      <span style="width:40px;"></span>
      <mat-form-field class="size-width-400">


        <mat-select ngModel #sales_agent="ngModel" [(ngModel)]="salesAgent.id" placeholder="Sales Agent"
          (selectionChange)="getSalesAgentRegions($event)" name="salesAgent">
          <mat-option>
            [All SalesAgents]
          </mat-option>
          <mat-option *ngFor="let salesAgent of listOfSalesAgents" [value]="salesAgent.id">
            {{salesAgent.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span style="width:40px;"></span>

      <mat-form-field class="size-width-400">
        <mat-select [formControl]="orderStatusTypeList" 
                    [compareWith]="options" 
                    multiple 
                    placeholder="Order Status"
                    (selectionChange) = "onOrderStatusChanges($event)">
          <app-select-check-all [model]="orderStatusTypeList" [values]="orderStatusArr"></app-select-check-all>
          <mat-option *ngFor="let orderStatus of orderStatusArr" [value]="orderStatus">
              {{orderStatus.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-template [ngxPermissionsOnly]="'ROLE_ORDER_REFRESH'">
        <button type="button" mat-icon-button (click)="onRefresh()">
          <mat-icon matTooltip="Refresh data">refresh</mat-icon>
        </button>
      </ng-template>
    </div>
    <div>
      <td-search-box #searchBox backIcon="keyboard_arrow_right" placeholder="Search here"
        (searchDebounce)="search($event)" [(ngModel)]="searchTerm" [debounce]="750" flex></td-search-box>
    </div>
  </div>
  <td-data-table #dataTable [data]="_allOrders" [columns]="columnsConfig" [selectable]="true" [clickable]="true"
    [multiple]="true" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder"
    (sortChange)="sort($event)" class="data-table-view-height" [compareWith]="compareWith">

    <ng-template tdDataTableTemplate="id" let-value="orderId" let-row="row" [ngxPermissionsOnly]="'ROLE_ORDER_DETAIL'">
      <a (click)="showOrderDetails(orderId, row)" routerLink="../form">
        <mat-icon color="primary">description</mat-icon>
      </a>
    </ng-template>

    <!-- <ng-template tdDataTableTemplate="orderId" let-value="orderId" let-row="row" [ngxPermissionsOnly]="'ROLE_ORDER_DETAIL'">
      <a  (click)="onPrint(orderId, row)" [routerLink]='link' >
        <mat-icon >print</mat-icon>
      </a>
  </ng-template> -->

  </td-data-table>
  <div *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <div layout="row" layout-align="space-between center">
    <div hide-xs class="selected-rows-padding">
      <p class="md-caption" *ngIf="selectedRows.length">
        {{selectedRows.length}} item(s) selected
      </p>
    </div>
    <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="determinePageMethod($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of [25,50,100,150,200]" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>
</mat-card>