<h4 mat-dialog-title> Reject Request </h4>

<mat-dialog-content> Please Select Resaon

  <form #reasonDialogForm="ngForm">
    <div>
        <mat-form-field style="width: 90%;">


            <mat-select placeholder="Reject Request" ngModel #resaon="ngModel" name="rejectedReason" [(ngModel)]="posRequestDto.posRequestRejectedReason.rejectedReason.id" 
             required>
                <mat-option *ngFor="let resaon of  rejectedReasonList"  [value]="resaon.id">
                    {{resaon.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="resaon.invalid && resaon.touched">
              Reject Request is required.
            </mat-error>
        </mat-form-field>
    </div>
  <div class="row" layout="row" >
    <mat-form-field style="width: 90%;">
      <input placeholder="Description" type="text" matInput  ngModel #description="ngModel" name="description" [(ngModel)]="posRequestDto.posRequestRejectedReason.description" 
      required maxlength="50" >
      <mat-error *ngIf="description.invalid && description.touched">
        Reject Request Description is required.
      </mat-error> 
    </mat-form-field>
  </div>
  </form>
</mat-dialog-content>

<div class="row" layout="row" layout-align="center start">
<button mat-raised-button color="primary" (click)="onSave()"
    [disabled]="!reasonDialogForm.form.valid || showSpinner" class="spinner-container" >
    <span *ngIf="!showSpinner">Save</span>
    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner">
    </mat-spinner>
</button>&nbsp;
<button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>