<p mat-dialog-title align="center">City Information</p>
<mat-dialog-content>
  <div>
  <mat-form-field style="width: 90%;">
    <mat-select placeholder="Country"  
                ngModel 
                #country="ngModel" 
                name="country" 
                [(ngModel)]="data.city.country.id" 
                required>
      <mat-option *ngFor="let country of data.listOfCountries" [value]="country.id">
        {{country.name}}
      </mat-option>
    </mat-select>
    <mat-error  *ngIf="country.invalid && country.touched">
        Country is required.
    </mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 90%;">
    <input [(ngModel)]="data.city.name" [formControl]="city" pattern="[a-z A-Z \- \s]*" minlength = "3" maxlength="30" matInput placeholder="City">
    <mat-error *ngIf="city.hasError('pattern')">City must be at least 3 characters</mat-error>
    <mat-error *ngIf="city.hasError('minlength') && !city.hasError('pattern')">City must be at least 3 characters</mat-error>
    <mat-error  *ngIf="city.invalid && city.touched && !city.hasError('minlength') &&!city.hasError('pattern')">
      City is required.
    </mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 90%;">
    <input [(ngModel)]="data.city.code"  [formControl]="codeCity" minlength="2" maxlength="3" matInput placeholder="Landline Code">
      <mat-error *ngIf="codeCity.hasError('pattern')">
          Landline Code must be a valid number.
      </mat-error>
    <mat-error *ngIf="codeCity.hasError('minlength') && !codeCity.hasError('pattern')">
        Landline Code must be at least 2 digits
    </mat-error>
    <mat-error *ngIf="codeCity.invalid && codeCity.touched && !codeCity.hasError('pattern') && !codeCity.hasError('minlength')">
      Landline Code is required.
    </mat-error>
  </mat-form-field>
</div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button [disabled]="(country.invalid || city.invalid || codeCity.invalid)"
    color="primary" [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-raised-button (click)="onCancle()" tabindex="-1">Cancel</button>
</mat-dialog-actions>