<div
  layout="column"
  layout-align="start center"
  class="form-card-container-height"
>
  <mat-card
    layout="column"
    layout-align="start center strech"
    class="form-card-width"
  >
    <mat-card-content style="height: auto;">
      <mat-card-title>{{
        isEdit ? "Edit Delivery User" : "Add Delivery User"
      }}</mat-card-title>
      <mat-tab-group
        layout="row"
        layout-align="center center"
        (selectedTabChange)="onCahngeTab($event)"
      >
        <mat-tab label="Basic">
          <form #deliveryUserForm="ngForm">
            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400">
                <input
                  matInput
                  required
                  ngModel
                  minlength="3"
                  maxlength="40"
                  #name="ngModel"
                  autocomplete="off"
                  [(ngModel)]="deliveryUser.name"
                  placeholder="Name"
                  type="text"
                  name="name"
                />
                <mat-error
                  *ngIf="
                    name.invalid && name.touched && !name.hasError('minlength')
                  "
                  >Name is required</mat-error
                >
                <mat-error *ngIf="name.hasError('minlength')"
                  >Name must be at least 3 characters
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400">
                <input
                  matInput
                  required
                  ngModel
                  [minlength]="minLength"
                  [maxlength]="maxLength"
                  [pattern]="regex"
                  autocomplete="off"
                  [(ngModel)]="deliveryUser.mobileNumber"
                  #mobile="ngModel"
                  placeholder="Mobile"
                  name="mobile"
                  type="tel"
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error
                  *ngIf="
                    mobile.invalid &&
                    mobile.touched &&
                    !mobile.hasError('minlength') &&
                    !mobile.hasError('pattern')
                  "
                >
                  Mobile is required.</mat-error
                >
                <mat-error
                  *ngIf="
                  mobile.hasError('minlength') ||
                  mobile.hasError('pattern')
                  "
                  >Please enter valid mobile Number starts with 
                  {{ deliveryUser.vendor.country.mobileCode }}</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400">
                <input
                  matInput
                  ngModel
                  email
                  [(ngModel)]="deliveryUser.email"
                  required
                  autocomplete="off"
                  pattern="^[\w\.=-]+@[\w\.-]+\.[\w]{2,3}$"
                  #email="ngModel"
                  placeholder="Email"
                  name="email"
                  type="email"
                />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error
                  *ngIf="
                    email.invalid && email.touched && !email.hasError('pattern')
                  "
                  >Email Address is required.</mat-error
                >
                <mat-error *ngIf="email.hasError('pattern')"
                  >Invalid Email Address</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400">
                <mat-select
                  ngModel
                  #city="ngModel"
                  [(ngModel)]="_cityId"
                  placeholder="City"
                  name="city"
                  (selectionChange)="onCityChange($event)"
                >
                  <mat-option value="a">
                    [All Cities]
                  </mat-option>
                  <mat-option
                    *ngFor="let city of listOfCities"
                    [value]="city.id"
                  >
                    {{ city.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div layout="row">
              <div
                layout="column"
                layout-align="start center"
                class="picklist-comp"
              >
                <delivery-user-region
                  #allNotSelectedDeliveryUserRegion
                  [selectedSide]="false"
                  (rowSelected)="onSelectingRegion($event)"
                >
                </delivery-user-region>
              </div>
              <div layout="column" layout-align="center center">
                &nbsp;
                <button
                  mat-button
                  color="primary"
                  (click)="allNotSelectedDeliveryUserRegion.onMoveRows()"
                >
                  <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
                </button>
                &nbsp; &nbsp;
                <button
                  mat-button
                  color="primary"
                  (click)="allSelectedDeliveryUserRegion.onMoveRows()"
                >
                  <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
                </button>
                &nbsp;
              </div>
              <div
                layout="column"
                layout-align="end center"
                class="picklist-comp"
              >
                <delivery-user-region
                  #allSelectedDeliveryUserRegion
                  [selectedSide]="true"
                  (rowSelected)="onSelectingRegion($event)"
                >
                </delivery-user-region>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Permissions">
          <div layout="row" layout-align="center center">
            <mat-card>
              <td-message
                label="Warning!"
                sublabel="Changes on user's permissions will not take effects until the user logout then login again"
                color="warn"
                icon="warning"
              >
              </td-message>
            </mat-card>
          </div>
          <div layout="row">
            <div layout="column" layout-align="start center">
              <user-privilege-profile
                #notSelectedPrivilegeProfiles
                [selectedPrivilegeProfilesSide]="false"
                (rowSelected)="onSelectingPrivilegeProfile($event)"
              >
              </user-privilege-profile>
            </div>
            <div layout="column" layout-align="center center">
              &nbsp;
              <button
                mat-button
                color="primary"
                (click)="notSelectedPrivilegeProfiles.onMoveRows()"
              >
                <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
              </button>
              &nbsp; &nbsp;
              <button
                mat-button
                color="primary"
                (click)="selectedPrivilegeProfiles.onMoveRows()"
              >
                <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
              </button>
              &nbsp;
            </div>
            <div layout="column" layout-align="end center">
              <user-privilege-profile
                #selectedPrivilegeProfiles
                [selectedPrivilegeProfilesSide]="true"
                (rowSelected)="onSelectingPrivilegeProfile($event)"
              >
              </user-privilege-profile>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <div class="row" layout="row" layout-align="center center">
        <button
          mat-raised-button
          color="primary"
          (click)="onSave()"
          [disabled]="!deliveryUserForm.form.valid || showSpinner"
          class="spinner-container"
        >
          <span *ngIf="!showSpinner">Save</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            class="circle-spinner"
            strokeWidth="3"
            *ngIf="showSpinner"
          ></mat-spinner>
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSaveAndNew()"
          [disabled]="!deliveryUserForm.form.valid || showSpinnerOnSaveAndNew"
          *ngIf="!isEdit"
        >
          <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            strokeWidth="3"
            class="circle-spinner"
            *ngIf="showSpinnerOnSaveAndNew"
          ></mat-spinner>
        </button>
        <a mat-raised-button routerLink="/delivery-user">
          Cancel
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
