<div layout="column" layout-align="start center strech">
  <mat-card layout="column" layout-align="space-evenly center" class="form-card-width"
    style="height: 98%; min-height:98%;">
    <mat-card-content>

      <div layout="row" layout-align="center center">

          <td-search-input  
          appearance="standard"
          [(ngModel)]="searchTerm"
          placeholder="Mobile Number" 
          [showUnderline]="true"
          (searchDebounce)="search($event)"
          flex></td-search-input>
        <span style="width:300px"></span>
        <mat-form-field class="size-width-300">
          <mat-select ngModel #posGroup="ngModel" placeholder="Region" name="region" multiple
            [(ngModel)]="selectedRegion" (selectionChange)="selectRegionEvent($event)">
            <mat-option *ngFor="let region of listOfRegion" [value]="region.id">
              {{ region.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span style="width:14px;"></span>
        <mat-form-field class="size-width-300">
          <mat-select ngModel #posGroup="ngModel" [(ngModel)]="selectedGroup" 
          (selectionChange)="selectGroupEvent($event)" placeholder="POS Group" name="posGroup"
            multiple>
            <mat-option *ngFor="let posGroup of listOfPosGroup" [value]="posGroup.id">
              {{ posGroup.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <td-data-table #dataTable [data]="_allPosUsers" [columns]="columnsConfig" [selectable]="true" [clickable]="true"
        [multiple]="true" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder"
        (sortChange)="sort($event)" class="data-table-view-height">
      </td-data-table>
      <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h4>No results to display.</h4>
      </div>
      <div layout="row" layout-align="space-between center">
        <div hide-xs class="selected-rows-padding">
          <p class="md-caption" *ngIf="selectedRows.length">
            {{selectedRows.length}} item(s) selected
          </p>
        </div>
        <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="paging($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of [25, 50,100, 150, 200]" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
      </div>
    </mat-card-content>
  </mat-card>
</div>