
    <td-data-table #dataTable 
    [data]="_promotionItemList"
    [columns]="promotionColumnsConfig" 
    [selectable]="false" 
    [clickable]="false" 
    [multiple]="false"
    [sortable]="true" 
    style="width:auto"
    [style.height.px]="400">

    <ng-template tdDataTableTemplate="promotionDetailId" let-value="value" let-row="row" let-rowIndex="rowIndex" [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'">
        <button mat-icon-button (click)="openPromotionDetailsDialog(promotionDetailId,row)">
          <mat-icon>history</mat-icon>
        </button>
      </ng-template>
    

</td-data-table>