<p mat-dialog-title align="center">Area Information</p>
<mat-dialog-content>
  <div>
  <mat-form-field style="width: 90%;" layout-align="center center">
    <mat-select placeholder="City"  
                ngModel 
                #city="ngModel" 
                name="city" 
                [(ngModel)]="data.region.city.id" 
                required>
      <mat-option *ngFor="let city of data.listOfCities" [value]="city.id">
        {{city.name}}
      </mat-option>
    </mat-select>
    <mat-error  *ngIf="city.invalid && city.touched">
        City is required.
    </mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 90%;" layout-align="center center">
    <input [(ngModel)]="data.region.name" [formControl]="region" pattern="[a-z A-Z \- \s]*" minlength = "3" maxlength="30" matInput placeholder="Area">
    <mat-error *ngIf="region.hasError('pattern')">Area must be at least 3 characters</mat-error> 
    <mat-error *ngIf="region.hasError('minlength') && !region.hasError('pattern')">Area must be at least 3 characters.</mat-error>
    <mat-error *ngIf="region.invalid && region.touched && !region.hasError('minlength') && !region.hasError('pattern')">
        Area is required.
    </mat-error>  
  </mat-form-field>
</div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button [disabled]="(city.invalid || region.invalid)"
    color="primary" [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-raised-button (click)="onCancle()" tabindex="-1">Cancel</button>
</mat-dialog-actions>