
<th width="100px"></th>
<p-selectButton [options]="groups" [(ngModel)]="selectedPosGroup" (onChange)="onSelectButtonPosGroupChange($event)"></p-selectButton> 
<div layout="column" layout-align="center center">
  <div layout="row" layout-align="start center">
    <th width="125px"></th>
    <mat-card style="width:60%">
       
      <mat-card-content>

        <div layout="row" layout-align="start center">
          <td-search-box #searchBox backIcon="keyboard_arrow_right" placeholder="Search here"
            (searchDebounce)="search($event)" flex></td-search-box>
        </div>

        <td-data-table #allProductDt 
                       [data]="_allProduct" 
                       [columns]="allProductColumnConfig" 
                       [selectable]="true"
                       [clickable]="false" 
                       [multiple]="true"  
                       [(ngModel)]="_selectedRows"
                       [sortable]="true" 
                       [sortBy]="sortBy" 
                       [sortOrder]="sortOrder" 
                       (sortChange)="sort($event)" 
                       [compareWith]="compareWith"
                       [style.height.px]="260">

        <ng-template tdDataTableTemplate="promotion.id"   let-value="value" let-row="row" let-column="column">
          <span flex style="color:red;" *ngIf="row.promotion.id !=null "><mat-icon matSuffix>done</mat-icon></span>
       </ng-template>
                
    

      <ng-template tdDataTableTemplate="product.id" let-value="value" let-row="row">
        <a (click)="openPromotionProductInfoDialog(row)" [routerLink]='link'>  
          <mat-icon color="primary">description</mat-icon>
          </a>
      </ng-template>
        </td-data-table>



        <div layout="row" layout-align="space-between center">
          <div layout="row" layout-align="space-between center">
            <div hide-xs class="selected-rows-padding">
            </div>
          </div>

          <td-paging-bar #pagingBar 
                         [pageSize]="_pageSize" 
                         [total]="_filteredTotal" 
                         (change)="page($event)">
            <span hide-xs>Rows per page:</span>
            <mat-select [style.width.px]="50" [(ngModel)]="_pageSize">
              <mat-option *ngFor="let size of [25, 50,150,100, 200]" [value]="size">
                {{size}}
              </mat-option>
            </mat-select>
            {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
          </td-paging-bar>
        </div>
      </mat-card-content>
    </mat-card>

    <div layout="column" layout-align="center center">
      <button mat-button color="primary" (click)="onAssign()">
        <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
      </button>
      &nbsp;
      &nbsp;
      <button mat-button color="primary" (click)="onDeassign()">
        <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <mat-card style="width: 40%">
      <mat-card-content>

        <div layout="row" layout-align="start center">
          <div style="height: 58px;"></div>
        </div>

        <td-data-table #selectedProductDt 
          [data]="_assignProduct"
          [columns]="selectedProductColumnConfig" 
          [selectable]="true"
          [clickable]="true" 
          [multiple]="true" 
          [sortable]="true" 
          [(ngModel)]="_assignSelectedRows" 
          [style.height.px]="311">
        </td-data-table>


        <!-- <div layout="row" layout-align="space-between center" style="width: 200px">
          <div hide-xs class="selected-rows-padding">
            <p class="md-caption" *ngIf="_assignSelectedRows.length">
              {{_assignSelectedRows.length}} item(s) selected
            </p>
          </div>
        </div> -->
      </mat-card-content>
    </mat-card>
    <span style="width:120px;"></span>
  </div>


</div>