<div layout="column" layout-align="start center" class="form-card-container-height">
    <mat-card layout="column" layout-align="start center strech" class="form-card-width" style="height: 98%;width:98%">
        <mat-card-content>
        <mat-card-title>{{isEdit ? 'Edit Notification' : 'Add Notification'}}</mat-card-title>
        <form #notificationForm="ngForm" layout-align="center center">
            <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400">
                    <input [(ngModel)]="_notifiaction.name" minlength="3" maxlength="50" ngModel #name="ngModel" name="name"
                        matInput  autocomplete="off" placeholder="Name" (change)="notifcationNameChange($event)" required>
                    <mat-error *ngIf="name.hasError('minlength')">
                        Name must be at least 3 characters for name.
                    </mat-error>
                    <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">
                        Name is required.
                    </mat-error>

                </mat-form-field>
            </div>
            <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400">
                    <mat-select required placeholder="Module" ngModel #module="ngModel"
                        [(ngModel)]="_notifiaction.functionNotification.module.id" name="module" (selectionChange)="onModuleChange($event)">
                        <mat-option *ngFor="let module of listOfModules" [value]="module.id">
                            {{ module.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="module.invalid && module.touched">
                        Module is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400">
                    <mat-select required placeholder="Function" ngModel #function="ngModel" [(ngModel)]="_notifiaction.functionNotification.id"
                        name="function" (selectionChange)="onFunctionChange($event)">
                        <mat-option *ngFor="let function of listOfFunctions" [value]="function.id">
                            {{ function.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="function.invalid && function.touched">
                        Function is required
                    </mat-error>
                </mat-form-field>

            </div>
            <div layout="row" layout-align="center center">
                <mat-label>Body</mat-label>
            </div>
            <div layout="row" layout-align="center center">
                <td-text-editor required #bodyTE="ngModel" [options]="options" name="body" style="height: 10%;"
                    [(ngModel)]="_notifiaction.body">
                </td-text-editor>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="row" layout="row" layout-align="center center">
            <button mat-raised-button color="primary" (click)="onSave()"
                [disabled]="!notificationForm.form.valid || showSpinner" class="spinner-container">
                <span *ngIf="!showSpinner">Save</span>
                <mat-spinner diameter="38" mode="indeterminate" class="mat-spinner-color" class="circle-spinner"
                    strokeWidth="3" *ngIf="showSpinner"></mat-spinner>
            </button>
            <button mat-raised-button color="primary" (click)="onSaveAndNew()" *ngIf="!isEdit"
                [disabled]="!notificationForm.form.valid || showSpinnerOnSaveAndNew">
                <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner"
                    *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
            </button>
            <button mat-raised-button routerLink="/notification">
                Cancel
            </button>
        </div>
    </mat-card-actions>
</mat-card>
</div>