
<div layout="column" layout-align="start center strech">
  <mat-card  layout="column" 
  layout-align="space-evenly center" 
  class="view-height">
  <mat-card-title>Broadcast Notification</mat-card-title>

    
        <mat-card-content style="min-height: 500px">
          <mat-tab-group layout="row" layout-align="center center">
          <mat-tab label="Details">
            <form #fcm="ngForm">
              <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-300">
                  <input  maxlength="30" name="title" [(ngModel)]="_fcm.title" matInput placeholder="Title"
                    required>
                  <mat-error>
                    Title is required and max length  30 chars.
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-form-field class="size-width-300">
                  <textarea matInput ngModel rows="10" maxlength="255"
                  [(ngModel)]="_fcm.body" placeholder="Message Body"
                  name="body" required ></textarea>
                <mat-error>
                  Message is required,max length 255 chars.
                </mat-error>
              </mat-form-field>
            </form>
            </mat-tab>
           <mat-tab label="POS's">
         <all-pos-users></all-pos-users>
            </mat-tab> 
          </mat-tab-group>
        </mat-card-content>
  
  
        <mat-card-actions>
          <div class="row" layout="row" layout-align="center center">
            <button mat-raised-button color="primary" (click)="onSend()" [disabled]="!fcm.form.valid || showSpinnerOnSendButton">
              <span *ngIf="!showSpinnerOnSendButton">Send</span>
              <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinnerOnSendButton"></mat-spinner>
            </button>
            
          </div>
        </mat-card-actions>
    
  </mat-card>
  </div>