<div layout="column" layout-align="start center" class="form-card-container-height">
  <mat-card layout="column" layout-align="start center strech" class="form-card-width">
      <mat-card-content>
          <mat-card-title>Signup Request details </mat-card-title>
          <mat-tab-group layout="row" layout-align="center center">
              <mat-tab label="POS Info">
                  <form #posForm="ngForm">

                      <div class="row" layout="row" layout-align="center center">
                          <mat-form-field class="size-width-300">
                              <input matInput [(ngModel)]="posRequestService.posRequest.name"  name="name"  placeholder="Shop Name" readonly>
                          </mat-form-field><span style="width:80px;"></span>

                          <mat-form-field class="size-width-300">
                              <input matInput [(ngModel)]="posRequestService.posRequest.mobileNumber" name="mobileNumber" placeholder="Shop Mobile Number"  type="tel" readonly>
                              <mat-icon matSuffix>phone</mat-icon>
                          </mat-form-field>
                      </div>

                      <div class="row" layout="row" layout-align="center center">
                          <mat-form-field class="size-width-300">
                              <input matInput [(ngModel)]="posRequestService.posRequest.ownerName"  name="ownerName"  placeholder="Owner Name" readonly>
                          </mat-form-field>
                          <span style="width:80px;"></span>

                          <mat-form-field class="size-width-300">
                              <input matInput [(ngModel)]="posRequestService.posRequest.ownerMobileNumber"  name="ownerMobileNumber" placeholder="Owner Mobile Number" type="tel" readonly>
                              <mat-icon matSuffix>contact_phone</mat-icon>
                          </mat-form-field>
                      </div>

                      <div class="row" layout="row" layout-align="center center">
                          <mat-form-field class="size-width-300">
                              <input matInput [(ngModel)]="posRequestService.posRequest.landNumber" name="landNumber"  placeholder="Land Number" type="tel" readonly>
                              <mat-icon matSuffix>ring_volume</mat-icon>
                          </mat-form-field>

                          <span style="width:80px;"></span>
                          <mat-form-field class="size-width-300">
                              <input matInput [(ngModel)]="posRequestService.posRequest.fax"  name="fax"  placeholder="Fax" type="tel" readonly>
                              <mat-icon matSuffix>perm_phone_msg</mat-icon>
                          </mat-form-field>
                      </div>


                      <div class="row" layout="row" layout-align="center center">
                          <mat-form-field class="size-width-300">
                              <input matInput #email="ngModel" [(ngModel)]="posRequestService.posRequest.email"  name="email"  placeholder="E-mail" type="email" readonly>
                              <mat-icon matSuffix>email</mat-icon>
                          </mat-form-field>

                          <span style="width:80px;"></span>
                          <mat-form-field class="size-width-300">
                              <mat-select required ngModel #posGroup="ngModel" [(ngModel)]="posRequestDto.posGroup"  placeholder="POS Group" name="posGroup">
                                  <mat-option *ngFor="let posGroup of listOfPosGroup" [value]="posGroup.id">
                                      {{ posGroup.name }}
                                  </mat-option>
                              </mat-select>
                              <mat-error *ngIf="posGroup.invalid && posGroup.touched">posGroup is required</mat-error>
                          </mat-form-field>
                      </div>

                      <div class="row" layout="row" layout-align="center center">
                          <span style="width:80px;"></span>
                          <mat-form-field class="size-width-300">
                              <input matInput ngModel #city="ngModel" [(ngModel)]="posRequestService.posRequest.region.city.name" name="city"  
                                  placeholder="City" readonly >
                          </mat-form-field>

                          <span style="width:80px;"></span>
                          <mat-form-field class="size-width-300">
                              <input matInput ngModel #region="ngModel" [(ngModel)]="posRequestService.posRequest.region.city.name" name="region"  placeholder="Area"  readonly>
                          </mat-form-field><span style="width:80px;"></span>
                      </div>

                      <div class="row" layout="row" layout-align="center center">
                          <mat-form-field class="size-width-300">
                              <input matInput [(ngModel)]="posRequestService.posRequest.trn" name="trn"  placeholder="TRN"   readonly>
                              <mat-error>
                                  TRN required and must be a valid number.
                              </mat-error>
                          </mat-form-field>

                          <span style="width:80px;"></span>
                          <mat-form-field class="size-width-400" style="width: 400px;">
                              <input matInput class="form-control" required  ngModel #posCode="ngModel" minlength="6" maxlength="6" placeholder="POS Code" type="text" name="posCode"
                                  [(ngModel)]="posRequestDto.posCode">
                              <mat-error *ngIf="posCode.hasError('minlength')">POS Code must be 6 digit</mat-error>
                          </mat-form-field>
                          <div style="height: 100px;"></div>
                      </div>

                  </form>
              </mat-tab>
              <mat-tab label="View Location">
                  <div class="row" layout="row" layout-align="center center">
                      <mat-form-field class="size-width-300">
                          <input matInput ngModel #latitude="ngModel" disabled
                              [(ngModel)]="posRequestService.posRequest.latitude" placeholder="Latitude" type="number"
                              name="latitude" pattern="(-?[0-8]?[0-9](\.\d*)?)|-?90(\.[0]*)?">
                          <mat-error *ngIf="latitude.hasError('pattern')">Please enter a number with this format 99.99999999</mat-error>
                      </mat-form-field>
                      <span style="width:80px;"></span>
                      <mat-form-field class="size-width-30">
                          <input matInput ngModel #longitude="ngModel" disabled
                              [(ngModel)]="posRequestService.posRequest.longitude" placeholder="Longitude" type="number"
                              name="longitude" pattern="(-?([1]?[0-7][1-9]|[1-9]?[0-9])?(\.\d*)?)|-?180(\.[0]*)?">
                      </mat-form-field>
                      <span style="width:80px;"></span>
                  </div>
                  <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}">
                  </p-gmap>
              </mat-tab>

              <mat-tab label="Request History">
                  <div class="row" layout="row" layout-align="center center"  *ngIf="!isPending">
                      <div style="height: 100px;"></div>
                      <td-data-table #dataTable

                       [data]="_allPosRequest" 
                       [columns]="columnsConfig"
                       [selectable]="false"
                       [clickable]="false"
                       [multiple]="false"
                       [sortable]="false"
                       [sortBy]="sortBy"
                       [(ngModel)]="selectedRows" 
                       [sortOrder]="sortOrder"
                      
                       class="data-table-view-height" [compareWith]="compareWith"  >

                          <ng-template tdDataTableTemplate="id" let-value="id" let-row="row"
                              [ngxPermissionsOnly]="'ROLE_ORDER_DETAIL'">
                          </ng-template>
                
                      </td-data-table>

                      <div *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                          <h3>No results to display.</h3>
                      </div>
                  </div>
                  <div style="height: 200px;"></div>
              </mat-tab>


          </mat-tab-group>


          <mat-card-actions>
              <div class="row" layout="row" layout-align="center center">
                  <button mat-raised-button color="primary" (click)="openApproveDialog()"
                      [disabled]="!posCode.valid || !posGroup.valid || !isPending" class="spinner-container">
                      <span *ngIf="!showSpinner">Assign</span>
                      <mat-spinner diameter="38" mode="indeterminate" class="mat-spinner-color" strokeWidth="3"
                          class="circle-spinner" *ngIf="showSpinner"></mat-spinner>
                  </button>

                  <button mat-raised-button color="primary" (click)="openDialog()"   [disabled]="!isPending">
                      <span *ngIf="!showSpinner">Reject</span>
                      <mat-spinner diameter="38" mode="indeterminate" class="mat-spinner-color" strokeWidth="3"
                          class="circle-spinner" *ngIf="showSpinner"></mat-spinner>
                  </button>
                  <a mat-raised-button (click)="onCancel()">  Cancel
                  </a>
              </div>
          </mat-card-actions>

      </mat-card-content>

  </mat-card>