<mat-card class="view-height">
  <mat-card-title>Promotion Attribute</mat-card-title>
  <div style="height: 13px;"></div>
<div layout="row" layout-align="space-between center" class="view-actions-padding view-actions-container">
  <div layout="row" >
    <ng-template [ngxPermissionsOnly]="'ROLE_PROMOTION_ATTRIBUTE_ADD'">
      <button mat-mini-fab color="primary" type="button" mat-icon-button (click)="addPromotionQuantity()">
        <mat-icon>add</mat-icon>
            </button>
    </ng-template>
    &nbsp;&nbsp;
    <ng-template [ngxPermissionsOnly]="'ROLE_PROMOTION_ATTRIBUTE_DELETE'">
      <button mat-mini-fab color="primary" type="button" mat-icon-button (click)="onDelete()">
        <mat-icon matTooltip="Delete">clear</mat-icon>
      </button>
    </ng-template>
  
  </div>
</div>

<br/>

<td-data-table
  #dataTable
  [data]="_promotionAttributeList"
  [columns]="columnsConfig"
  [selectable]="true"
  [clickable]="true"
  [multiple]="true"
  [(ngModel)]="_selectedRows"
  [compareWith]="compareWith"
  class="data-table-view-height">

  <ng-template tdDataTableTemplate="id" let-value="quantityDetail" let-row="row" 
                [ngxPermissionsOnly]="'ROLE_PROMOTION_ATTRIBUTE_EDIT'">
    <a (click)="onEditPromotionQuantity(row)" [routerLink]='link'>
      <mat-icon color="primary">edit</mat-icon>
    </a>
  </ng-template>

</td-data-table>

</mat-card>