<div layout="column" layout-align="start center strech">
        <mat-card layout="column" class="form-card-width">
            <mat-card-content>
                    <mat-card-title>{{isEdit ? 'Edit Reward' : 'Add Reward'}}</mat-card-title>
                    <form  #rewardForm ="ngForm" layout="column" layout-align="center center">
                        <div layout="row" layout-align="space-evenly start">
                            <div layout="column" style="width:100%"> 
                            <div layout="row" layout-align="start start">
                                    <span style="width: 10px;"></span>
                                    <mat-form-field class="size-width-400"> 
                                            <input class="form-control" matInput required ngModel minlength="1" maxlength="15"#barcode="ngModel" 
                                                autocomplete="off"  [(ngModel)]="_reward.name" placeholder="Name"
                                                type="text" name="name">
                                            <mat-error>Name is required.</mat-error>
                                        </mat-form-field>
                                            <span style="width:130px;"></span>
                                            <p style="font-size: 16px;">1  {{currencyName}}<span style="width: 60px;"></span> = &nbsp;  </p>
                                            <mat-form-field class="size-width-400" >
                                                    <input class="form-control" matInput required ngModel 
                                                    minlength="1" maxlength="8" #barcode="ngModel" 
                                                    [(ngModel)]="_reward.rewardFactor" class="paddinginput"
                                                    placeholder="Reward Factor" type="number" name="points" step="0.01" pattern="([0-9]{0,6})(\.\d{1,2})?">
                                                    <mat-error>Reward factor is required, length between 1 to 6 digits and decimal 2 digits.</mat-error>
                                                </mat-form-field><span style="width:78px;"></span>
                                </div>
                                <view-product-reward [rewardFactorField] = "!rewardForm.form.valid" [rewardFactor] = "_reward.rewardFactor"></view-product-reward>
                                </div>
                    
                    
                            </div> 
                        </form>
          
                    <mat-card-actions>
                        <div class="row" layout="row" layout-align="center center">
                                <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!rewardForm.form.valid || showSpinner" class="spinner-container">
                                    <span *ngIf="!showSpinner">Save</span>
                                    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner"></mat-spinner>
                                </button>
                                <button mat-raised-button color="primary" (click)="onSaveAndNew()" [disabled]="!rewardForm.form.valid || showSpinnerOnSaveAndNew" *ngIf="!isEdit" class="spinner-container">
                                        <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                                        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
                                 </button>
                                <a mat-raised-button routerLink="/reward/all-rewards">
                                    Cancel
                                </a>
                            </div>
                      </mat-card-actions>
           </mat-card-content>
    </mat-card>
  </div>

