
    <td-data-table #dataTable 
                  [data]="_allComboItems" 
                  [columns]="columnsConfig" 
                  [selectable]="false" 
                  [clickable]="false" 
                  [multiple]="false"
                  [sortable]="true" 
                  [sortBy]="sortBy" 
                  [(ngModel)]="selectedRows" 
                  [sortOrder]="sortOrder" 
                  (sortChange)="sort($event)"
                  [style.height.px]="400"
                  [compareWith]="compareWith">

      <ng-template  tdDataTableTemplate="id" 
                    let-value="value" 
                    let-row="row" 
                    let-rowIndex="rowIndex" 
                    [ngxPermissionsOnly]="'ROLE_ORDER_DETAIL_HISTORY'">
        <button mat-icon-button (click)="onOpenDialog(row)">
          <mat-icon>history</mat-icon>
        </button>
      </ng-template>

    </td-data-table>