<script>
  function trimVendorName() {
    if (document.getElementById('vendorAdName').value != null) {
      document.getElementById('vendorAdName').value = document.getElementById('vendorAdName').value.trim();
    }
  }

  $(function () {
    $("input[name=startDate]")[0].oninvalid = function () {
      this.setCustomValidity("Please enter at least 5 characters.");
    };
  });

</script>

<div layout="column" layout-align="start center strech">
  <mat-card layout="column" style="width: 99%;height:100%;">
    <mat-card-content>
      <mat-card-title>{{isEdit ? 'Edit Advertisement' : 'Add Advertisement'}}</mat-card-title>
      <mat-tab-group layout="row" layout-align="center center">
        <mat-tab label="Details">
          <form #vendorAdForm="ngForm">
            <div layout="row" layout-align="center center">
              <mat-card-content>
                <div layout="row" layout-align="start center">
                  <mat-form-field class="size-width-400">
                    <input id="vendorAdName" matInput required ngModel minlength="3" maxlength="100" #name="ngModel"
                      (focusout)="focusOutVendorAdName()" (input)="focusOutVendorAdName()" onfocusout="trimVendorName()"
                      maxlength="50" [(ngModel)]="vendorAd.name" placeholder="Name" type="text" name="name"
                      ng-trim="true">

                    <mat-error *ngIf="name.errors != null && name.errors.required != null">Name is required</mat-error>
                    <mat-error *ngIf="name.errors != null && name.errors.minlength != null">Name must be at least 3
                      characters</mat-error>
                  </mat-form-field>
                </div>

                <br />


                <div layout="row" layout-align="start center">
                  <mat-form-field class="size-width-400">
                    <input [min]="minStartDate" [max]="vendorAd.endDate" name="startDate" required class="form-control"
                      matInput [matDatepicker]="startDate" [(ngModel)]="vendorAd.startDate" placeholder="Start Date" #startDateModel="ngModel"
                      type="text" (dateChange)="startDateValueChange()">

                    <mat-error *ngIf="startDateModel.errors != null && startDateModel.errors.matDatepickerParse != null">Format date is mm/dd/yyyy</mat-error>
                    <mat-error *ngIf="startDateModel.errors != null && startDateModel.errors.required && startDateModel.errors.matDatepickerParse == null">Start date is required</mat-error>
                    <mat-error *ngIf="vendorAd.startDate != null && vendorAd.startDate < today">Start date shouldn't be
                      in the past.</mat-error>

                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>

                <br />

                <div layout="row" layout-align="start center">
                  <mat-form-field class="size-width-400">
                    <input id="endDate" [min]="vendorAd.startDate==null?today:vendorAd.startDate " name="endDate"
                      class="form-control" matInput [matDatepicker]="endDate" placeholder="End Date" type="text"
                      [(ngModel)]="vendorAd.endDate">

                    <mat-error *ngIf="vendorAd.endDate < vendorAd.startDate">End date shouldn't be before start date.
                    </mat-error>

                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>

              </mat-card-content>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="Images">
          <div layout="column" layout-align="center center">
            <div>
              <ngx-gallery #ngxGallery [options]="galleryOptions" [images]="galleryImages">
              </ngx-gallery>
            </div>
            <div align="center">
              <button mat-button 
                      (click)="fileInput.inputElement.click()" 
                      style="cursor: pointer"
                      (fileDrop)="pushAttachment($event)" 
                      [disabled]="attImagesAsFiles.length==1"
                      (keyup.enter)="fileInput.inputElement.click()" 
                      (keyup.delete)="fileInput.clear()"
                      (keyup.backspace)="fileInput.clear()" flex>
                <mat-icon >
                  add_a_photo</mat-icon>
              </button>

              <button mat-button (click)="onDeleteImage()" [disabled]="attImagesAsFiles.length==0">
                <mat-icon>delete</mat-icon>
              </button>

              <td-file-input hidden 
                             class="push-left-sm push-right-sm" 
                             name="fileInput" 
                             #fileInput 
                             accept="image/*"
                             (select)="onSelectImages($event)"
                             (change)="onChange($event)">
                <span class="text-upper">Browse...</span>
              </td-file-input>
            </div>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>
            <mat-card-actions></mat-card-actions>

          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

    <mat-card-actions>
      <div class="row" layout="row" layout-align="center center">
        <button mat-raised-button color="primary" (click)="onSaveWithAttachments(attImagesAsFiles)"
          [disabled]="!vendorAdForm.form.valid">
          Save
        </button>
        <button mat-raised-button color="primary" (click)="onSaveAndNewWithAttachments(attImagesAsFiles)"
          [disabled]="!vendorAdForm.form.valid" *ngIf="!isEdit">
          Save & new
        </button>
        <a mat-raised-button (click)="onCancel()">
          Cancel
        </a>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
