  .full-width {
    width: 35%;
  }

  .mid-width {
    width: 17%;
  }

  .form-card-width {
    width: 55%;
  }

  .picklist-comp {
    margin-top: 20px;
  }
  .form-card-container-height{
    height: auto;
  }
  .size-width-500{
    width:500px;
  }
  .size-width-250{
    width:250px;
  }

  .size-width-400{
    width:400px;
  }
