   <p>Some products have a discount. If you press OK, the products will be removed from defined discounts and added to this discount. For more information click on the Details button.</p> 

<mat-dialog-actions align="center">
        <button mat-raised-button  color="primary"  (click)="onOk()">Ok</button>
        <button mat-raised-button  color="primary"  (click)="onNoClick()">Cancel</button>
        <button mat-raised-button  color="primary"  (click)="onDetails()">Details</button>
</mat-dialog-actions>
