<p mat-dialog-title align="center" class="mat-title">Product Information</p>
<mat-dialog-content>
        <td-data-table [data]="productList" [columns]="selectedProductColumnConfig"
          [style.height.px]="200">
         <ng-template tdDataTableTemplate="name" let-value="value">
                <p matTooltip="{{ value }}">{{ value }}</p>
        </ng-template> 
        <ng-template tdDataTableTemplate="discountName" let-value="value">
                <p matTooltip="{{ value }}">{{ value }}</p>
        </ng-template>   
                
        </td-data-table>
</mat-dialog-content>

<mat-dialog-actions align="center">
        <button mat-raised-button  color="primary" (click)="onClose()" tabindex="-1">OK</button>
</mat-dialog-actions>