<p mat-dialog-title class="mat-title" align="center">Product Discount Details</p>
<mat-dialog-content>
        <td-data-table [data]="data.productsHaveDiscount" [columns]="selectedProductsColumnConfig" 
           [style.height.px]="300">
        <ng-template tdDataTableTemplate="name" let-value="value">
                <p matTooltip="{{ value }}">{{ value }}</p>
        </ng-template> 
        <ng-template tdDataTableTemplate="discountName" let-value="value">
                <p matTooltip="{{ value }}">{{ value }}</p>
        </ng-template>                   
 
        </td-data-table>
</mat-dialog-content>

<mat-dialog-actions align="center">
        <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="onClose()"
                tabindex="-1">Ok</button>
</mat-dialog-actions>