<div layout="column" layout-align="center center">
    <div layout="row" layout-align="start center">
        <!--<th width="125px"></th>-->
        <mat-card style="width:50%">
            <mat-card-content>
                
                <div layout="row" layout-align="start center">
                    <td-search-box #searchBox backIcon="keyboard_arrow_right" placeholder="Search here"
                        [(ngModel)]="searchTerm" (searchDebounce)="search($event)" flex></td-search-box>
                </div>

                <td-data-table #allProductDt [data]="_allProducts" [columns]="allProductColumnConfig" [selectable]="true"
                    [clickable]="false" [multiple]="true" [(ngModel)]="_selectedRows" [sortable]="true"
                    [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sort($event)" [compareWith]="compareWith"
                    [style.height.px]="320">
                    <ng-template tdDataTableTemplate="discountValue"   let-value="value" let-row="row" let-column="column">
                        <span flex style="color:red;" *ngIf="value > 0">{{row[column]}}</span>
                        <span flex *ngIf="value == 0">{{row[column]}}</span>  
                    </ng-template>
                    <ng-template tdDataTableTemplate="id" let-value="value" let-row="row">
                      <a (click)="showDetailsForSelectedProduct(row)" [routerLink]='link'>  
                        <mat-icon color="primary">description</mat-icon>
                        </a>
                    </ng-template>
                </td-data-table>

                <div layout="row" layout-align="space-between center">

                    <div layout="row" layout-align="space-between center">
                        <div hide-xs class="selected-rows-padding">
                        </div>

                    </div>

                    <td-paging-bar #pagingBar [pageSize]="_pageSize" [total]="_filteredTotal" (change)="page($event)">
                        <span hide-xs>Rows per page:</span>
                        <mat-select [style.width.px]="50" [(ngModel)]="_pageSize">
                            <mat-option *ngFor="let size of [25, 50,100,150, 200]" [value]="size">
                                {{size}}
                            </mat-option>
                        </mat-select>
                        {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
                    </td-paging-bar>
                </div>
            </mat-card-content>
        </mat-card>

        <div layout="column" layout-align="center center">
            <button mat-button color="primary" (click)="onAssign()" [disabled]="discountValue == undefined">
                <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
            </button>
            &nbsp;
            &nbsp;
            <button mat-button color="primary" (click)="onDeassign()" [disabled]="discountValue == undefined">
                <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
            </button>

        </div>



        <mat-card style="width: 50%">
            <div layout="row" layout-align="start center">
                <div style="height: 55px;"></div>
            </div>
            <mat-card-content>

                <td-data-table #selectedProductDt [data]="listOfAssignedProducts" [columns]="selectedProductColumnConfig"
                    [selectable]="true" [clickable]="true" [multiple]="true" [sortable]="true" (sortChange)="sortList($event)"
                    [compareWith]="compareWith" [(ngModel)]="_assignSelectedRows" [style.height.px]="315">
                </td-data-table>
                </mat-card-content>
            <div layout="row" layout-align="start center">
                    <div style="height: 20px;"></div>
            </div>
        </mat-card>
    </div>


</div>