<div mat-dialog-content>
    <form #rewardDialogForm="ngForm">
  <div class="size-width-200">
      <mat-form-field>
            <input [(ngModel)]="data.product" required type="text" matInput  [matAutocomplete]="auto" placeholder="Product" name="product">
        </mat-form-field>
        
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let product of data.products" [value]="product.name">
             {{ product.name }}
            </mat-option>
        </mat-autocomplete>
  </div> 
</form>
<div>
  <button mat-raised-button color="primary" [disabled]="!rewardDialogForm.form.valid" [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
