<div mat-dialog-content>
  <mat-tab-group layout="column" layout-align="space-around center" animationDuration="0ms">
    <mat-tab label="Order Fulfillment">
      <div layout="row" layout-align="space-around center">
        <mat-form-field class="size-width-300">
          <input matInput placeholder="Name" name="name" [value]="data.comboItem.combo.name" disabled>
        </mat-form-field>
        <th width="25px"></th>
        <mat-form-field class="size-width-300">
          <input matInput placeholder="Price" name="price" [value]="data.comboItem.price" disabled>
        </mat-form-field>
        <th width="25px"></th>
        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Ordered quantity" name="orderedQuantity"
            [value]="data.comboItem.orderedQuantity">
        </mat-form-field>
      </div>

      <div layout="row" layout-align="space-around center">
        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Delivered quantity" name="deliveredQuantity">
        </mat-form-field>
        <!-- [value]="data.comboItem.deliverdQuantity" -->
        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <input [formControl]="deliverNewItemField" 
                  required 
                  matInput
                  placeholder="Quantity to fulfilled" 
                  name="quantityToFulfilled"
                  (ngModelChange)="quantityToFulfilledChangeEvent($event)"
                  type="number" 
                  [(ngModel)]="_orderItemHistory.quantityToFulfilled"
                  max="{{(data.comboItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder)- (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}">
          <mat-hint>Max
                  {{(data.comboItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
                  items
          </mat-hint>
          <mat-error *ngIf="deliverNewItemField.hasError('max')">
                  Max quantity to deliver is
                  {{(data.comboItem.orderedQuantity - (data.sumOfQuantityToFulfilled+data.sumOfQuantityToCanceld + data.backToOrder)-(quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
          </mat-error>

          <mat-error *ngIf="deliverNewItemField.hasError('required')">Quantity to
                  fulfilled is required</mat-error>
  </mat-form-field>

        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <mat-select
            [required]="(_orderItemHistory.quantityToFulfilled != undefined && _orderItemHistory.quantityToFulfilled !=0) "
            placeholder="Warehouse"
            name="warehouse" 
            [disabled]="isFulfilledReadOnly || (_orderItemHistory.quantityToFulfilled == 0 || _orderItemHistory.quantityToFulfilled == undefined)"
            [(ngModel)]="_orderItemHistory.warehouse.id" 
            #warehouse="ngModel">
            <mat-option *ngFor="let warehouse of data.warehouses" [value]="warehouse.id">
              {{warehouse.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="warehouse.hasError('required')">Please choose an warehouse</mat-error>
        </mat-form-field>
      </div>

      <div layout="row" layout-align="space-around center">

        <mat-form-field class="size-width-300">
          <input matInput 
                  placeholder="Quantity to canceled" 
                  name="quantityToCanceled"
                  required="true" 
                  type="number" 
                  (ngModelChange)="quantityToCanceledChangeEvent($event)"
                  [formControl]="quantityCanceledFormControl"
                  [disabled]="isFulfilledReadOnly"
                  [(ngModel)]="_orderItemHistory.quantityToCanceled"
                  max="{{(data.comboItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}">

          <mat-hint>Max
                  {{(data.comboItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
                  items
          </mat-hint>
          <mat-error *ngIf="quantityCanceledFormControl.hasError('max')">
                  Max quantity to canceled is
                  {{(data.comboItem.orderedQuantity - (data.sumOfQuantityToFulfilled+data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
          </mat-error>

          <mat-error
                  *ngIf="quantityCanceledFormControl.hasError('required') && !isFulfilledReadOnly">
                  Quantity to canceled is required</mat-error>
  </mat-form-field>


        <th width="25px"></th>
        <mat-form-field class="size-width-625">
          <input matInput placeholder="Remark" #remark="ngModel" [disabled]="isFulfilledReadOnly" type="text"
            name="remark" [(ngModel)]="_orderItemHistory.remark">
        </mat-form-field>
      </div>
    </mat-tab>



    <mat-tab label="Fulfillment History">
      <td-data-table #historyDt [data]="orderhistoryList" [columns]="fullfilmentHistoryColumnsConfig"
        [style.height.px]="270" [style.width.px]="1400">

        <ng-template tdDataTableTemplate="shipmentOrderItem.id" let-value="value" let-row="row" let-rowIndex="rowIndex">
          <button mat-icon-button *ngIf="row.shipmentOrderItem.id !=null" (click)="findSerialItems(row)">
            <mat-icon>history</mat-icon>
          </button>
        </ng-template>
      </td-data-table>
    </mat-tab>


    <mat-tab label="Back to order">
      <td-data-table #backToOrderDt [data]="_shipmentHistoryList" [columns]="backToOrderColumnsConfig"
        [style.height.px]="270">
      </td-data-table>
    </mat-tab>
  </mat-tab-group>
</div>


<mat-dialog-actions align="center">
  <button mat-raised-button 
          (click)="onSave()" 
          color="primary"
          [disabled]="(_orderItemHistory.quantityToCanceled == 0 && _orderItemHistory.quantityToFulfilled ==0) 
                           || !(quantityCanceledFormControl.valid && deliverNewItemField.valid) || warehouse.invalid || showSpinner"
          *ngIf="isFulfilled">
          <span *ngIf="!showSpinner">Save</span>
          <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinner" class="circle-spinner"></mat-spinner>
        </button>
  &nbsp;&nbsp;
  <button mat-raised-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>