<h5 mat-dialog-title>Order History</h5>
<mat-dialog-content>
    <td-data-table #backToOrderDt [data]="_orderStatusHistoryArr" [columns]="orderStatusHistoryColumnsConfig"
    [style.height.px]="270"
    [style.width.px]="900">
    </td-data-table>
</mat-dialog-content>

<th height="50"></th>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="close()"><span>Close</span></button>
</mat-dialog-actions>