<h2 mat-dialog-title>Reject Order</h2>

<mat-dialog-content class="mat-typography">
    <div layout="column" layout-align="space-evenly center">
        <h3>Please Select Reason</h3>

        <mat-form-field class="size-width-400">
            <mat-select [formControl]="rejectedOrderFormControl"
                        placeholder="Reason"
                        name="reason" 
                        required>
                <mat-option *ngFor="let reason of data.reason" [value]="reason">
                    {{reason.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="rejectedOrderFormControl.hasError('required')">Reason is required</mat-error>
        </mat-form-field>
        <div style="height: 20px;"></div>
        <label>Description</label>
        <mat-form-field class="example-full-width">
            <textarea matInput [(ngModel)]="rejectedOrder.description" maxlength="100"></textarea>
        </mat-form-field>

    </div>
</mat-dialog-content>

<div style="height: 25px;"></div>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="disAgree()">
        <span>DisAgree</span>
    </button>
    <button mat-raised-button color="warn" (click)="agree()" [disabled]="!rejectedOrderFormControl.valid">
        <span>Agree</span>
    </button>
</mat-dialog-actions>
