<h3>Item Serials</h3>

<mat-dialog-content class="mat-typography">

    <td-data-table #shipmentSerialDt 
                   [columns]="shipmentSerialColumnConfig" 
                   [data]="_shipmentItemSerialArr"
                   [style.height.px]="400" 
                   [style.width.px]="400">
    </td-data-table>

    <div *ngIf="!shipmentSerialDt.hasData" layout="row" layout-align="center center">
        <h3 style="color: red;">No results to display.</h3>
      </div>

</mat-dialog-content>

<div style="height: 15px;"></div>

<mat-dialog-actions align="center">
    <button mat-raised-button (click)="close()">
        <span>Close</span>
    </button>
</mat-dialog-actions>