<div mat-dialog-content>
  <mat-tab-group layout="column" layout-align="space-around center" animationDuration="0ms">
    <mat-tab label="Order Fulfillment">

      <div layout="row" layout-align="space-around center">

        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Name" name="name" [value]="data.singleItem.product.name">
        </mat-form-field>

        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Barcode" name="barcode">
        </mat-form-field>

        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Price" name="price" [value]="data.singleItem.price">
        </mat-form-field>

      </div>

      <div layout="row" layout-align="space-around center">

        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Discount Percentage" name="Discount Percentage"
            [value]="data.singleItem.discountPercentage">
        </mat-form-field>

        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Price after discount" name="priceAfterDiscount"
            [value]="data.singleItem.discountedPrice">
        </mat-form-field>

        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Ordered quantity" name="orderedQuantity"
            [value]="data.singleItem.orderedQuantity">
        </mat-form-field>
      </div>


      <div layout="row" layout-align="start center">
        <mat-form-field class="size-width-300">
          <input matInput disabled placeholder="Delivered quantity" name="deliveredQuantity">
        </mat-form-field>

        <!-- [value]="data.singleItem.deliverdQuantity" -->
      </div>

      <div layout="row" layout-align="space-around center">
        <mat-form-field class="size-width-300">
          <input [formControl]="deliverNewItemField" 
                 required 
                 [(ngModel)]="_orderItemHistory.quantityToFulfilled"
                 (ngModelChange)="quantityToFulfilledChangeEvent($event)"
                 matInput 
                 type="number" 
                 placeholder="Quantity to fulfilled" 
                 name="name"
                 max="{{(data.singleItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}">
          <mat-hint>Max
            {{(data.singleItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder)- (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
            items
          </mat-hint>
          <mat-error *ngIf="deliverNewItemField.hasError('max')">
            Max quantity to fulfilled is
            {{(data.singleItem.orderedQuantity - (data.sumOfQuantityToFulfilled+data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
          </mat-error>
          <mat-error *ngIf="deliverNewItemField.hasError('required')">Quantity to fulfilled is required</mat-error>
        </mat-form-field>

        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <mat-select
            [required]="(_orderItemHistory.quantityToFulfilled != undefined && _orderItemHistory.quantityToFulfilled !=0)"
            placeholder="Warehouse" 
            name="warehouse" 
            [(ngModel)]="_orderItemHistory.warehouse.id" 
            #warehouse="ngModel"
            [disabled]="isFulfilledReadOnly || (_orderItemHistory.quantityToFulfilled == 0 || _orderItemHistory.quantityToFulfilled == undefined)">
            <mat-option *ngFor="let warehouse of data.warehouses" [value]="warehouse.id">
              {{warehouse.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="warehouse.hasError('required')">Please choose an warehouse</mat-error>
        </mat-form-field>
        <th width="25px"></th>

        <mat-form-field class="size-width-300">
          <input  matInput 
                 [formControl]="quantityCanceledFormControl"
                 type="number" 
                 [disabled]="isFulfilledReadOnly"
                 placeholder="Quantity to canceled" 
                 name="quantityToCanceled" 
                 (ngModelChange)="quantityToCanceledChangeEvent($event)"
                 required
                 [(ngModel)]="_orderItemHistory.quantityToCanceled"
                 max="{{(data.singleItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}">

          <mat-hint>Max
            {{(data.singleItem.orderedQuantity - (data.sumOfQuantityToFulfilled + data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
            items
          </mat-hint>
          <mat-error *ngIf="quantityCanceledFormControl.hasError('max')">
            Max quantity to canceled is
            {{(data.singleItem.orderedQuantity - (data.sumOfQuantityToFulfilled+data.sumOfQuantityToCanceld + data.backToOrder) - (quantityToCanceldEventValue + quantityToFulfilledEventValue))}}
          </mat-error>

          <mat-error *ngIf="quantityCanceledFormControl.hasError('required') && !isFulfilledReadOnly">Quantity to canceled is
            required</mat-error>
        </mat-form-field>
      </div>

      <div layout="row" layout-align="start center">
        <mat-form-field class="size-width-625">
          <input matInput placeholder="Remark" #remark="ngModel" type="text" name="remark"
            [disabled]="isFulfilledReadOnly" [(ngModel)]="_orderItemHistory.remark">
        </mat-form-field>
      </div>
    </mat-tab>



    <mat-tab label="Fulfillment History">
      <td-data-table #historyDt [data]="orderhistoryList" [columns]="fullfilmentHistoryColumnsConfig"
        [style.height.px]="270">

        <ng-template tdDataTableTemplate="shipmentOrderItem.id" let-value="value" let-row="row" let-rowIndex="rowIndex">
          <button mat-icon-button *ngIf="row.shipmentOrderItem.id !=null" (click)="findSerialItems(row)">
            <mat-icon>history</mat-icon>
          </button>
        </ng-template>
      </td-data-table>
    </mat-tab>


    <mat-tab label="Back to order">
      <td-data-table #backToOrderDt [data]="_shipmentHistoryList" [columns]="backToOrderColumnsConfig"
        [style.height.px]="270">
      </td-data-table>
    </mat-tab>
  </mat-tab-group>
</div>


<mat-dialog-actions align="center">
  <button mat-raised-button 
          (click)="onSave()" 
          color="primary"
          [disabled]="(_orderItemHistory.quantityToCanceled == 0 && _orderItemHistory.quantityToFulfilled ==0) 
                         || !(quantityCanceledFormControl.valid && deliverNewItemField.valid) || warehouse.invalid || showSpinner"
          *ngIf="isFulfilled">
          <span *ngIf="!showSpinner">Save</span>
          <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinner" class="circle-spinner"></mat-spinner>
        </button>
  &nbsp;&nbsp;
  <button mat-raised-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>