<mat-card class="view-height">
  <mat-card-content>
    <br />
    <div
      layout="column"
      layout-align="space-evenly center"
    >
      <div layout="row" layout-align="space-evenly center">
        <th width="50px"></th>
        <mat-form-field class="size-width-150" color="black">
          <mat-label class="label-class">Order #</mat-label>
          <input
            matInput
            class="inputForm"
            [(ngModel)]="orderService.order.orderNumber"
            type="text"
            disabled="true"
            name="orderNumber"
          />
        </mat-form-field>

        <th width="25px"></th>
        <mat-form-field class="size-width-150" color="black">
          <mat-label class="label-class">Order Date</mat-label>
          <input
            matInput
            class="inputForm"
            [ngModel]="
              orderService.order.audit.createdDate | date: 'dd-MMM-yyyy'
            "
            type="text"
            disabled="true"
            name="orderNumber"
          />
        </mat-form-field>

        <th width="25px"></th>
        <mat-form-field class="size-width-150" color="black">
          <mat-label class="label-class">Point of Sale</mat-label>
          <input
            matInput
            class="inputForm"
            [(ngModel)]="orderService.order.posUser.name"
            type="text"
            disabled="true"
            name="POS"
          />
        </mat-form-field>

        <th width="25px"></th>
        <mat-form-field class="size-width-150" color="black">
          <mat-label class="label-class">Mobile</mat-label>
          <input
            matInput
            class="inputForm"
            [(ngModel)]="orderService.order.posUser.mobileNumber"
            type="text"
            disabled="true"
            name="mobile"
          />
        </mat-form-field>

        <th width="80px"></th>
        <mat-form-field class="size-width-150" color="black">
          <mat-label class="label-class">POS Code</mat-label>
          <input
            matInput
            class="inputForm"
            value="---"
            type="text"
            disabled="true"
            name="posCode"
          />
        </mat-form-field>

        <th width="25px"></th>
        <mat-form-field class="size-width-150" color="black">
          <mat-label class="label-class">Payment Type</mat-label>
          <input
            matInput
            class="inputForm"
            value="---"
            type="text"
            disabled="true"
            name="paymentType"
          />
        </mat-form-field>

        <th width="25px"></th>

        <mat-form-field class="size-width-150">
          <mat-select
            [formControl]="orderStatusTypeList"
            [compareWith]="options"
            multiple
            placeholder="Fulfilment Status"
            (selectionChange)="onOrderStatusChanges($event)"
          >
            <app-select-check-all
              [model]="orderStatusTypeList"
              [values]="fulfillmentStatus"
            ></app-select-check-all>
            <mat-option
              *ngFor="let orderStatus of fulfillmentStatus"
              [value]="orderStatus"
            >
              {{ orderStatus.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div layout="row" layout-align="space-evenly center">
        <th width="50px"></th>
        <mat-form-field class="size-width-150">
          <mat-label class="label-class">POS Group</mat-label>
          <input
            matInput
            class="inputForm"
            [(ngModel)]="
              orderService.order.posUser.posAssignVendorList[0].posGroup.name
            "
            type="text"
            disabled="true"
            name="posGroup"
          />
        </mat-form-field>

        <th width="25px"></th>
        <mat-form-field class="size-width-150">
          <mat-label class="label-class">Order Status</mat-label>
          <input
            matInput
            class="inputForm"
            [(ngModel)]="orderService.order.orderStatus.name"
            type="text"
            disabled="true"
            name="orderStatus"
          />
        </mat-form-field>

        <th width="25px"></th>
        <mat-form-field class="size-width-150">
          <mat-label class="label-class">Total Amount</mat-label>
          <input
            matInput
            class="inputForm"
            [(ngModel)]="orderService.order.totalAmount"
            type="text"
            disabled="true"
            name="totalAmount"
          />
        </mat-form-field>
        <th width="255px"></th>
        <mat-form-field class="size-width-150">
          <mat-label class="label-class">Balance Limit</mat-label>
          <input
            matInput
            class="inputForm"
            value="---"
            type="text"
            disabled="true"
            name="balanceLimit"
          />
        </mat-form-field>

        <th width="25px"></th>
        <mat-form-field class="size-width-150">
          <mat-label class="label-class">Credit Days</mat-label>
          <input
            matInput
            class="inputForm"
            value="---"
            type="text"
            disabled="true"
            name="creditDays"
          />
        </mat-form-field>
      </div>
    </div>
    <td-data-table
      #dataTable
      [data]="_orderDetailsList"
      [columns]="orderDetailsColumnConfig"
      [sortable]="true"
      class="data-table-view-height"
    >
      <ng-template
        tdDataTableTemplate="id"
        let-value="value"
        let-row="row"
        let-rowIndex="rowIndex"
        [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'"
      >
        <button
          mat-icon-button
          (click)="openOrderHistoryDlg(id, row)"
          [disabled]="isButtonDetailsClicked"
        >
          <mat-icon>history</mat-icon>
        </button>
      </ng-template>
    </td-data-table>
    <div class="row" layout="row" layout-align="end end">
      <th width="20%"></th>
      <p>Total Fulfilled :{{ totalOfDeliveredQty }}</p>
      &nbsp; &nbsp;&nbsp; &nbsp;
      <p>Total Amount:{{ totalOfAmount | number }}</p>
      <span style="width:30px;"></span>
    </div>
    <mat-card-actions>
      <div class="row" layout="row" layout-align="center center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="sendToWarehouseFlag || showSpinnerOnSendToWarehouse"
          (click)="sendToWarehouse()"
        >
          <span *ngIf="!showSpinnerOnSendToWarehouse">Send to Warehouse</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            strokeWidth="3"
            class="circle-spinner"
            *ngIf="showSpinnerOnSendToWarehouse"
          ></mat-spinner>
        </button>
        <th width="25px"></th>
        <button
          mat-raised-button
          color="primary"
          (click)="rejectedOrder()"
          [disabled]="showSpinnerOnRejectOrder"
        >
          <span *ngIf="!showSpinnerOnRejectOrder">Reject Order</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            strokeWidth="3"
            class="circle-spinner"
            *ngIf="showSpinnerOnRejectOrder"
          ></mat-spinner>
        </button>
        <th width="25px"></th>
        <button mat-raised-button color="primary" (click)="orderHistory()">
          <span>Order History</span>
        </button>
        <th width="25px"></th>
        <a mat-raised-button routerLink="/orders" color="primary">
          Back
        </a>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
