<mat-dialog-content>
    <form #checkBooxFrm="ngForm">
        <mat-form-field class="size-width-300" style="width:98%;">
            <textarea matInput placeholder="Textarea" maxlength="200"  [(ngModel)]="data.name" name="name" matInput placeholder="Description"
                required>
                </textarea>
            <mat-error>
                Description is required and max length 200 chars.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!(checkBooxFrm.form.valid)" tabindex="2" [mat-dialog-close]="data">Save</button>
    <button mat-raised-button  (click)="cancel()" tabindex="3">cancel</button>
</mat-dialog-actions>