<div
  layout="column"
  layout-align="start center"
  class="form-card-container-height"
>
  <mat-card
    layout="column"
    layout-align="start center strech"
    class="form-card-width"
  >
    <mat-card-content>
      <mat-card-title>{{
        isEdit ? "Edit POS User" : "Add POS User"
      }}</mat-card-title>
      <mat-tab-group layout="row" layout-align="center center">
        <mat-tab label="POS Info">
          <form #posForm="ngForm">
            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-300">
                <input
                  [(ngModel)]="_posUser.name"
                  minlength="3"
                  maxlength="50"
                  name="name"
                  matInput
                  autocomplete="off"
                  placeholder="Shop Name"
                  required
                  [readonly]="isEdit"
                  #name="ngModel"
                />
                <mat-error
                  *ngIf="
                    name.invalid && name.touched && !name.hasError('minlength')
                  "
                >
                  Shop Name is required.
                </mat-error>
                <mat-error *ngIf="name.hasError('minlength')">
                  Name must be at least 3 characters
                </mat-error> </mat-form-field
              ><span style="width:80px;"></span>
              <mat-form-field class="size-width-300">
                <input
                  [(ngModel)]="_posUser.mobileNumber"
                  minlength="10"
                  maxlength="14"
                  pattern="^[0-9]{10,14}$"
                  name="mobileNumber"
                  matInput
                  placeholder="Shop Mobile Number"
                  required
                  type="tel"
                  [readonly]="searchScreen"
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error>
                  Shop Mobile number is required and must be a valid number.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-300">
                <input
                  [(ngModel)]="_posUser.ownerName"
                  minlength="3"
                  maxlength="40"
                  name="ownerName"
                  matInput
                  placeholder="Owner Name"
                  [readonly]="isEdit"
                />
                <mat-error>
                  Name length betweeb 3 to 40 chars.
                </mat-error>
              </mat-form-field>
              <span style="width:80px;"></span>
              <mat-form-field class="size-width-300">
                <input
                  [(ngModel)]="_posUser.ownerMobileNumber"
                  minlength="10"
                  maxlength="14"
                  pattern="^(05)[0-9]+$"
                  name="ownerMobileNumber"
                  matInput
                  placeholder="Owner Mobile Number"
                  type="tel"
                  [readonly]="isEdit"
                  autocomplete="off"
                  #ownerMobileNumber="ngModel"
                />
                <mat-icon matSuffix>contact_phone</mat-icon>
                
                <mat-error
                  *ngIf="
                    !ownerMobileNumber.hasError('pattern') &&
                    ownerMobileNumber.hasError('minlength')
                  "
                  >Please enter 10 digits</mat-error
                >
                <mat-error
                  *ngIf="
                    ownerMobileNumber.hasError('pattern')"
                >
                  Number should start with 05.
                </mat-error>
                
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-300">
                <input
                  [(ngModel)]="_posUser.landNumber"
                  minlength="9"
                  maxlength="14"
                  pattern="^[0-9]{9,14}$"
                  name="landNumber"
                  matInput
                  placeholder="Land Number"
                  type="tel"
                  [readonly]="isEdit"
                />
                <mat-icon matSuffix>ring_volume</mat-icon>
                <mat-error>
                  Land number must be a valid number.
                </mat-error>
              </mat-form-field>
              <span style="width:80px;"></span>
              <mat-form-field class="size-width-300">
                <input
                  [(ngModel)]="_posUser.fax"
                  minlength="9"
                  maxlength="14"
                  pattern="^[0-9]{9,14}$"
                  name="fax"
                  matInput
                  placeholder="Fax"
                  type="tel"
                  [readonly]="isEdit"
                />
                <mat-icon matSuffix>perm_phone_msg</mat-icon>
                <mat-error>
                  Fax number must be a valid number.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-300">
                <input
                  #email="ngModel"
                  [(ngModel)]="_posUser.email"
                  email
                  maxlength="50"
                  name="email"
                  matInput
                  placeholder="E-mail"
                  type="email"
                  [readonly]="isEdit"
                />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid && email.touched"
                  >Invalid email. Please enter a valid one.
                </mat-error>
              </mat-form-field>
              <span style="width:80px;"></span>
              <mat-form-field class="size-width-300">
                <mat-select
                  required
                  ngModel
                  #posGroup="ngModel"
                  [(ngModel)]="_posUser.posGroup"
                  placeholder="POS Group"
                  name="posGroup"
                >
                  <mat-option
                    *ngFor="let posGroup of listOfPosGroup"
                    [value]="posGroup.id"
                  >
                    {{ posGroup.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="posGroup.invalid && posGroup.touched"
                  >posGroup is required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-300">
                <mat-select
                  required
                  ngModel
                  #city="ngModel"
                  (selectionChange)="onLoadRegions($event)"
                  [(ngModel)]="_posUser.region.city.id"
                  placeholder="City"
                  name="city "
                  [disabled]="isEdit"
                >
                  <mat-option
                    *ngFor="let city of listOfCities"
                    [value]="city.id"
                  >
                    {{ city.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="city.invalid && city.touched"
                  >City is required</mat-error
                >
              </mat-form-field>
              <span style="width:80px;"></span>
              <mat-form-field class="size-width-300">
                <mat-select
                  required
                  ngModel
                  #region="ngModel"
                  [(ngModel)]="_posUser.region.id"
                  placeholder="Area"
                  name="region"
                  [disabled]="isEdit"
                >
                  <mat-option
                    *ngFor="let region of listOfRegions"
                    [value]="region.id"
                  >
                    {{ region.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="region.invalid && region.touched"
                  >Area is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-300">
                <input
                  [(ngModel)]="_posUser.trn"
                  minlength="15"
                  maxlength="15"
                  name="trn"
                  matInput
                  placeholder="TRN"
                  pattern="^[0-9]{15}"
                  required
                  [readonly]="isEdit"
                />
                <mat-error>
                  TRN required and must be a valid number.
                </mat-error>
              </mat-form-field>

              <span style="width:80px;"></span>
              <mat-form-field class="size-width-400" style="width: 400px;">
                <input
                  class="form-control"
                  matInput
                  ngModel
                  #posCode="ngModel"
                  minlength="6"
                  maxlength="6"
                  placeholder="POS Code"
                  type="text"
                  name="posCode"
                  [(ngModel)]="_posUser.posCode"
                />
                <mat-error *ngIf="posCode.hasError('minlength')"
                  >POS Code must be 6 digit</mat-error
                >
              </mat-form-field>
              <div style="height: 100px;"></div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="View Location" *ngIf="isEdit">
          <div class="row" layout="row" layout-align="center center">
            <mat-form-field class="size-width-300">
              <input
                matInput
                ngModel
                #latitude="ngModel"
                disabled
                [(ngModel)]="_posUser.latitude"
                placeholder="Latitude"
                type="number"
                name="latitude"
                pattern="(-?[0-8]?[0-9](\.\d*)?)|-?90(\.[0]*)?"
              />

              <!-- <mat-error *ngIf="latitude.invalid && latitude.touched && !latitude.hasError('pattern')">Latitude is required</mat-error> -->
              <mat-error *ngIf="latitude.hasError('pattern')"
                >Please enter a number with this format 99.99999999</mat-error
              >
            </mat-form-field>
            <span style="width:80px;"></span>
            <mat-form-field class="size-width-30">
              <input
                matInput
                ngModel
                #longitude="ngModel"
                disabled
                [(ngModel)]="_posUser.longitude"
                placeholder="Longitude"
                type="number"
                name="longitude"
                pattern="(-?([1]?[0-7][1-9]|[1-9]?[0-9])?(\.\d*)?)|-?180(\.[0]*)?"
              />
            </mat-form-field>
            <span style="width:80px;"></span>
          </div>
          <p-gmap
            [options]="options"
            [overlays]="overlays"
            [style]="{ width: '100%', height: '320px' }"
          >
          </p-gmap>
        </mat-tab>
        <!--
                    <mat-tab label="Assigned Vendors">
                        <view-assigned-vendor></view-assigned-vendor>
                    </mat-tab>
                -->
        <mat-tab label="Permissions">
          <div layout="row" layout-align="center center">
            <mat-card>
              <td-message
                label="Warning!"
                sublabel="Changes on user's permissions will not take effects until the user logout then login again"
                color="warn"
                icon="warning"
              >
              </td-message>
            </mat-card>
          </div>
          <div layout="row">
            <div layout="column" layout-align="start center">
              <user-privilege-profile
                #notSelectedPrivilegeProfiles
                [selectedPrivilegeProfilesSide]="false"
                (rowSelected)="onSelectingPrivilegeProfile($event)"
              >
              </user-privilege-profile>
            </div>
            <div layout="column" layout-align="center center">
              &nbsp;
              <button
                mat-button
                color="primary"
                (click)="notSelectedPrivilegeProfiles.onMoveRows()"
                [disabled]="isEdit"
              >
                <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
              </button>
              &nbsp; &nbsp;
              <button
                mat-button
                color="primary"
                (click)="selectedPrivilegeProfiles.onMoveRows()"
                [disabled]="isEdit"
              >
                <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
              </button>
              &nbsp;
            </div>
            <div layout="column" layout-align="end center">
              <user-privilege-profile
                #selectedPrivilegeProfiles
                [selectedPrivilegeProfilesSide]="true"
                (rowSelected)="onSelectingPrivilegeProfile($event)"
              >
              </user-privilege-profile>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

      <mat-card-actions>
        <div class="row" layout="row" layout-align="center center">
          <button
            mat-raised-button
            color="primary"
            (click)="onSave()"
            [disabled]="!posForm.form.valid || showSpinner"
            class="spinner-container"
          >
            <span *ngIf="!showSpinner">Save</span>
            <mat-spinner
              diameter="38"
              mode="indeterminate"
              class="mat-spinner-color"
              strokeWidth="3"
              class="circle-spinner"
              *ngIf="showSpinner"
            ></mat-spinner>
          </button>
          <!-- <button mat-raised-button color="primary" (click)="onSaveAndNew()" [disabled]="!posForm.form.valid || showSpinnerOnSaveAndNew" class="spinner-container"
                        *ngIf="!isEdit">
                        <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
                    </button> -->
          <a mat-raised-button (click)="onCancel()">
            Cancel
          </a>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
