<td-layout>
  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button
        mat-icon-button
        class="td-menu-button"
        (click)="sidenav.toggle()"
        *ngIf="isUserLoggedIn"
        mdTooltip="Main menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets\orders360-logo.png" style="width: 64px; height: 64px;" />
      <!-- <img src="assets\electro360-logo.png" style="width: 64px; height: 48px;"> -->
      <!-- <img src="assets\act-plus-logo.png" style="width: 64px; height: 64px;"> -->
      <span flex></span>
    </div>

    <mat-sidenav-container fullscreen>
      <mat-sidenav
        #sidenav
        mode="over"
        [opened]="isUserLoggedIn == true"
        [autoFocus]="false"
        style="width:257px;border-right:1px solid #ccc"
      >
        <div flex class="mat-content bgc-grey-50">
          <mat-nav-list>
            <a
              mat-list-item
              class="active"
              (click)="setCurrentModuleName(title, false)"
              (click)="sidenav.toggle()"
              routerLinkActive="active-list-item"
              routerLink="home"
            >
              <mat-icon matListIcon>home</mat-icon>
              Home
            </a>

            <ng-template [ngxPermissionsOnly]="['ROLE_DASHBOARD']">
              <a
                mat-list-item
                routerLink="dashboard"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Dashboard', true)"
                class="active"
              >
                <mat-icon matListIcon>dashboard</mat-icon>
                Dashboard
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_VENDOR']">
              <a
                mat-list-item
                routerLink="vendor"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Vendor', true)"
                class="active"
              >
                <mat-icon matListIcon>store</mat-icon>
                Vendor
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_CATEGORY']">
              <a
                mat-list-item
                routerLink="category-management"
                class="active"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Category Management', true)"
              >
                <mat-icon matListIcon> grid_on</mat-icon>
                Category
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_PRODUCT']">
              <a
                mat-list-item
                routerLink="product-category"
                class="active"
                routerLinkActive="active-list-item"
                (click)="sidenav.toggle()"
                (click)="setCurrentModuleName(' Product Management', true)"
              >
                <mat-icon matListIcon> business_center</mat-icon>
                Product
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_BRAND']">
              <a
                mat-list-item
                routerLink="brand"
                class="active"
                routerLinkActive="active-list-item"
                (click)="sidenav.toggle()"
                (click)="setCurrentModuleName(' Brands', true)"
              >
                <mat-icon matListIcon> business_center</mat-icon>
                Brand
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_AD']">
              <a
                mat-list-item
                routerLink="vendor-ad"
                class="active"
                (click)="sidenav.toggle()"
                (click)="setCurrentModuleName(' Advertisement', true)"
              >
                <mat-icon matListIcon> business_center</mat-icon>
                Adveristement
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_COMBO']">
              <a
                mat-list-item
                routerLink="combo"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Combo', true)"
                class="active"
              >
                <mat-icon matListIcon>card_travel</mat-icon>
                Bundle
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_COMMISSION']">
              <a
                mat-list-item
                routerLink="promotion"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Promotion', true)"
                class="active"
              >
                <mat-icon matListIcon>account_balance_wallet</mat-icon>
                Promotion
              </a>
            </ng-template>

            <div *ngIf="setPromotionAttribute() == 'true'">
              <ng-template [ngxPermissionsOnly]="['ROLE_PROMOTION_ATTRIBUTE']">
                <a
                  mat-list-item
                  routerLink="promotion_attribute"
                  (click)="sidenav.toggle()"
                  routerLinkActive="active-list-item"
                  (click)="setCurrentModuleName('Promotion-Attribute', true)"
                  class="active"
                >
                  <mat-icon matListIcon>account_balance_wallet</mat-icon>
                  Promotion Attribute
                </a>
              </ng-template>
            </div>

            <ng-template [ngxPermissionsOnly]="['ROLE_DISCOUNT']">
              <a
                mat-list-item
                routerLink="discount"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Discount', true)"
                class="active"
              >
                <mat-icon matListIcon>account_balance_wallet</mat-icon>
                Discount
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_ORDER']">
              <a
                mat-list-item
                routerLink="orders"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Order', true)"
                class="active"
              >
                <mat-icon matListIcon>assignment</mat-icon>
                Order
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_ORDER']">
              <a
                mat-list-item
                routerLink="shipment_order"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Shipment Order', true)"
                class="active"
              >
                <mat-icon matListIcon>assignment</mat-icon>
                Shipment Order
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_ORDER_REJECTED_REASON']">
              <a
                mat-list-item
                routerLink="reasons"
                (click)="sidenav.toggle()"
                routerLinkActive="active-list-item"
                (click)="setCurrentModuleName('Order Rejected Reason', true)"
                class="active"
              >
                <mat-icon matListIcon>assignment</mat-icon>
                Reject Setup
              </a>
            </ng-template>
            <!--ToDo-->
            <ng-template [ngxPermissionsOnly]="['ROLE_SURVEY']">
              <a
                mat-list-item
                routerLink="survey"
                class="active"
                routerLinkActive="active-list-item"
                (click)="sidenav.toggle()"
                (click)="setCurrentModuleName('Survey', true)"
              >
                <mat-icon matListIcon>store</mat-icon>
                Survey
              </a>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_POS_GROUP_MANAGEMENT']">
              <a
                mat-list-item
                routerLink="pos-group-management"
                routerLinkActive="active-list-item"
                class="active"
                (click)="sidenav.toggle()"
                (click)="setCurrentModuleName('Pos Group Management', true)"
              >
                <mat-icon matListIcon>group</mat-icon>
                Pos Group
              </a>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="['ROLE_NOTIFICATION']">
              <a
                mat-list-item
                routerLink="notification"
                routerLinkActive="active-list-item"
                class="active"
                (click)="sidenav.toggle()"
                (click)="setCurrentModuleName('Notification', true)"
              >
                <mat-icon matListIcon>send</mat-icon>
                Notifiaction Setup
              </a>
            </ng-template>

            <ng-template
              [ngxPermissionsOnly]="['ROLE_SETTING', 'ROLE_SUBSCRIPTION']"
            >
              <td-expansion-panel>
                <ng-template td-expansion-panel-label>
                  <span>
                    <mat-icon
                      matListIcon
                      color="accent"
                      style="margin-right: 12px; font-size: 20px;"
                      >settings</mat-icon
                    >
                  </span>
                  <span class="md-caption">Settings</span>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_SUBSCRIPTION']">
                  <a
                    mat-list-item
                    routerLink="subscription"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Subscription Fees', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_1</mat-icon
                    >
                    <span class="md-caption">Subscription Fees</span>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_SETTING']">
                  <a
                    mat-list-item
                    routerLink="letter"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Letters', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_2</mat-icon
                    >
                    <span class="md-caption">Letters</span>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_SETTING']">
                  <a
                    mat-list-item
                    routerLink="city"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('cities', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_3</mat-icon
                    >
                    <span class="md-caption">Cities</span>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_SETTING']">
                  <a
                    mat-list-item
                    routerLink="area"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('areas', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_4</mat-icon
                    >
                    <span class="md-caption">Areas</span>
                  </a>
                </ng-template>
              </td-expansion-panel>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_LOYALTY', 'ROLE_REWARD']">
              <td-expansion-panel>
                  <ng-template td-expansion-panel-label>
                      <span>
                          <mat-icon matListIcon color="accent" class="menu-item-icon-font-size"
                              style="margin-right: 12px">loyalty</mat-icon>
                      </span>
                      <span class="md-caption">POS Management </span>
                  </ng-template>
                  <ng-template [ngxPermissionsOnly]="['ROLE_POS']">
                      <a mat-list-item routerLink="pos_user" (click)="sidenav.toggle()"
                          routerLinkActive="active-list-item"
                          (click)="setCurrentModuleName('Point of Sales', true)">
                          <mat-icon matListIcon color="accent" class="sub-menu-item1">filter_1</mat-icon>
                          <span class="md-caption">Point of Sales</span>
                      </a>
                  </ng-template>

                  <ng-template [ngxPermissionsOnly]="['ROLE_POS']">
                      <a mat-list-item routerLink="pos-requests" (click)="sidenav.toggle()"
                          routerLinkActive="active-list-item"
                          (click)="setCurrentModuleName('Point of Sales', true)">
                          <mat-icon matListIcon color="accent" class="sub-menu-item1">filter_2</mat-icon>
                          <span class="md-caption">Signup Requests Management</span>
                      </a>
                  </ng-template>
              </td-expansion-panel>
          </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_LOYALTY', 'ROLE_REWARD']">
              <td-expansion-panel>
                <ng-template td-expansion-panel-label>
                  <span>
                    <mat-icon
                      matListIcon
                      color="accent"
                      class="menu-item-icon-font-size"
                      style="margin-right: 12px"
                      >loyalty</mat-icon
                    >
                  </span>
                  <span class="md-caption">Loyalty System</span>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_LOYALTY']">
                  <a
                    mat-list-item
                    routerLink="loyalty"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Loyalty', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_1</mat-icon
                    >
                    <span class="md-caption">Loyalty</span>
                  </a>
                </ng-template>

                <ng-template [ngxPermissionsOnly]="['ROLE_REWARD']">
                  <a
                    mat-list-item
                    routerLink="reward/all-rewards"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Reward', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_2</mat-icon
                    >
                    <span class="md-caption">Rewards</span>
                  </a>
                </ng-template>
              </td-expansion-panel>
            </ng-template>

            <ng-template
              [ngxPermissionsOnly]="[
                'ROLE_TICKET_SUPPORT',
                'ROLE_FCM_NOTIFICATION'
              ]"
            >
              <td-expansion-panel>
                <ng-template td-expansion-panel-label>
                  <span>
                    <mat-icon
                      matListIcon
                      color="accent"
                      class="menu-item-icon-font-size"
                      style="margin-right: 12px"
                      >send</mat-icon
                    >
                  </span>
                  <span class="md-caption">Communication Center</span>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_TICKET_SUPPORT']">
                  <a
                    mat-list-item
                    routerLink="ticket"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('SupportTicket', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_1</mat-icon
                    >
                    <span class="md-caption">Support Ticket</span>
                  </a>
                </ng-template>
                <ng-template
                  [ngxPermissionsOnly]="['ROLE_SUPPORT_TICKET_TYPE']"
                >
                  <a
                    mat-list-item
                    routerLink="ticket-type"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('SupportTicketType', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_2</mat-icon
                    >
                    <span class="md-caption">Support Ticket Type</span>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_FCM_NOTIFICATION']">
                  <a
                    mat-list-item
                    routerLink="fcm_notification"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="
                      setCurrentModuleName('Broadcast Notifications', true)
                    "
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_3</mat-icon
                    >
                    <span class="md-caption">Broadcast Notifications</span>
                  </a>
                </ng-template>
              </td-expansion-panel>
            </ng-template>

            <ng-template [ngxPermissionsOnly]="['ROLE_WAREHOUSE']">
              <td-expansion-panel>
                <ng-template td-expansion-panel-label>
                  <span>
                    <mat-icon
                      matListIcon
                      color="accent"
                      style="margin-right: 12px; font-size: 20px;"
                    >
                      store</mat-icon
                    >
                  </span>
                  <span class="md-caption">Warehouse</span>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_WAREHOUSE']">
                  <a
                    mat-list-item
                    routerLink="warehouse"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Warehouse', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_1</mat-icon
                    >
                    <span class="md-caption">Warehouse Setup</span>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_WAREHOUSE_ADMIN']">
                  <a
                    mat-list-item
                    routerLink="warehouse-admin"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('warehouse-admin', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_2</mat-icon
                    >
                    <span class="md-caption">Warehouse Admin</span>
                  </a>
                </ng-template>
              </td-expansion-panel>
            </ng-template>

            <ng-template
              [ngxPermissionsOnly]="[
                'ROLE_SYSTEM_ADMIN',
                'ROLE_VENDOR_ADMIN',
                'ROLE_POS',
                'ROLE_SALES_SUPERVISOR',
                'ROLE_SALES_AGENT',
                'ROLE_DELIVERY_USER',
                'ROLE_PRIVILEGE_CENTER'
              ]"
            >
              <td-expansion-panel>
                <ng-template td-expansion-panel-label>
                  <span>
                    <mat-icon
                      matListIcon
                      color="accent"
                      class="menu-item-icon-font-size"
                      style="margin-right: 12px"
                      >account_circle</mat-icon
                    >
                  </span>
                  <span class="md-caption">User</span>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="['ROLE_SYSTEM_ADMIN']">
                  <a
                    mat-list-item
                    routerLink="system-admins"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="
                      setCurrentModuleName('System administrators', true)
                    "
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_1</mat-icon
                    >
                    <span class="md-caption">System administrators</span>
                  </a>
                </ng-template>

                <ng-template [ngxPermissionsOnly]="['ROLE_VENDOR_ADMIN']">
                  <a
                    mat-list-item
                    routerLink="vendor-admins"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="
                      setCurrentModuleName('Vendor administrators', true)
                    "
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_2</mat-icon
                    >
                    <span class="md-caption">Vendor administrators</span>
                  </a>
                </ng-template>

                <ng-template [ngxPermissionsOnly]="['ROLE_SALES_SUPERVISOR']">
                  <a
                    mat-list-item
                    routerLink="sales-supervisors"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Sales supervisors', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_3</mat-icon
                    >
                    <span class="md-caption">Sales supervisors</span>
                  </a>
                </ng-template>

                <ng-template [ngxPermissionsOnly]="['ROLE_SALES_AGENT']">
                  <a
                    mat-list-item
                    routerLink="sales-agents"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Sales agents', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_4</mat-icon
                    >
                    <span class="md-caption">Sales agents</span>
                  </a>
                </ng-template>
<!-- 
                <ng-template [ngxPermissionsOnly]="['ROLE_POS']">
                  <a
                    mat-list-item
                    routerLink="pos_user"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Point of Sales', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_5</mat-icon
                    >
                    <span class="md-caption">Point of Sales</span>
                  </a>
                </ng-template> -->

                <ng-template [ngxPermissionsOnly]="['ROLE_DELIVERY_USER']">
                  <a
                    mat-list-item
                    routerLink="delivery-user"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Delivery User', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_6</mat-icon
                    >
                    <span class="md-caption">Delivery User</span>
                  </a>
                </ng-template>

                <ng-template [ngxPermissionsOnly]="['ROLE_PRIVILEGE_CENTER']">
                  <a
                    mat-list-item
                    routerLink="privilege"
                    (click)="sidenav.toggle()"
                    routerLinkActive="active-list-item"
                    (click)="setCurrentModuleName('Privilege center', true)"
                  >
                    <mat-icon matListIcon color="accent" class="sub-menu-item1"
                      >filter_7</mat-icon
                    >
                    <span class="md-caption">Privilege center</span>
                  </a>
                </ng-template>
              </td-expansion-panel>
            </ng-template>
          </mat-nav-list>
        </div>
      </mat-sidenav>
      <td-layout-manage-list opened="false" mode="side">
        <router-outlet></router-outlet>
      </td-layout-manage-list>
    </mat-sidenav-container>
    <div td-toolbar-content layout="row" layout-align="end center" flex>
      <button mat-icon-button *ngIf="isLoggedInObservable | async">
        <mat-icon>account_box</mat-icon>
      </button>
      <span
        (click)="showNotifications($event)"
      >
        <button
          mat-icon-button
          [matMenuTriggerFor]="appMenu"
          *ngIf="isNotificationIconDisplayed && isLoggedInObservable | async"
        >
          <mat-icon
            [matBadge]="count"
            matBadgeSize="medium"
            matBadgePosition="below before"
            [matBadgeHidden]="matBadgeVisable"
            >notifications</mat-icon
          >
        </button>
        <mat-menu
          #appMenu="matMenu"
          [overlapTrigger]="false"
          (change)="isMatMenuChanged($event)"
          (menuOpened)="isOpened()"
        >
          <div style="width: 500px;">
            <div class="subject" mat-menu-item>
              Notifications
            </div>

            <div
              class="container"
              *ngFor="let notification of lastFourNotifications"
              mat-menu-item
              [ngStyle]="
                notification.status
                  ? { 'background-color': 'white' }
                  : { 'background-color': '#C0C0C0' }
              "
              (click)="openNotification(notification)"
              routerLinkActive="active"
            >
              <span>{{ notification.body }}.</span>
            </div>
            <div class="container">
              <a class="link" routerLink="all-notifications">See All</a>
            </div>
          </div>
        </mat-menu>
      </span>
      <button
        mat-icon-button
        routerLink="login"
        (click)="onLogout(); sidenav.close()"
        *ngIf="isLoggedInObservable | async"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </td-layout-nav>
  <td-layout-footer *ngIf="!isUserLoggedIn">
    <div layout="row" layout-align="start center">
      <span class="mat-caption"
        >Copyright &copy; 2019 Electro 360. All rights reserved</span
      >
    </div>

    <div layout="row" layout-align="end center">
      <!-- <img src="telephoenic-logo"> -->
    </div>
  </td-layout-footer>
</td-layout>
