.sub-menu-item1{
    margin-left: 13px;
    font-size: 18px;
}

.menu-item-icon-font-size {
    font-size: 18px;
}
.active{
    font-size: 13px;
}
.md-caption{
    font-size: 13px;
}

.mat-list .mat-list-item .mat-list-icon, .mat-list .mat-list-option .mat-list-icon, .mat-nav-list .mat-list-item .mat-list-icon, .mat-nav-list .mat-list-option .mat-list-icon, .mat-selection-list .mat-list-item .mat-list-icon, .mat-selection-list .mat-list-option .mat-list-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    font-size: 18px;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 4px;
}

.active-list-item{
    background: gainsboro;
}

.mat-list .mat-list-item.mat-list-item-with-avatar, .mat-list .mat-list-option.mat-list-item-with-avatar, .mat-nav-list .mat-list-item.mat-list-item-with-avatar, .mat-nav-list .mat-list-option.mat-list-item-with-avatar, .mat-selection-list .mat-list-item.mat-list-item-with-avatar, .mat-selection-list .mat-list-option.mat-list-item-with-avatar {
    height: 40px;
}
.subject {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #D8D8D8;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  
  .link {
    margin-left: 170px;
    font-size: 15px;
    width:90%;
    align-content: center;
  }
  
  .container {
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 100%;
    border-top: 1px solid #D8D8D8;
    background-color: #fff;
    align-content:  center;  
  }
  
  .last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #D8D8D8;
    width: 382px;
  }
  
  
  .triangle {
    margin-left: 78%;
    width: 0px;
    height: 0px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0px 25px 25px 25px;
    transform: translateY(1px);
  }

  ::ng-deep button.mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /** set line height to desired height */
    line-height: 18px;
    /** set height to auto */
    height: auto;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}


