<div>
  <mat-dialog-content>
    <p>Your session has timed out, please click on OK to login again. Otherwise you will logout automatically</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button  color="primary" (click)="onClose()" tabindex="-1">OK </button>
</mat-dialog-actions>
</div>
