<h1 mat-dialog-title> {{ dialogTitle }} </h1>
<div mat-dialog-content>
    <form #ticketTypeDialogForm="ngForm">
        <div>
            <mat-form-field style="width: 75%">
                <input [(ngModel)]="data.name" required maxlength="40" minlength="3" type="text" matInput
                    placeholder="Name" #name="ngModel" name="name">
                <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is required
                </mat-error>
                <mat-error *ngIf="name.hasError('minlength')">Type name should be at least 3 characters</mat-error>
            </mat-form-field>            
        </div>
    </form>
</div>

<mat-card-actions>
    <div class="row" layout="row" layout-align="center start">
        <button mat-raised-button color="primary" [disabled]="!ticketTypeDialogForm.form.valid || showSpinner"
            (click)="onSave()">
            <span *ngIf="!showSpinner">Save</span>
            <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner">
            </mat-spinner>
        </button>
        <button mat-raised-button color="primary" [disabled]="!ticketTypeDialogForm.form.valid || showSpinnerOnSaveAndNew"
            (click)="onSaveAndNew()" *ngIf="!isEdit">
            <span *ngIf="!showSpinnerOnSaveAndNew">Save & New</span>
            <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner"
                *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
        </button>
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>
</mat-card-actions>