<div layout="column" layout-align="start center" class="form-card-container-height">
    <mat-card layout="column" layout-align="start center strech" class="form-card-width">

        <mat-card-content>
            <mat-card-title>{{isEdit ? 'Edit Vendor Admin' : 'Add Vendor Admin'}}</mat-card-title>
            <mat-tab-group layout="row" layout-align="center center">
                <mat-tab label="Basic">
                    <form #vendorAdminForm="ngForm">
                        <div class="row" layout="row" layout-align="center center">
                            <mat-form-field class="size-width-400">
                                <input matInput required ngModel minlength="3" maxlength="40" #name="ngModel"
                                autocomplete="off" [(ngModel)]="vendorAdmin.name" placeholder="Name" type="text" name="name">
                                <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is
                                    required</mat-error>
                                <mat-error *ngIf="name.hasError('minlength')">Name must be at least 3 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row" layout="row" layout-align="center center">
                            <mat-form-field class="size-width-200 padding-right-2">
                                <input matInput required ngModel minlength="10" maxlength="14" pattern="^[0-9]{10,14}$"
                                    [(ngModel)]="vendorAdmin.mobileNumber" #mobile="ngModel" placeholder="Mobile"
                                    name="mobile" type="tel">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error
                                    *ngIf="mobile.invalid && mobile.touched && !mobile.hasError('minlength') && !mobile.hasError('pattern')">
                                    Mobile is required.</mat-error>
                                <mat-error *ngIf="mobile.hasError('minlength') || mobile.hasError('pattern')">Please
                                    enter 10 to 14 digits.</mat-error>
                            </mat-form-field>

                            <mat-form-field class="size-width-200">
                                <input matInput ngModel required email maxlength="50" [(ngModel)]="vendorAdmin.email"
                                    #email="ngModel" placeholder="Email" name="email" type="email">
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="email.invalid && email.touched">Invalid email. Please enter a valid
                                    one.</mat-error>
                            </mat-form-field>
                        </div>


                        <div class="row" layout="row" layout-align="center center" *ngIf="!_isUserLoggedInVendor">
                            <mat-form-field class="size-width-400">
                                <mat-select required placeholder="Vendor" required ngModel #vendor="ngModel"
                                    [(ngModel)]="vendorAdmin.vendor.id" name="vendor"  (selectionChange)="onVendorChange($event)">
                                    <mat-option *ngFor="let vendor of listOfVendors" [value]="vendor.id">
                                        {{ vendor.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="vendor.invalid && vendor.touched">Vendor is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div style="min-height: 250px;"></div>                        
                    </form>
                </mat-tab>
                <mat-tab label="Permissions">
                    <div layout="row" layout-align="center center">
                        <mat-card>
                            <td-message label="Warning!"
                                sublabel="Changes on user's permissions will not take effects until the user logout then login again"
                                color="warn" icon="warning">
                            </td-message>
                        </mat-card>
                    </div>
                    <div layout="row">
                        <div layout="column" layout-align="start center">
                            <user-privilege-profile #notSelectedPrivilegeProfiles
                                [selectedPrivilegeProfilesSide]="false"
                                (rowSelected)="onSelectingPrivilegeProfile($event)">
                            </user-privilege-profile>
                        </div>
                        <div layout="column" layout-align="center center">
                            &nbsp;
                            <button mat-button color="primary" (click)="notSelectedPrivilegeProfiles.onMoveRows()">
                                <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
                            </button>
                            &nbsp;
                            &nbsp;
                            <button mat-button color="primary" (click)="selectedPrivilegeProfiles.onMoveRows()">
                                <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
                            </button>
                            &nbsp;
                        </div>
                        <div layout="column" layout-align="end center">
                            <user-privilege-profile #selectedPrivilegeProfiles [selectedPrivilegeProfilesSide]="true"
                                (rowSelected)="onSelectingPrivilegeProfile($event)">
                            </user-privilege-profile>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <mat-card-actions></mat-card-actions>
        <mat-card-actions></mat-card-actions>

        <mat-card-actions>
            <div class="row" layout="row" layout-align="center center">
                <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!vendorAdminForm.form.valid || showSpinner"
                        class="spinner-container">
                     <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinner" class="circle-spinner"></mat-spinner>
                    <span *ngIf="!showSpinner">Save</span>
                </button>
                <button mat-raised-button color="primary" (click)="onSaveAndNew()"
                    [disabled]="!vendorAdminForm.form.valid || showSpinnerOnSaveAndNew" *ngIf="!isEdit"  class="spinner-container">
                    <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinnerOnSaveAndNew" class="circle-spinner"></mat-spinner>
                </button>
                <a mat-raised-button (click)="onCancel()">
                    Cancel
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
    </div>