.full-width {
    width: 35%;
  }

  .mid-width {
    width: 17%;
  }
  .size-width-400{
    width:400px;
  }
  .size-width-200{
    width:200px;
  }
  .form-card-width {
    width: 98%;
  }
.form-card-container-height{
  min-height: 98%;
}