<mat-dialog-content>
  <mat-form-field class="size-width-200">
    <input [(ngModel)]="data.minNumber" matInput placeholder="Min Number" required type="number" name="minNumber" #minNumber="ngModel">
    <mat-error *ngIf="minNumber.hasError('required')">
      Min Number is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="size-width-200">
    <input [(ngModel)]="data.maxNumber" matInput placeholder="Max Number" required type="number" name="maxNumber" #maxNumber="ngModel">
    <mat-error *ngIf="maxNumber.hasError('required')">
      Max Number is required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [disabled]="minNumber.invalid || maxNumber.invalid"
          color="primary" [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</mat-dialog-actions>