<div layout="column" layout-align="start center" class="form-card-container-height">
    <mat-card layout="column" layout-align="start center strech" class="form-card-width">
        <mat-card-content>
            <mat-card-title>{{isPosSubscription ? 'Edit Subscription' : 'View Subscription'}}</mat-card-title>
                <form #subscriptionForm="ngForm">
                    <div class="row" layout="row" layout-align="center center">
                        <mat-form-field class="size-width-500">
                            <input matInput
                                [value]="subscription.name"
                                type="text" 
                                disabled="true"
                                placeholder="Name"
                                name="name">
                        </mat-form-field>
                    </div>
                    <div class="row" layout="row" layout-align="center center">
                        <mat-form-field  class="size-width-500 padding-right-2">
                            <input matInput
                                [value]="subscription.type.name"
                                type="text" 
                                disabled="true"
                                placeholder="Type"
                                name="name">
                        </mat-form-field>
                    </div>

                    <div *ngIf="_isPosSubscription">
                        <mat-card class="view-height">
                            <div  layout="row" 
                                layout-align="space-between center" 
                                class="view-actions-padding view-actions-container">

                                <div>
                                <!-- <ng-template [ngxPermissionsOnly]="'ROLE_COMMISSION_ADD'"> -->
                                    <button type="button" mat-icon-button (click)="onNewMinMax()">
                                        <mat-icon >add</mat-icon>
                                    </button>
                                <!-- </ng-template> -->
                            
                                <!-- <ng-template [ngxPermissionsOnly]="'ROLE_COMMISSION_DELETE'"> -->
                                    <button type="button" mat-icon-button (click)="onDeleteMinMax()">
                                        <mat-icon matTooltip="Delete">clear</mat-icon>
                                    </button>
                                <!-- </ng-template> -->
                                </div>
                            </div>
                        
                            <mat-divider></mat-divider>
            
                            <td-data-table 
                                #minToMaxDataTable
                                [ngModelOptions]="{standalone: true}"
                                [data]="minToMaxDataTableData"
                                [columns]="minToMaxDataTableColumnsConfig"
                                selectable="true"
                                clickable="false"
                                multiple="true"
                                sortable="true"
                                [sortBy]="sortBy"
                                [sortOrder]="sortOrder"
                                (sortChange)="sort($event)"
                                [(ngModel)]="minToMaxDataTableSelectedRows"
                                [compareWith]="compareWith"
                                [style.height.px]="150">
                            
                            <!-- <ng-template tdDataTableTemplate="value" let-value="value" let-row="row">
                                {{value}} 
            
                                <a (click)="onEditMinToMax(row)" style="padding-left: 80%">
                                <mat-icon>edit</mat-icon>
                                </a>
                            </ng-template> -->
            
                            </td-data-table>
                            
                            <div  class="md-padding" 
                                *ngIf="!minToMaxDataTable.hasData" 
                                layout="row" 
                                layout-align="center center">
                                <h4>No results to display.</h4>
                            </div>
                        
                            <div layout="row" layout-align="space-between center">
                            <div hide-xs class="selected-rows-padding">
                                <p class="md-caption" *ngIf="minToMaxDataTableSelectedRows.length">
                                    {{minToMaxDataTableSelectedRows.length}} item(s) selected
                                </p>
                            </div>
                            </div>
                        </mat-card>
                    </div>
                </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="row" layout="row" layout-align="center center" *ngIf="_isPosSubscription">
                <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!subscriptionForm.form.valid">
                    Save
                </button>
                <a mat-raised-button (click)="onCancel()">
                    Cancel
                </a>
            </div>
            <div class="row" layout="row" layout-align="center center" *ngIf="!_isPosSubscription">
                <a mat-raised-button (click)="onCancel()">
                    Back
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>