<div id="{{ node.id }}" class="node">
    <span>
        <span *ngIf="node.ancestors.length > 0">
            <span *ngFor="let p of node.ancestors">
                <img *ngIf="!p.lastNode" src="./assets/tree/blank_node.png" />
                <img *ngIf="p.lastNode" src="./assets/tree/blank_node.png" />
            </span>
        </span>

        <!-- sharp_chevron_right_black.png-->
        <img *ngIf="!node.lastNode" src="./assets/tree/blank_node.png" />
        <img *ngIf="node.lastNode" src="./assets/tree/blank_node.png" />
        <img *ngIf="hasLeaf() && node.expand" src="./assets/tree/sharp_expand_more_black_17dp.png" (click)="clickExpandCollapse()"
            class="tree-arrow" />
        <img *ngIf="hasLeaf() && !node.expand" src="./assets/tree/sharp_chevron_right_black_17dp.png" (click)="clickExpandCollapse()"
            class="tree-arrow" />
        <img *ngIf="!hasLeaf()" src="./assets/tree/blank_node.png" />
    </span>
    <div id="myDIV" class="text " title=" id : {{ getParentName() }} with id: {{ getParentId() }}">
        <a class="btn{{ getId()}}" id="{{getId()}}" (click)="highlightSelectedNode()">
            {{ node.name }}
        </a>
    </div>
</div>
<div *ngIf="hasLeaf()">
    <div *ngIf="node.expand">
        <div *ngFor="let child of node.children; let firstNodeChild = first; let lastNodeChild = last">
            <app-node-tree [node]="child" [parent]="node" [firstNode]="firstNodeChild" [lastNode]="lastNodeChild"></app-node-tree>
        </div>
    </div>
</div>