<h5 mat-dialog-title>Related items</h5>

<mat-dialog-content [style.width.px]=400>

  <mat-tab-group>
    <mat-tab label="Categories" *ngIf="data['childCategories'].length > 0">
      <td-virtual-scroll-container #virtualScroll [style.height.px]="250" [data]="data['childCategories']">
        <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
          <mat-list-item>
            <h5 matLine>{{row['childCategoryName']}}</h5>
            <p matLine>Parent category: {{row['parentCategoryName']}}</p>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>
      </td-virtual-scroll-container>
    </mat-tab>
    <mat-tab label="Products" *ngIf="data['relatedProducts'].length > 0">
      <td-virtual-scroll-container #virtualScroll [style.height.px]="250" [data]="data['relatedProducts']">
        <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
          <mat-list-item>
            <h5 matLine>{{row['productName']}}</h5>
            <p matLine>Under category: {{row['categoryName']}} </p>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>
      </td-virtual-scroll-container>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>