<div layout="row">
  <mat-card>
    <div layout="column">
      <div>
        <td-search-box
          #searchBox
          backIcon="keyboard_arrow_right"
          placeholder="Search here"
          (searchDebounce)="search($event)"
          flex
        ></td-search-box>
      </div>
      <td-expansion-panel-group *ngIf="_allDeassignedProducts.length !== 0">
        <td-expansion-panel [expand]="true" label="Label goes here">
          <div class="md-padding">
            <td-data-table
              #dataDeassignedTable
              [data]="_allDeassignedProducts"
              [columns]="columnsDeassignedConfig"
              [style.height.px]="150"
            >
              <ng-template
                tdDataTableTemplate="id"
                let-value="value"
                let-row="row"
                let-rowIndex="rowIndex"
                [ngxPermissionsOnly]="'ROLE_COMBO_EDIT'"
              >
                <button mat-icon-button (click)="onRemoveDeassigned(row)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </ng-template>
            </td-data-table>
          </div>
        </td-expansion-panel>
      </td-expansion-panel-group>

      <mat-divider></mat-divider>
      <td-data-table
        #dataTable
        [data]="_allProducts"
        [columns]="columnsConfig"
        [selectable]="true"
        [clickable]="false"
        [multiple]="true"
        [sortable]="true"
        [sortBy]="sortBy"
        [(ngModel)]="selectedRows"
        [sortOrder]="sortOrder"
        (sortChange)="sort($event)"
        [style.height.px]="400"
        [compareWith]="compareWith"
      >
      </td-data-table>
      <div layout="row" layout-align="space-between center">
        <div hide-xs class="selected-rows-padding">
          <p class="md-caption" *ngIf="selectedRows.length">
            {{ selectedRows.length }} item(s) selected
          </p>
        </div>
        <td-paging-bar
          #pagingBar
          [pageSize]="pageSize"
          [total]="filteredTotal"
          (change)="page($event)"
        >
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of [25, 50, 100, 200]" [value]="size">
              {{ size }}
            </mat-option>
          </mat-select>
          {{ pagingBar.range }} <span hide-xs>of {{ pagingBar.total }}</span>
        </td-paging-bar>
      </div>
    </div>
  </mat-card>

  <div layout="column" layout-align="center center">
    <button
      mat-button
      color="primary"
      (click)="onAssignedProducts()"
      [disabled]="loyaltyFactorField"
    >
      <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
    </button>
    &nbsp; &nbsp;
    <button
      mat-button
      color="primary"
      (click)="onDeassignedProducts()"
      [disabled]="loyaltyFactorField"
    >
      <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
    </button>
  </div>

  <mat-card class="view-height">
    <mat-divider></mat-divider>
    <div style="height: 58px;"></div>
    <td-data-table
      #dataLoyaltyTable
      [data]="_allProductLoyalty"
      [columns]="columnsLoyaltyConfig"
      [selectable]="true"
      [clickable]="false"
      [multiple]="true"
      [sortable]="false"
      [(ngModel)]="selectedLoyaltyRows"
      [style.height.px]="444"
    >
    </td-data-table>
    <div layout="row" layout-align="space-between center">
      <div hide-xs class="selected-rows-padding">
        <p class="md-caption" *ngIf="selectedLoyaltyRows.length">
          {{ selectedLoyaltyRows.length }} item(s) selected
        </p>
      </div>
    </div>
  </mat-card>
</div>
