<!--<div layout="column" layout-align="start center strech">-->
    <mat-card class="view-height">
        <mat-card-title>All Reject Reason</mat-card-title>
        <div layout="row" layout-align="space-between center" class="view-actions-padding view-actions-container">
            <div layout="row">
                <ng-template [ngxPermissionsOnly]="'ROLE_ORDER_REJECTED_REASON_ADD'">
                    <a mat-mini-fab color="primary" matTooltip="Add" matTooltipPosition="before" (click)="onAdd()">
                        <mat-icon>add</mat-icon>
                    </a>
                </ng-template>&nbsp;
                <ng-template [ngxPermissionsOnly]="'ROLE_ORDER_REJECTED_REASON_DELETE'">
                    <button mat-mini-fab color="primary" type="button" (click)="onDelete()">
                        <mat-icon matTooltip="Delete">clear</mat-icon>
                    </button>
                </ng-template>
                &nbsp;
                <ng-template [ngxPermissionsOnly]="'ROLE_ORDER_REJECTED_REASON_ACTIVATE_ALL'">
                    <button mat-mini-fab color="primary" type="button" (click)="onActivateDeactivateSelectedRows(true)">
                        <mat-icon matTooltip="Activate">done</mat-icon>
                    </button>
                </ng-template>
                &nbsp;
                <ng-template [ngxPermissionsOnly]="'ROLE_ORDER_REJECTED_REASON_DEACTIVATE_ALL'">
                    <button mat-mini-fab color="primary" type="button" (click)="onActivateDeactivateSelectedRows(false)">
                        <mat-icon matTooltip="Deactivate">block</mat-icon>
                    </button>
                </ng-template>
                &nbsp;
                <ng-template [ngxPermissionsOnly]="'ROLE_COMMISSION_REFRESH'">
                    <button type="button" mat-icon-button (click)="onRefresh()">
                        <mat-icon matTooltip="Refresh data">refresh</mat-icon>
                    </button>
                </ng-template>
            </div>
            <div layout="row" layout-align="end center" class="view-actions-padding view-actions-container">
                <td-search-box #searchBox backIcon="keyboard_arrow_right" placeholder="Search here"
                    (searchDebounce)="search($event)" flex></td-search-box>
            </div>
        </div>
        <mat-card-content>
            <td-data-table #dataTable [data]="allModels" [columns]="columnsConfig" selectable="true" clickable="false"
                multiple="true" sortable="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sort($event)"
                [(ngModel)]="selectedRows" [compareWith]="compareWith" style="width:auto;" class="data-table-view-height">
    
                <ng-template tdDataTableTemplate="id" let-value="value" let-row="row"
                    [ngxPermissionsOnly]="'ROLE_ORDER_REJECTED_REASON_EDIT'">
                    <a (click)="onEdit(id, row)" routerLink="reason-dialog">
                        <mat-icon>edit</mat-icon>
                    </a>
                </ng-template>
    
                <ng-template tdDataTableTemplate="inactive" let-value="value" let-row="row"
                    [ngxPermissionsOnly]="'ROLE_ORDER_REJECTED_REASON_ACTIVATE/DEACTIVATE_PER_ROW'">
                    <mat-slide-toggle [checked]="!value" color="accent" (change)="onActivateDeactivePerRow(value, row)">
                    </mat-slide-toggle>
                </ng-template>
            </td-data-table>
    
            <div *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                <h3>No results to display.</h3>
            </div>
            <div layout="column" layout-align="space-between end">
                <div layout="row" layout-align="space-between center">
                    <div hide-xs class="selected-rows-padding">
                        <p class="md-caption" *ngIf="selectedRows.length">
                            {{selectedRows.length}} item(s) selected
                        </p>
                    </div>
                    <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
                        <span hide-xs>Rows per page:</span>
                        <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                            <mat-option *ngFor="let size of [25, 50,100,150, 200]" [value]="size">
                                {{size}}
                            </mat-option>
                        </mat-select>
                        {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
                    </td-paging-bar>
                </div>
            </div>
        </mat-card-content>
    
    </mat-card>
    
    <!--</div>-->