<h1 mat-dialog-title align="center">{{ dialogTitle }}</h1>
<mat-dialog-content>
    <form #reasonDialogForm="ngForm">
        <div>
            <mat-form-field style="width: 90%;">
                <mat-select placeholder="Type" ngModel #parent="ngModel" name="parent" [(ngModel)]="data.parent.id" 
                 required (selectionChange)="changeParent($event)">
                    <mat-option *ngFor="let parent of listOfParents" (onSelectionChange)="onParentSelectionChange(parent)" [value]="parent.id">
                        {{parent.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="parent.invalid && parent.touched">
                    Type is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 90%;">
                <input [(ngModel)]="data.name" minlength="3" required maxlength="40" name="name" #name="ngModel"
                    matInput autocomplete="off" placeholder="Name">
                <mat-error *ngIf="name.hasError('minlength')">Name must be at least 3 characters</mat-error>
                <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">
                    Name is required.
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<div class="row" layout="row" layout-align="center start">
    <button mat-raised-button color="primary" (click)="onSave()"
        [disabled]="!reasonDialogForm.form.valid || showSpinner" class="spinner-container">
        <span *ngIf="!showSpinner">Save</span>
        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner">
        </mat-spinner>
    </button>&nbsp;
    <button mat-raised-button color="primary" [disabled]="!reasonDialogForm.form.valid || showSpinnerOnSaveAndNew"
        (click)="onSaveAndNew()" *ngIf="!isEdit">
        <span *ngIf="!showSpinnerOnSaveAndNew">Save & New</span>
        <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner"
            *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
    </button>&nbsp;
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>