<mat-card>
    <div *ngIf="deliveryUserRegions.length">  
    <td-data-table 
    #dataTable
    [data]="allModels"
    [columns]="columnsConfig"
    selectable="true"
    clickable="false"
    multiple="true"
    sortable="false"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"
    (sortChange)="sortList($event)"
    [(ngModel)]="_selectedRows"
    [compareWith]="compareWith"
    [style.height.px]="200"
    [style.width.px]="520"
    [style.margin-top.px]="3">
    </td-data-table>
    </div>
    <div class="md-padding" style="height: 200px;width:520px" *ngIf="!deliveryUserRegions.length" layout="row" layout-align="center center">
      <h4>No area(s) found.</h4>
    </div>
    </mat-card>
    