/* :host-context(.CodeMirror) {
    height: 400px !important;
}

:host-context(.CodeMirror-scroll) {
    height: 400px !important;
    min-height: 400px !important;
} */
.form-card-width{
width:98%;
height: 98%;
}
.size-width-256{
    width:256px;
}
.form-card-container-height{
    height: 120%!important;
}