<div layout="column" layout-align="center center" class="form-card-container-height">
        <mat-card layout="column" layout-align="start center strech" class="form-card-width">
         <mat-card-content>
                <mat-card-title>{{isEdit ? 'Edit Letter' : 'Add Letter'}}</mat-card-title>
            <form #letterForm="ngForm">
              <div layout="column" layout-align="center center">
                    <div layout="row">
                        <mat-form-field class="size-width-256">
                            <input matInput required ngModel minlength="10" maxlength="100" #name="ngModel" 
                                   autocomplete="off" [(ngModel)]="_letter.name" placeholder="Name"
                                type="text" name="name">
                            <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is required</mat-error>
                            <mat-error *ngIf="name.hasError('minlength')">Name must be at least 10 characters</mat-error>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field class="size-width-256">
                            <input matInput required ngModel minlength="10" maxlength="100"[(ngModel)]="_letter.technicalName"
                                #technicalName="ngModel" placeholder="Technical Name" name="technicalName">
                            <mat-error *ngIf="technicalName.invalid && technicalName.touched && !technicalName.hasError('minlength') && !technicalName.hasError('pattern')">Technical name is required.</mat-error>
                            <mat-error *ngIf="technicalName.hasError('minlength') || technicalName.hasError('pattern')">Technical name must be at least 10 charachters</mat-error>
                        </mat-form-field>
                    </div>
                  <mat-form-field style="width:516px">
                      <input matInput ngModel maxlength="100" with [(ngModel)]="_letter.subject" #subject="ngModel" placeholder="Subject"
                          name="subject">
                  </mat-form-field>

                  <td-text-editor 
                        required 
                        #bodyTE="ngModel" 
                        [options]="options" 
                        name="body" 
                        [(ngModel)]="_letter.body"
                        style="height: 100px">
                    </td-text-editor>
                
              </div>
          </form>
        </mat-card-content>

        <mat-card-actions>
            <div layout="row" layout-align="center center" >
                <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!letterForm.form.valid || showSpinner">
                    <span *ngIf="!showSpinner">Save</span>
                    <mat-spinner diameter="38" mode="indeterminate" class="mat-spinner-color" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner"></mat-spinner>
                </button>
                <button mat-raised-button color="primary" (click)="onSaveAndNew()" [disabled]="!letterForm.form.valid || showSpinnerOnSaveAndNew" *ngIf="!isEdit">
                    <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
                </button>
                <a mat-raised-button (click)="onCancel()">
                    Cancel
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>