<mat-dialog-content>
    <form #answerForm="ngForm">
        <mat-form-field style="width:98%;">

            <textarea matInput placeholder="Textarea" maxlength="200" [(ngModel)]="data.answerName" name="name"
                matInput placeholder="Description" required>
            </textarea>
            <mat-error>
                Answer is required and the max length 200 chars.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!(answerForm.form.valid)" tabindex="2" [mat-dialog-close]="data">Save</button>
    <button mat-raised-button  (click)="cancel()" tabindex="3">cancel</button>
</mat-dialog-actions>