<div layout="row" layout-align="space-between center" class="pad-left-sm pad-right-sm">
  <mat-card class="view-height">
    <button (click)="onAdd()" type="button" mat-icon-button *ngIf="!publish">
      <mat-icon matTooltip="New">add</mat-icon>
    </button>

    <button type="button" mat-icon-button (click)="onDelete()" *ngIf="!publish">
      <mat-icon matTooltip="Delete">clear</mat-icon>
    </button>

    <td-data-table #dataTable 
                   [data]="_questionList" 
                   [columns]="questionColumns" 
                   [selectable]="true" 
                   [clickable]="true"
                   [multiple]="true" 
                   [(ngModel)]="selectedRows" 
                   [compareWith]="compareWith"
                   [style.height.px]="250">


      <ng-template tdDataTableTemplate="name" let-value="value">
        <p matTooltip="{{ value }}">{{ value }}</p>
      </ng-template>

      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-rowIndex="rowIndex"
        [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'">
        <button mat-icon-button (click)="onEdit(id, row)" *ngIf="!publish">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-template>

      <ng-template tdDataTableTemplate="answer_id" let-value="value" let-row="row" let-rowIndex="rowIndex"
        [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'">
        <button mat-icon-button (click)="onAddAnswer(answer_id, row)" *ngIf="!publish">
          <mat-icon matTooltip="New">add</mat-icon>
        </button>
      </ng-template>


      <ng-template tdDataTableTemplate="question_id" let-value="value" let-row="row" let-rowIndex="rowIndex"
        [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'">
        <button mat-icon-button (click)="onShowAnswer(question_id, row)">
          <mat-icon matTooltip="View Answers">description</mat-icon>
        </button>
      </ng-template>

    </td-data-table>

        <div layout="row" layout-align="space-between center">
          <div hide-xs class="selected-rows-padding">
            <p class="md-caption">
              {{selectedRows.length}} item(s) selected
            </p>
          </div>
        </div>

  </mat-card>
  <br />
  <mat-card class="view-height">
    <button type="button" mat-icon-button (click)="onDeleteAnswer()" *ngIf="!publish">
      <mat-icon matTooltip="Delete">clear</mat-icon>
    </button>

    <td-data-table #answerDt [data]="_answerList" [columns]="answerConfig" [selectable]="true" [clickable]="true"
      [multiple]="true" [(ngModel)]="answerSelectedRows" [style.height.px]="250">

      <ng-template tdDataTableTemplate="name" let-value="value">
        <p matTooltip="{{ value }}">{{ value }}</p>
      </ng-template>
      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-rowIndex="rowIndex"
        [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'">
        <button mat-icon-button (click)="onAnswerEdit(id, row)" *ngIf="!publish">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-template>
    </td-data-table>
    <div layout="row" layout-align="space-between center">
      <div hide-xs class="selected-rows-padding">
        <p class="md-caption">
          {{answerSelectedRows.length}} item(s) selected
        </p>
      </div>
    </div>
  </mat-card>
</div>