.full-width {
    width: 35%;
  }

  .mid-width {
    width: 17%;
  }

  .form-card-width {
    width: 98%;
    height: 98%;
  }

  .picklist-comp {
    margin-top: 20px;
  }
  .size-width-400{
    width:400px;
  }
  .size-width-250{
    width:250px;
  }

  .form-card-container-height{
    height: auto;
  }
