<div
  layout="column"
  layout-align="start center"
  class="form-card-container-height"
>
  <mat-card
    layout="column"
    layout-align="start center strech"
    class="form-card-width"
  >
    <mat-card-content style="height: auto;">
      <mat-card-title>{{
        isEdit ? "Edit Warehouse Admin" : "Add Warehouse Admin"
      }}</mat-card-title>
      <mat-tab-group layout="row" layout-align="center center">
        <mat-tab label="Basic">
          <form #warehouseAdminForm="ngForm">
            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400">
                <input
                  matInput
                  required
                  ngModel
                  minlength="3"
                  maxlength="40"
                  #name="ngModel"
                  (change)="warehouseUserNameChange($event)"
                  autocomplete="off"
                  [(ngModel)]="warehouseAdmin.name"
                  placeholder="Name"
                  type="text"
                  name="name"
                />
                <mat-error
                  *ngIf="
                    name.invalid && name.touched && !name.hasError('minlength')
                  "
                  >Name is required</mat-error
                >
                <mat-error *ngIf="name.hasError('minlength')"
                  >Name must be at least 3 characters
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400">
                <input
                  matInput
                  required
                  ngModel
                  minlength="10"
                  maxlength="10"
                  [pattern]="regex"
                  [(ngModel)]="warehouseAdmin.mobileNumber"
                  #mobile="ngModel"
                  placeholder="Mobile"
                  name="mobile"
                  type="tel"
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error
                  *ngIf="
                    mobile.invalid &&
                    mobile.touched &&
                    !mobile.hasError('minlength') &&
                    !mobile.hasError('pattern')
                  "
                >
                  Mobile is required.</mat-error
                >
                <mat-error
                  *ngIf="
                    mobile.hasError('minlength') || mobile.hasError('pattern')
                  "
                  >Please enter valid mobile number starts with
                  {{ warehouseAdmin.vendor.country.mobileCode }}</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row" layout="row" layout-align="center center">
              <mat-form-field class="size-width-400">
                <input
                  matInput
                  ngModel
                  email
                  [(ngModel)]="warehouseAdmin.email"
                  autocomplete="off"
                  pattern="^[\w\.=-]+@[\w\.-]+\.[\w]{2,3}$"
                  required
                  #email="ngModel"
                  placeholder="Email"
                  name="email"
                  type="email"
                />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error
                  *ngIf="
                    email.invalid && email.touched && !email.hasError('pattern')
                  "
                  >Email Address is required.</mat-error
                >
                <mat-error *ngIf="email.hasError('pattern')"
                  >Invalid Email Address</mat-error
                >
              </mat-form-field>
            </div>

            <!-- <mat-select
                  [formControl]="warehouseFormControl"
                  [compareWith]="options"
                  multiple
                  placeholder="Warehouse"
                  required
                >
                  <app-select-check-all
                    [model]="warehouseFormControl"
                    [values]="listOfWarehouses"
                  >
                  </app-select-check-all>
                  <mat-option
                    *ngFor="let warehouse of listOfWarehouses"
                    [value]="warehouse"
                    (click)="
                      selectWarehousePerOne(allWarehouseSelected.viewValue)
                    "
                  >
                    {{ warehouse.name }}
                  </mat-option>
                </mat-select>
                <mat-error>
                  User should have at least one warehouse
                </mat-error>
              -->
            <div [formGroup]="userForm" novalidate style="width: 400px;height: 60px;">
              <angular2-multiselect
                [data]="dropdownList"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                formControlName="skills"
                required
                [style.color]="'black'"
                [ngStyle]="{
                  color:
                    userForm.get('skills').touched &&
                    !userForm.get('skills').errors?.required
                      ? 'red'
                      : 'black'
                }"
                class="dropdown"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
              >
                <c-item>
                  <ng-template let-item="item">
                    <label style="color: #333; min-width: 150px;">{{
                      item.name
                    }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
              <mat-error
                *ngIf="
                  userForm.get('skills').touched &&
                  userForm.get('skills').errors?.required
                "
              >
                User should have at least one warehouse
              </mat-error>
            </div>
          </form>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
          <mat-card-actions></mat-card-actions>
        </mat-tab>
        <mat-tab label="Permissions">
          <div layout="row" layout-align="center center">
            <mat-card>
              <td-message
                label="Warning!"
                sublabel="Changes on user's permissions will not take effects until the user logout then login again"
                color="warn"
                icon="warning"
              >
              </td-message>
            </mat-card>
          </div>
          <div layout="row">
            <div layout="column" layout-align="start center">
              <user-privilege-profile
                #notSelectedPrivilegeProfiles
                [selectedPrivilegeProfilesSide]="false"
                (rowSelected)="onSelectingPrivilegeProfile($event)"
              >
              </user-privilege-profile>
            </div>
            <div layout="column" layout-align="center center">
              &nbsp;
              <button
                mat-button
                color="primary"
                (click)="notSelectedPrivilegeProfiles.onMoveRows()"
              >
                <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
              </button>
              &nbsp; &nbsp;
              <button
                mat-button
                color="primary"
                (click)="selectedPrivilegeProfiles.onMoveRows()"
              >
                <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
              </button>
              &nbsp;
            </div>
            <div layout="column" layout-align="end center">
              <user-privilege-profile
                #selectedPrivilegeProfiles
                [selectedPrivilegeProfilesSide]="true"
                (rowSelected)="onSelectingPrivilegeProfile($event)"
              >
              </user-privilege-profile>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <div class="row" layout="row" layout-align="center center">
        <button
          mat-raised-button
          color="primary"
          (click)="onSave()"
          [disabled]="
            !warehouseAdminForm.form.valid ||
            showSpinner ||
            !warehouseFormControl.valid
          "
          class="spinner-container"
        >
          <span *ngIf="!showSpinner">Save</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            class="circle-spinner"
            strokeWidth="3"
            *ngIf="showSpinner"
          ></mat-spinner>
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSaveAndNew()"
          [disabled]="
            !warehouseAdminForm.form.valid ||
            showSpinnerOnSaveAndNew ||
            !warehouseFormControl.valid
          "
          *ngIf="!isEdit"
        >
          <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
          <mat-spinner
            diameter="38"
            mode="indeterminate"
            strokeWidth="3"
            class="circle-spinner"
            *ngIf="showSpinnerOnSaveAndNew"
          ></mat-spinner>
        </button>
        <a mat-raised-button routerLink="/warehouse-admin">
          Cancel
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
