<!--<div layout="column" layout-align="start center strech">-->
<!-- <mat-sidenav-container style="min-height: 100%; height: 100%">  -->
  <!-- <mat-sidenav #sidenav opened="false" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="../pos-users">All Point of sales</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="../all-assigned-poss">Assinged Point of sales</a>
    </mat-nav-list>
  </mat-sidenav> -->

  <mat-card class="view-height" >
         <mat-card-title>All Point of Sales</mat-card-title>
        <div layout="row" layout-align="space-between center" class="view-actions-padding view-actions-container">
            <div layout="row" >
              <!-- <ng-template [ngxPermissionsOnly]="'ROLE_ASSIGNED_POS'">
                    <button type="button" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
              </ng-template> -->
              <ng-template [ngxPermissionsOnly]="'ROLE_POS_ADD'">
                  <a mat-mini-fab color="primary" matTooltip="Add" matTooltipPosition="before"
                    (click)="onNew()" routerLink="../search">
                  <mat-icon>add</mat-icon>
                  </a>
                  </ng-template>&nbsp;            
              <ng-template [ngxPermissionsOnly]="'ROLE_POS_DELETE'">
                <button  mat-mini-fab color="primary" type="button"  (click)="onDelete()">
                  <mat-icon matTooltip="Delete">clear</mat-icon>
                </button>
              </ng-template>
              <div disabled>
                &nbsp;</div>
              <ng-template [ngxPermissionsOnly]="'ROLE_POS_ACTIVATE_ALL'">
                <button mat-mini-fab color="primary" type="button"  (click)="onActivateDeactivateSelectedRows(true)">
                    <mat-icon matTooltip="Activate" >done</mat-icon>
                </button>
              </ng-template>
              <div disabled>
                &nbsp;</div>
              <ng-template [ngxPermissionsOnly]="'ROLE_POS_DEACTIVATE_ALL'">
                <button mat-mini-fab color="primary" type="button" (click)="onActivateDeactivateSelectedRows(false)">
                    <mat-icon matTooltip="Deactivate">block</mat-icon>
                </button>
              </ng-template>
              <div disabled>
                &nbsp;</div>
              <ng-template [ngxPermissionsOnly]="'ROLE_POS_REFRESH'">
                <button type="button" mat-icon-button (click)="onRefresh()">
                    <mat-icon matTooltip="Refresh data">refresh</mat-icon>
                </button>
              </ng-template>
            </div>
            <div layout="row" layout-align="end center" class="view-actions-padding view-actions-container">
          <td-search-box #searchBox 
                        backIcon="keyboard_arrow_right" 
                        placeholder="Search here" 
                        (searchDebounce)="search($event)"
                        flex></td-search-box>
            </div>
      </div>
    <mat-card-content>
    
    <td-data-table
      #dataTable
      [data]="_allPosAssignedVendor"
      [columns]="columnsConfig"
      [selectable]="true"
      [clickable]="true"
      [multiple]="true"
      [sortable]="true"
      [sortBy]="sortBy"
      [(ngModel)]="selectedRows"
      [sortOrder]="sortOrder"
      (sortChange)="sort($event)"
      class="data-table-view-height"
      [compareWith]="compareWith">

      <ng-template tdDataTableTemplate="posUser.id" let-value="posId" let-row="row"
                  [ngxPermissionsOnly]="'ROLE_POS_EDIT'">
          <a (click)="onEdit(posId, row)"  routerLink="../pos-form" [queryParams]="{edit:1}">
            <mat-icon color="primary">edit</mat-icon>
          </a>
        </ng-template>

        <ng-template tdDataTableTemplate="inactive" let-value="value" let-row="row"
                    [ngxPermissionsOnly]="'ROLE_POS_ACTIVATE_DEACTIVATE_PER_ROW'">
          <mat-slide-toggle [checked]="!value" 
                    color="accent"
                    (change)="onActivateDeactivePerRow(value, row)">
          </mat-slide-toggle>
        </ng-template>
    </td-data-table>
    <div *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h3>No results to display.</h3>
      </div>
      <div layout="column" layout-align="space-between end">
      <div layout="row" layout-align="space-between center">
        <div hide-xs class="selected-rows-padding">
          <p class="md-caption" *ngIf="selectedRows.length">
            {{selectedRows.length}} item(s) selected
          </p>
        </div>
        <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of [25, 50,100, 200]" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
      </div>
    </div>
    </mat-card-content>
  </mat-card>

<!-- </mat-sidenav-container> -->
<!--</div>-->