<div style="float:left;width:20%;height: 100%!important;">
  <mat-card style="padding-top: 10px; min-width: 200px; overflow-x: auto"   [style.overflow]="'auto'" [style.height.px]="500" >
    <div *ngFor="let node of tree | async; let firstNode = first;  let lastNode = last">
      <app-node-tree [node]="node" [parent]="" [firstNode]="firstNode" [lastNode]="lastNode"></app-node-tree>
    </div>
  </mat-card>
</div>

<div style="float:right; width:80%;" class="view-height">

  <mat-card style="height: 6% !important; padding: 10px 15px;">
    <label style="font-family: arial; font-size: 14px">{{parentCategory}}</label>
  </mat-card>
  <mat-card style="margin-top: -2px; height: 93% !important;">
    <div layout="row" layout-align="space-between center" class="view-actions-padding view-actions-container">
      <div layout="row">
        <ng-template [ngxPermissionsOnly]="'ROLE_PRODUCT_ADD'">
          <button mat-mini-fab color="primary" type="button" (click)="onNew()" routerLink="product-form" [queryParams]="{edit:0 ,categoryId:categoryId,hasProducts :hasProduct}">
            <mat-icon>add</mat-icon>

          </button>
        </ng-template>
        <div disabled>
            &nbsp;</div>
        <ng-template [ngxPermissionsOnly]="'ROLE_PRODUCT_DELETE'">
          <button mat-mini-fab color="primary" type="button" (click)="onDelete()">
            <mat-icon matTooltip="Delete">clear</mat-icon>

          </button>
        </ng-template>
        <div disabled>
            &nbsp;</div>
        <ng-template [ngxPermissionsOnly]="'ROLE_PRODUCT_ACTIVATE_ALL'">
          <button mat-mini-fab color="primary" type="button" (click)="onActivateDeactivateSelectedRows(true)">
            <mat-icon matTooltip="Activate">done</mat-icon>

          </button>

        </ng-template>
        <div disabled>
            &nbsp;</div>
        <ng-template [ngxPermissionsOnly]="'ROLE_PRODUCT_DEACTIVATE_ALL'">
          <button mat-mini-fab color="primary" type="button" (click)="onActivateDeactivateSelectedRows(false)">
            <mat-icon matTooltip="Deactivate">block</mat-icon>

          </button>
        </ng-template>

      </div>
      <div>
        <td-search-box #searchBox backIcon="keyboard_arrow_right" placeholder="Search here" (searchDebounce)="search($event)"
        [debounce]="750" flex></td-search-box>
      </div>
    </div>

    <mat-divider></mat-divider>


    <td-data-table #dataTable [data]="allModels" [columns]="columnsConfig" selectable="true" clickable="false" multiple="true"
      sortable="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sort($event)" [(ngModel)]="selectedRows"
      class="data-table-view-height" style="width : 99%" [compareWith]="compareWith">

      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" [ngxPermissionsOnly]="'ROLE_PRODUCT_EDIT'">
        <a (click)="onEdit(value, row)" routerLink="./product-form" [queryParams]="{edit:1 ,categoryId:categoryId,hasProducts :hasProduct }">
          <mat-icon>edit</mat-icon>
        </a>
      </ng-template>

      <ng-template tdDataTableTemplate="inactive" let-value="value" let-row="row" [ngxPermissionsOnly]="'ROLE_PRODUCT_ACTIVATE_DEACTIVATE_PER_ROW'">
        <mat-slide-toggle [checked]="!value" color="accent" (change)="onActivateDeactivePerRow(value, row)">
        </mat-slide-toggle>
      </ng-template>
    </td-data-table>

    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h4>No results to display.</h4>
    </div>

    <div layout="row" layout-align="space-between center"  class="td-paging-bar">
      <div hide-xs class="selected-rows-padding">
        <p class="md-caption" *ngIf="selectedRows.length">
          {{selectedRows.length}} item(s) selected
        </p>
      </div>
      <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
        <span hide-xs>Rows per page:</span>
        <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
          <mat-option *ngFor="let size of [25, 50,100,150, 200]" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
        {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
      </td-paging-bar>
    </div>
  </mat-card>
</div>