<td-data-table 
  #dataTable
  [data]="privilegeProfileViewRole"
  [columns]="columnsConfig"
  selectable="true"
  clickable="false"
  multiple="true"
  sortable="true"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"
  (sortChange)="sort($event)"
  [(ngModel)]="_selectedRows"
  [style.height.px]="200"
  [style.width.px]="520"
  [compareWith]="compareWith">

<div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h4>No view role(s) defined for the selected modules.</h4>
</div>