<mat-card>
<div *ngIf="userPrivilegeProfiles.length">  
<td-data-table 
  #dataTable
  [data]="userPrivilegeProfiles"
  [columns]="columnsConfig"
  selectable="true"
  clickable="false"
  multiple="true"
  sortable="false"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"
  (sortChange)="sort($event)"
  [(ngModel)]="_selectedRows"
  [style.height.px]="320"
  [style.width.px]="520"
  [compareWith]="compareWith">
  </td-data-table>
</div>
<div class="md-padding" style="height: 320px;width:520px;" *ngIf="!userPrivilegeProfiles.length" layout="row" layout-align="center center">
    <h4>No privilege profiles found.</h4>
</div>
</mat-card>