.outer {
  width: 1px;
  height: 100%;
  margin: auto;
  position: absolute;
  overflow: hidden;
  margin-left: 20px;
}
.inner {
  position: absolute;
  width:100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}

.remove-scroll{
  overflow:hidden;
}


.size-width-200{
  width:200px;
}

.view-height{
  height: 100%;
}

.textarea {
  resize: none;
  height: 40%;
}
