<div layout="column" layout-align="start center stretch">
    <mat-card layout="column" style="width: 99%;height: 100%;">
      <mat-card-content>
        <mat-card-title>{{isEdit ? 'Edit Promotion' : 'Add Promotion'}}</mat-card-title>
        <mat-tab-group layout="row" layout-align="center center">
            <mat-tab label="Products">

                <app-product-promotion></app-product-promotion>
    
              </mat-tab>
    
          <mat-tab label="Details" style="width:90%">
              <div layout="row" layout-align="center">
                  <span style="width: 390px;;"></span>
                  &nbsp; <ng-template [ngxPermissionsOnly]="'ROLE_COMMISSION_ADD'">
                  <button type="button" mat-icon-button (click)="addPromotionQuantity()">
                    <mat-icon>add</mat-icon>
                  </button>
                </ng-template>
                &nbsp;
                <ng-template [ngxPermissionsOnly]="'ROLE_COMMISSION_DELETE'">
                  <button type="button" mat-icon-button (click)="onDelete()">
                    <mat-icon matTooltip="Delete">clear</mat-icon>
                  </button>
                </ng-template>
              </div>
            <div layout="row" layout-align="center center" style="height:80%;">
              <mat-card layout="column" style="width:1200px;">
                <mat-card-content>
                    <form #promotionForm="ngForm">

                  <div layout="row" layout-align="start center">
                          <mat-form-field style="width: 100%;">
                            <input class="form-control" matInput required ngModel minlength="3" maxlength="50" #name="ngModel"
                              [(ngModel)]="_promotion.name" autocomplete="off" placeholder="Name" type="text" name="name" required>
                              <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is required</mat-error>
                              <mat-error *ngIf="name.hasError('minlength')">Name must be at least 3 characters</mat-error>
                          </mat-form-field>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div layout="row" layout-align="start center">
                    <mat-form-field class="size-width-200">
                      <input name="startDate" matInput required [matDatepicker]="startDate" placeholder="Start Date"
                        [(ngModel)]="_promotion.startDate">
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                      <mat-error>Start Date is required</mat-error>
                    </mat-form-field>
                    <span style="width:288px;"></span>
                    <mat-form-field class="size-width-150">
                      <input name="endDate" matInput [matDatepicker]="endDate" placeholder="End Date"
                        [(ngModel)]="_promotion.endDate">
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                  &nbsp;&nbsp;&nbsp;
                  <div layout="row" layout-align="start center">
                    <mat-form-field style="width: 100%;">
                      <textarea matInput placeholder="Description" name="description "
                        [(ngModel)]="_promotion.description" cols="10" rows="5" charswidth="250" class="textarea"></textarea>
                    </mat-form-field>
                  </div>
                </form>
                </mat-card-content>

              </mat-card>
              <span style="width:200px;"></span>
              <mat-card layout="column" style="width:1000px;" class="test">
                  &nbsp;
                <mat-card-content>
                  <div *ngIf="qtyFlag">
                      <td-data-table #qtyToValueDataTable 
                                     [ngModelOptions]="{standalone: true}"
                                     [data]="_promotoinQuantityList" 
                                     [columns]="qtyToValueDataTableColumnsConfig" 
                                     selectable="true"
                                     clickable="true" 
                                     multiple="true" 
                                     [(ngModel)]="_selectedPromotoinQuantity" 
                                     [style.height.px]="190"
                                     class="test">
  
                      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-rowIndex="rowIndex"
                        [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'">
                        <button mat-icon-button (click)="onEditPromotionQuantity(id, row)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </ng-template>
                    </td-data-table>

                  </div>


                  <div *ngIf="attFlag">
                      <td-data-table #qtyToValueDataTable
                                     [ngModelOptions]="{standalone: true}"
                                     [data]="_promotoinAttributeList" 
                                     [columns]="attrToValueDataTableColumnsConfig" 
                                     selectable="true"
                                     clickable="true" 
                                     multiple="true" 
                                     [(ngModel)]="_selectedPromotoinAttributeList" 
                                     [style.height.px]="300"
                                     class="test">
  
                      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-rowIndex="rowIndex"
                        [ngxPermissionsOnly]="'ROLE_VENDOR_ADDRESS_EDIT'">
                        <button mat-icon-button (click)="onEditPromotionQuantity(id, row)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </ng-template>
                    </td-data-table>

                  </div>
             
<!-- 
                  <div layout="row" layout-align="space-between center">
                    <div hide-xs class="selected-rows-padding">
                      <p class="md-caption" *ngIf="_selectedPromotoinQuantity.length">
                        {{_selectedPromotoinQuantity.length}} item(s) selected
                      </p>
                    </div>
                  </div> -->

                </mat-card-content>

                <mat-card-actions>

                </mat-card-actions>

              </mat-card>
            </div>

          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions>
        <div class="row" layout="row" layout-align="center center">
          <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!promotionForm.form.valid || showSpinner">
              <span *ngIf="!showSpinner">Save</span>
              <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinner" class="circle-spinner"></mat-spinner>
          </button>
          <button mat-raised-button color="primary" (click)="onSaveAndNew()" [disabled]="!promotionForm.form.valid || showSpinnerOnSaveAndNew"
            *ngIf="!isEdit">
            <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
            <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinnerOnSaveAndNew" class="circle-spinner"></mat-spinner>
          </button>
          <a mat-raised-button (click)="onCancel()">
            Cancel
          </a>
        </div>

        &nbsp;
        &nbsp;
      </mat-card-actions>
    </mat-card>
</div>