<div layout="column" layout-align="center center">
    <mat-card layout="column" layout-align="space-evenly center" class="form-card-width"style="min-height: 98%; min-height:98%;">
        <mat-card-content>
            <mat-card-title>{{isEdit ? 'Edit Bundle' : 'Add Bundle'}}</mat-card-title>
            <mat-tab-group layout="row" layout-align="center center" (selectedTabChange)="onChangeTab($event)">
                <mat-tab label="Details">
                    <form #comboForm="ngForm" layout="column">
                        <div layout="row" layout-align="space-evenly start">
                            <div layout="column">
                                <div layout="row" layout-align="center center">
                                    <mat-form-field class="size-width-280" style="width:480px;">
                                        <input class="form-control" matInput required minlength="3" maxlength="30"
                                            #barcode="ngModel" autocomplete="off" [(ngModel)]="_combo.name" placeholder="Name" type="text"
                                            name="name">
                                        <mat-error>Name is required</mat-error>
                                    </mat-form-field>
                                    <span style="width:125px;"></span>
                                    <mat-form-field class="size-width-100">
                                        <input name="startDate" matInput required [matDatepicker]="startDate"
                                            placeholder="Start date" [(ngModel)]="strDate">
                                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                        <mat-datepicker #startDate></mat-datepicker>
                                        <mat-error>Start date is required</mat-error>
                                    </mat-form-field>
                                    <span style="width:14px"></span>
                                    <mat-form-field class="size-width-100">
                                        <input name="endDate" matInput [matDatepicker]="endDate" placeholder="End date"
                                            [(ngModel)]="enDate">
                                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                        <mat-datepicker #endDate></mat-datepicker>
                                    </mat-form-field>
                                    <span style="width:14px"></span>
                                    <mat-form-field class="size-width-300">
                                            <mat-select required ngModel #posGroup="ngModel" [ngModel]="selectedGroup"
                                                placeholder="POS Group" name="posGroup" multiple [(ngModel)]="_combo.posGroup">
                                                <mat-option *ngFor="let posGroup of listOfPosGroup" [value]="posGroup.id">
                                                    {{ posGroup.name }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="posGroup.invalid && posGroup.touched">posGroup is required</mat-error>
                                        </mat-form-field>

                                    <span style="width:170px;"></span>
                                </div>
                                <!-- layout="row" layout-align="space-between center"> -->
                                <view-comboinfo></view-comboinfo>
                            </div>

                            <!-- <view-product-combo></view-product-combo> -->
                        </div>
                    </form>




                </mat-tab>
                <!-- <mat-tab label="Add Products">
                <div><view-product-combo></view-product-combo></div>
        </mat-tab> -->

                <mat-tab label="Image">
                    <div layout="column" layout-align="center center">
                        <div>
                            <ngx-gallery #ngxGallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                        </div>
                        <div>
                            <button mat-button 
                                (click)="fileInput.inputElement.click()" 
                                style="cursor: pointer"
                                (fileDrop)="attImagesAsFiles.push($event)" 
                                (keyup.enter)="fileInput.inputElement.click()"
                                (keyup.delete)="fileInput.clear()" 
                                (keyup.backspace)="fileInput.clear()" 
                                flex>
                                <mat-icon >
                                    add_a_photo</mat-icon>
                            </button>
                            <button mat-button (click)="onDeleteImage()" [disabled]="attImagesAsFiles.length==0">
                                <mat-icon>delete</mat-icon>
                            </button>

                            <td-file-input hidden class="push-left-sm push-right-sm" name="fileInput" #fileInput
                                accept="image/*" (select)="onSelectImages($event)" multiple (change)="onChange($event)">
                                <span class="text-upper">Browse...</span>
                            </td-file-input>
                        </div>
                        <mat-card-actions></mat-card-actions>
                        <mat-card-actions></mat-card-actions>
                        <mat-card-actions></mat-card-actions>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>

        <mat-card-actions>
            <div class="row" layout="row" layout-align="center start">
                <button mat-raised-button color="primary"  (click)="onSaveWithAttachments(attImagesAsFiles)" [disabled]="!comboForm.form.valid || showSpinner" class="spinner-container">
                    <span *ngIf="!showSpinner">Save</span>
                    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinner" class="circle-spinner"></mat-spinner>
                </button>
                <button mat-raised-button color="primary" (click)="onSaveAndNewWithAttachments(attImagesAsFiles)"
                    [disabled]="!comboForm.form.valid || showSpinnerOnSaveAndNew" *ngIf="!isEdit" class="spinner-container">
                    <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                    <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
                </button>
                <a mat-raised-button routerLink="/combo">
                    Cancel
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>