<mat-card layout="column" layout-align="space-evenly center" class="form-card-width">
    <mat-card-content style="height:auto;">
        <mat-card-title>{{isEdit ? 'Edit Warehouse' : 'Add Warehouse'}}</mat-card-title>
        <form #warehouseForm="ngForm" layout-align="center center">
            <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400">
                    <input [(ngModel)]="warehouse.name" minlength="3" maxlength="40" ngModel #name="ngModel" name="name"
                        matInput  autocomplete="off" placeholder="Name" (change)="warehouseNameChange($event)" required>
                    <mat-error *ngIf="name.hasError('minlength')">
                        Name must be at least 3 characters.
                    </mat-error>
                    <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">
                        Name is required.
                    </mat-error>

                </mat-form-field>
            </div>

            <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400">
                    <mat-select required placeholder="City" ngModel #city="ngModel"
                        [(ngModel)]="warehouse.region.city.id" name="city" (selectionChange)="onCityChange($event)">
                        <mat-option *ngFor="let city of listOfCities" [value]="city.id">
                            {{ city.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="city.invalid && city.touched">
                        City is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400">
                    <mat-select required placeholder="Area" ngModel #region="ngModel" [(ngModel)]="warehouse.region.id"
                        name="region" (selectionChange)="onRegionChange($event)">
                        <mat-option *ngFor="let region of listOfRegions" [value]="region.id">
                            {{ region.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="region.invalid && region.touched">
                        Area is required
                    </mat-error>
                </mat-form-field>

            </div>
            <div layout="row" layout-align="center center">
                <mat-form-field class="size-width-400">
                    <input [(ngModel)]="warehouse.address" autocomplete="off" minlength="0" maxlength="100" #address name="address"
                        matInput placeholder="Address" (change)="warehouseAddressChange($event)">
                </mat-form-field>
            </div>

        </form>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>
    <mat-card-actions></mat-card-actions>

    <mat-card-actions>
        <div class="row" layout="row" layout-align="center center">
            <button mat-raised-button color="primary" (click)="onSave()"
                [disabled]="!warehouseForm.form.valid || showSpinner" class="spinner-container">
                <span *ngIf="!showSpinner">Save</span>
                <mat-spinner diameter="38" mode="indeterminate" class="mat-spinner-color" class="circle-spinner"
                    strokeWidth="3" *ngIf="showSpinner"></mat-spinner>
            </button>
            <button mat-raised-button color="primary" (click)="onSaveAndNew()" *ngIf="!isEdit"
                [disabled]="!warehouseForm.form.valid || showSpinnerOnSaveAndNew">
                <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
                <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner"
                    *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
            </button>
            <button mat-raised-button routerLink="/warehouse">
                Cancel
            </button>
        </div>
    </mat-card-actions>
</mat-card>