<div style="float:left;width:25%;" class="view-height">
  <mat-card [style.overflow]="'auto'" [style.height.px]="'300'"  >
      <div disabled>
          &nbsp;</div>
    <div layout="row">
        <div disabled>
            &nbsp;</div>
      <ng-template [ngxPermissionsOnly]="'ROLE_CATEGORY_ADD'">
        <button mat-mini-fab color="primary" type="button" (click)="onNewCategory()" routerLink="./category-management-form"
          [queryParams]="{edit:0 , categoryId:categoryId, hasProducts :hasProduct, Path:parentCategory}">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
      <div disabled>
        &nbsp;</div>
      <ng-template [ngxPermissionsOnly]="'ROLE_CATEGORY_EDIT'">
        <button mat-mini-fab color="primary" type="button" (click)="onEditCategory()" routerLink="./category-management-form"
          [queryParams]="{edit:1 , categoryId:categoryId ,hasProducts :hasProduct , Path:parentCategory}">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-template>
      <div disabled>
        &nbsp;</div>
      <ng-template [ngxPermissionsOnly]="'ROLE_CATEGORY_DELETE'">
        <button mat-mini-fab color="primary" type="button" (click)="onDeleteCategory()">
          <mat-icon matTooltip="Delete">clear</mat-icon>
        </button>
      </ng-template>
      <div disabled>
        &nbsp;</div>
      <ng-template [ngxPermissionsOnly]="'ROLE_CATEGORY_ACTIVATE_ALL'">
        <button mat-mini-fab color="primary" type="button" (click)="onActivateDeactivateCategory(true)">
          <mat-icon matTooltip="Activate">done</mat-icon>
        </button>
      </ng-template>
      <div disabled>
        &nbsp;</div>
      <ng-template [ngxPermissionsOnly]="'ROLE_CATEGORY_DEACTIVATE_ALL'">
        <button mat-mini-fab color="primary" type="button" (click)="onActivateDeactivateCategory(false)">
          <mat-icon matTooltip="Deactivate">block</mat-icon>
        </button>
      </ng-template>
    </div>
    
    <div *ngFor="let node of tree | async; let firstNode = first;  let lastNode = last" style="padding-top: 15px;">
      <node-tree [node]="node" [parent]="" [firstNode]="firstNode" [lastNode]="lastNode"></node-tree>
    </div>
  </mat-card>
</div>

<div style="float:right; width:75%;" class="view-height"> 
  <mat-card>
    <mat-card-content layout="row" layout-align="space-around center" style="height: 87%;">
      <mat-tab-group> 
        <mat-tab label="Category Info">
          <div layout="row" layout-align="space-between center">
            <mat-form-field class="size-width-700">
              <input  matInput  [value]=parentCategory type="text" disabled='true' placeholder="Path">
              
            </mat-form-field>
          </div>

          <div layout="row" layout-align="space-between center">
            <mat-form-field class="size-width-700">
              <input matInput [value]=categoryName type="text" disabled='true' placeholder="Category Name">
            </mat-form-field>
          </div>

          <div layout="row" layout-align="space-between center">
            <mat-form-field class="size-width-700">
              <input matInput [value]=categorySatus type="text" disabled="true" placeholder="Category Satus">
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>