div.parent {
    color:black;
    background :#e0e0e0;
    width:fit-content;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.aParent div {
    float: left;
    clear: none; 
}
.size-width-90 {
    width: 90px;
    height: auto;
}

.size-width-110 {
    width: 110px;
    height: auto;
}


.mat-expansion-panel-body {
    background-color:white ;
    width: 1080;
    height :499 ;
    
}

.size-width-700 {
    width: 700px;
    height: auto;
}