/*
 * Copyright (C) 2016-2017 by Teradata Corporation. All rights reserved.
 * TERADATA CORPORATION CONFIDENTIAL AND TRADE SECRET
 */

@import "~@angular/material/theming";
@import "~@covalent/core/theming/all-theme";

@include mat-core();
$bv-brand: (
  50: #e1eff3,
  100: #b3d7e2,
  200: #81bccf,
  300: #4fa1bb,
  400: #298cad,
  500: #03789e,
  600: #037096,
  700: #02658c,
  800: #025b82,
  900: #014870,
  A100: #9fd6ff,
  A200: #6cc1ff,
  A400: #39abff,
  A700: #1fa0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bv-red: (
  50: #f8e4e5,
  100: #eebcbd,
  200: #e38f91,
  300: #d76265,
  400: #cf4044,
  500: #c61e23,
  600: #c01a1f,
  700: #b9161a,
  800: #b11215,
  900: #a40a0c,
  A100: #ffd1d1,
  A200: #ff9e9f,
  A400: #ff6b6c,
  A700: #ff5153,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($bv-brand);
$accent: mat-palette($bv-red);

$warn: mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);
mat-nav-list,
mat-list {
  [mat-list-item].active {
    mat-icon[matListAvatar] {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
      font-size: 15px;
    }
    mat-icon[matListIcon] {
      color: mat-color($accent);
      font-size: 15px;
    }
  }
}
/* ------------------------------------------------------------------------------- */
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
.view-height {
  min-height: 96%;
  height: 96%;
}
.view-height-login {
  min-height: 96%;
  height: 96%;
  //background-image:url("assets/main_background.png");
  background-image: url("assets/Order_now2x3x.png");
  //background-color: #000000;
}

.mat-title {
  color: mat-color($primary);
}

.view-form-login {
  color: #f1eaea;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  transition: 0.8s;
  width: 100%;
  height: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 4px 32px;
}
.view-actions-padding {
  padding-left: 1%;
  padding-right: 1%;
}
.selected-rows-padding {
  padding-left: 20px;
}
.size-width-150 {
  width: 150px;
  height: auto;
}

.padding-right-2 {
  padding-right: 2px;
}
.custom-class-example {
  color: #ccc;
}
.custom-class-example .lazyContainer {
    height: 100%;
    position: absolute;
    background-color: #f9f9f9;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;  
  }
.custom-class-example .c-btn{
    border: 2px solid mat-color($primary);
    border-radius: 5px;
}  

.custom-class-example .c-token {
  background: mat-color($primary);
}
.custom-class-example .pure-checkbox label::before {
  border-color: mat-color($primary);
  border: 2px solid mat-color($primary);
  border-radius: 5px;
}
.custom-class-example
  .pure-checkbox
  input[type="checkbox"]:checked
  + label[_ngcontent-c1]:before {
  background: mat-color($primary);

}

.mat-card {
  height: 96% !important;
}

.td-data-table-column-row {
  background-color: #288fb1 !important;
  -webkit-text-fill-color: #eef2f5;
}
.td-data-table-cell {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.form-card-width {
  width: 98%;
}

.break-word {
  word-wrap: break-word;
}

.mat-card-title {
  font-size: 20px;
  color: #0b0c0c;
}

.mat-card-content {
  height: 80%;
}

.mat-tab-body-wrapper {
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.full-width-90 {
  width: 90%;
}

.full-width-80 {
  width: 80%;
}
.td-layout-footer {
  padding: 2px 10px !important;
}
.data-table-view-height {
  height: 87%;
}

[ngx-charts-axis-label] text {
  fill: mat-color($foreground, secondary-text);
}
.tick text {
  fill: mat-color($foreground, disabled);
}
.gridline-path {
  &.gridline-path-horizontal,
  &.gridline-path-vertical {
    stroke: rgba(black, 0.06);
  }
}
.legend-title-text {
  color: mat-color($foreground, secondary-text);
}
mat-card-title {
  &:hover {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.td-data-table-row {
  height: 25px !important;
}

.td-data-table-column-row {
  height: 53px !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 45px;
}

.mat-toolbar.mat-primary {
  background: #03789e;
  color: white;
  height: 45px;
}

.mat-card mat-card-title {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0px;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle,
.mat-card-title {
  display: block;
  margin-bottom: 1px;
}

.mat-mini-fab {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  flex-shrink: 0;
}

.mat-mini-fab .mat-button-wrapper {
  padding: 0px 0;
  display: inline-block;
  line-height: 0px;
}
.spinner-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.circle-spinner {
  align-content: center;
  margin-left: 22%;
  margin-right: 22%;
}

// .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
//     background-color: #e53935;
//     width: 32px;
//     height: 32px;
// }

.ui-buttonset:not(.ui-splitbutton) .ui-button {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  margin: 5px;
}

body .ui-selectbutton .ui-button {
  background-color: #efedef;
  border: 1px solid #dadada;
  color: #333333;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.ui-button-text .ui-clickable .ng-star-inserted {
  margin: 2px;
}
