<mat-sidenav-container style="min-height: 100%; height: 100%">
  <mat-sidenav #sidenav opened="true" mode="side">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lookups 
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <div layout="row">
            
            <a mat-list-item >Data <span style="color: dimgray; font-size: 12px"> (list items, constants, ...)</span></a>
            
          </div>
        </mat-nav-list>
    
        <mat-nav-list>
          <a mat-list-item routerLink="letters">Letters</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
      
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Configurations
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item >Mail</a>
        </mat-nav-list>

        <mat-nav-list>
            <a mat-list-item >Sms</a>
          </mat-nav-list>

        <mat-nav-list>
          <a mat-list-item >Logging</a>
        </mat-nav-list>

        <mat-nav-list>
          <a mat-list-item >Database</a>
        </mat-nav-list>

        <mat-nav-list>
            <a mat-list-item >Application server</a>
          </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Logs
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <mat-nav-list>
              <a mat-list-item >System</a>
          </mat-nav-list>

          <mat-nav-list>
              <a mat-list-item >Application server</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>