<div layout="row" layout-align="center center" class="body"> 
    <!-- <img src="assets\orders_home.png" style="max-width: 130%; max-height: 100%;"> -->
    <img src="assets\home.png" class="image">
</div>
<router-outlet></router-outlet>
