<h1 mat-dialog-title align="center">Ticket Information</h1>
<mat-dialog-content>

  <!-- <mat-form-field style="width:450px;">
    <input [(ngModel)]="data.subject" disabled="true" matInput placeholder="Subject" />
    
  </mat-form-field> -->
  <div class="divForm">
    <span class="title">Subject</span>
    <span>{{data.subject}}</span>
  </div>

  <br />

  <div class="divForm">
    <span class="title">Ticket Type</span>
    <span>{{data.supportTicketType}}</span>
  </div>

  <br />
  <div class="divForm">
    <span class="title">Create Date</span>
    <span>{{data.createDate}}</span>
  </div>

  <br />
  <div class="divForm">
    <span class="title">Reply Date</span>
    <span>{{data.replyDate}}</span>
  </div>

  <!-- <mat-form-field style="width:450px;">
    <input [(ngModel)]="data.supportTicketType" disabled="true" matInput placeholder="Ticket Type" />
  </mat-form-field> -->

  <br>

  <mat-form-field style="width:450px;">
    <textarea style="color: black" [(ngModel)]="data.pmsg" disabled="true" rows="5" matInput
      placeholder="Pos message"></textarea>
  </mat-form-field>

  <br />
  <mat-form-field style="width:450px;">
    <textarea [(ngModel)]="data.vmsg" [formControl]="vmsgField" rows="4" [disabled]="data.ticketStatus.code !== 'NR'"
      matInput placeholder="Your message" required></textarea>
    <mat-error *ngIf="vmsgField.hasError('required')">
      Message is required
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [disabled]="vmsgField.invalid" *ngIf="data.ticketStatus.code != 'RP'"
    [mat-dialog-close]="data" tabindex="2">Reply</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Back</button>