<mat-card class="view-height">
  <mat-card-title>All Tickets</mat-card-title>
  <div layout="row" layout-align="end center"
  class="view-actions-padding view-actions-container">
    <div layout="row">
        <mat-form-field>
            <input matInput [matDatepicker]="startDate"  placeholder="Start Date" pattern="yyyy-mm-dd"
                   (dateInput)="startDateChange($event)"(dataChange)="startDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>   
          <span style="width:15px"></span>
          <mat-form-field>
              <input matInput [matDatepicker]="endDate" placeholder="End Date"
                     (dateInput)="endDateChange($event)" (dataCahnge)="endDateChange($event)">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
              <span style="width:10px;"></span>
          </mat-form-field>
          <span style="width:35px;"></span>
          <button mat-icon-button	 color="primary" type="button" style="height: 47px;" (click)="handleFilterEvent()">
              search
          </button>
          <span style="width:60px"></span>
    </div>      
    <div>
      <td-search-box #searchBox 
                    backIcon="keyboard_arrow_right" 
                    placeholder="Search here" 
                    (searchDebounce)="search($event)"
                    flex></td-search-box>
                    
    </div>
  </div>

  <td-data-table
    #dataTable
    [data]="_allTickets"
    [columns]="columnsConfig"
    [selectable]="true"
    [clickable]="true"
    [multiple]="true"
    [sortable]="true"
    [sortBy]="sortBy"
    [(ngModel)]="selectedRows"
    [sortOrder]="sortOrder"
    (sortChange)="sort($event)"
    class="data-table-view-height"
    [compareWith]="compareWith">

    <ng-template tdDataTableTemplate="id" let-value="ticketId" let-row="row"
                [ngxPermissionsOnly]="'ROLE_LOYALTY_EDIT'">
      <button   mat-icon-button (click)="openDialog(ticketId, row)">
        <mat-icon color="primary">chat</mat-icon>
      </button>
    </ng-template>

  </td-data-table>
    
  <div *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <div layout="column" layout-align="space-between end">
    <div layout="row" layout-align="space-between center">
       <div hide-xs class="selected-rows-padding">
        <p class="md-caption" *ngIf="selectedRows.length">
          {{selectedRows.length}} item(s) selected
         </p>
       </div>
       <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
             <mat-option *ngFor="let size of [25, 50,100, 200]" [value]="size">
                 {{size}}
              </mat-option>
            </mat-select>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
         </td-paging-bar>
     </div>
  </div>
</mat-card>