<div layout="column" layout-align="start center">
  <mat-card layout="column" layout-align="start center strech" class="form-card-width"
    style="max-height: 400%!important;width:98%;">
    <mat-card-content>
      <mat-card-title>{{isEdit ? 'Edit Privilege' : 'Add Privilege'}}</mat-card-title>
      <form #privilegeProfileForm="ngForm" layout="column" layout-align="center center">
        <div class="row" layout="row" layout-align="center center">
          <mat-form-field class="size-width-200 padding-right-2">
            <mat-select #appList="ngModel" ngModel placeholder="Application"  [disabled]="isEdit" [(ngModel)]="_privilegeProfile.applicationRole.id"
              name="appList" 
              (selectionChange)="onAppRoleChange($event)">
              <mat-option *ngFor="let appRoleItem of listOfAppRoles" [value]="appRoleItem.id">
                {{appRoleItem.application.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="size-width-200 padding-right-2">
            <mat-select #userType="ngModel" ngModel placeholder="User Type" [disabled]="isEdit" name="userType" [(ngModel)]="_privilegeProfile.userType.id"
              (selectionChange)="onUserTypeChange($event)">
              <mat-option *ngFor="let userType of userTypeList" [value]="userType.id">
                {{userType.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="size-width-300">
            <input matInput required ngModel minlength="3" maxlength="50" #name="ngModel"
              [(ngModel)]="_privilegeProfile.name" placeholder="Name" type="text" name="name">
            <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is required</mat-error>
            <mat-error *ngIf="name.hasError('minlength')">Name must be at least 3 characters</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="size-width-500">
          <textarea matInput ngModel #description="ngModel" rows="1" maxlength="1000"  [(ngModel)]="_privilegeProfile.description"
            placeholder="Description" name="description">
              </textarea>
        </mat-form-field>

        <div>
          <td-steps mode="horizontal">
            <td-step #modulesStep label="Modules" [active]="true">
              <div layout="row">
                <div layout="column" layout-align="start center">
                  <all-module-roles-by-app #allNotSelectedModuleRolesByApp [selectedRolesSide]="false"
                    (rowSelected)="onSelectingModule($event)">
                  </all-module-roles-by-app>
                </div>
                <div layout="column" layout-align="center center">
                  &nbsp;
                  <button mat-button color="primary" (click)="allNotSelectedModuleRolesByApp.onMoveRows()">
                    <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
                  </button>
                  &nbsp;
                  &nbsp;
                  <button mat-button color="primary" (click)="allSelectedModuleRolesByApp.onMoveRows()">
                    <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
                  </button>
                  &nbsp;
                </div>
                <div layout="column" layout-align="end center">
                  <all-module-roles-by-app #allSelectedModuleRolesByApp [selectedRolesSide]="true"
                    (rowSelected)="onSelectingModule($event)">
                  </all-module-roles-by-app>
                </div>
              </div>
              <ng-template td-step-actions>
                <button mat-raised-button (click)="viewsBlocksStep.open()"
                  [disabled]="allSelectedModuleRolesByApp.privilegeProfileModRole.length == 0">Next</button>
              </ng-template>
            </td-step>

            <td-step #viewsBlocksStep label="Blocks" (activated)="triggerFilterEvent(allSelectedViewRolesForModules, 
                                              allNotSelectedViewRolesForModules, 
                                              allSelectedBlockRolesForModules,
                                              allNotSelectedBlockRolesForModules)"
              [disabled]="allSelectedModuleRolesByApp.privilegeProfileModRole.length == 0" [active]="true">

              <!--<div layout="row">
            <div layout="column" layout-align="start center">
              <all-view-roles-for-modules #allNotSelectedViewRolesForModules [selectedRolesSide]="false" (rowSelected)="onSelectingView($event)">
              </all-view-roles-for-modules> 
            </div>
            <div layout="column" layout-align="center center">
                &nbsp;
               <button mat-button color="primary" (click)="allNotSelectedModuleRolesByApp.onMoveRows()">
               <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
               </button>
                &nbsp;
                &nbsp;
                <button mat-button color="primary" (click)="allNotSelectedModuleRolesByApp.onMoveRows()">
                   <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
                </button>
                 &nbsp;
            </div>
            <div layout="column" layout-align="end center">
              <all-view-roles-for-modules #allSelectedViewRolesForModules [selectedRolesSide]="true" (rowSelected)="onSelectingView($event)">
              </all-view-roles-for-modules>
            </div>
          </div>
              <mat-divider style="padding: 5px"></mat-divider> -->
              <div layout="row">
                <div layout="column" layout-align="start center">
                  <all-block-roles-for-modules #allNotSelectedBlockRolesForModules [selectedRolesSide]="false"
                    (rowSelected)="onSelectingBlock($event)">
                  </all-block-roles-for-modules>
                </div>
                <div layout="column" layout-align="center center">
                  &nbsp;
                  <button mat-button color="primary" (click)="allNotSelectedBlockRolesForModules.onMoveRows()">
                    <mat-icon matTooltip="Assign">keyboard_arrow_right</mat-icon>
                  </button>
                  &nbsp;
                  &nbsp;
                  <button mat-button color="primary" (click)="allSelectedBlockRolesForModules.onMoveRows()">
                    <mat-icon matTooltip="Deassign">keyboard_arrow_left</mat-icon>
                  </button>
                  &nbsp;
                </div>
                <div layout="column" layout-align="end center">
                  <all-block-roles-for-modules #allSelectedBlockRolesForModules [selectedRolesSide]="true"
                    (rowSelected)="onSelectingBlock($event, selectedRolesSide)">
                  </all-block-roles-for-modules>
                </div>
              </div>
              <ng-template td-step-actions>
                <button mat-raised-button (click)="modulesStep.open()">Back</button>
              </ng-template>

            </td-step>
          </td-steps>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="row" layout="row" layout-align="center center">
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!privilegeProfileForm.form.valid || allSelectedBlockRolesForModules.privilegeProfileBlockRole.length == 0 || showSpinner" class="spinner-container">
          <span *ngIf="!showSpinner">Save</span>
          <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner"></mat-spinner>
        </button>
        <button mat-raised-button color="primary" (click)="onSaveAndNew()" [disabled]="!privilegeProfileForm.form.valid || allSelectedBlockRolesForModules.privilegeProfileBlockRole.length == 0|| showSpinnerOnSaveAndNew" class="spinner-container"
          *ngIf="!isEdit">
          <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
          <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
        </button>
        <a mat-raised-button (click)="onCancel()">
          Cancel
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>