div.node {
    width: max-content;
    cursor: pointer;
    line-height: 17px;
}

div.node  {
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

img {
    float: left;
    line-height: 17px;
}

div.text {
    display: inline-block;
    line-height: 15px;
    font-size: 12px;
    color:black;
    margin: 5px 5px 5px 8px;
}

div.description {
    display: inline-block;
    line-height: 15px;
    font-family: arial;
}

div.text:hover {
    /* border: 1px solid #e0e0e0; */
    color:#e0e0e0;
    background-color: #546e7a;
}

div.text:active {
    background-color: #546e7a;
    /* margin: 5px 5px 5px 8px; */
}

.active, .btn:hover {
    background-color: #546e7a;
    color: #e0e0e0;
    /* margin: 5px 5px 5px 8px; */
}

.tree-arrow {
    margin-top: 4px;
}