<!-- <style>
    .mat-dialog-content {
        overflow-y: hidden !important;
    }
</style> -->
<h1 mat-dialog-title> {{ dialogTitle }} </h1>
<div mat-dialog-content>
    <form #brandDialogForm="ngForm">
        <div>
            <mat-form-field style="width: 75%">
                <input [(ngModel)]="data.name" required maxlength="40" minlength="3" type="text" matInput
                   autocomplete="off" placeholder="Name" #name="ngModel" name="name">
                <mat-error *ngIf="name.invalid && name.touched && !name.hasError('minlength')">Name is required
                </mat-error>
                <mat-error *ngIf="name.hasError('minlength')">Brand name should be at least 3 characters</mat-error>
            </mat-form-field>
            <div layout="column" layout-align="center center">
                <div>
                    <ngx-gallery #ngxGallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
                <div>
                    <button mat-button (click)="fileInput.inputElement.click()" (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear()"
                    (keyup.backspace)="fileInput.clear()" flex style="cursor: pointer">
                        <mat-icon >add_a_photo</mat-icon>
                    </button>
                    <button mat-button (click)="onDeleteImage()" [disabled]="attImagesAsArray.length==0">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <td-file-input hidden class="push-left-sm push-right-sm" name="fileInput" #fileInput
                        accept="image/*" (select)="onSelectImages($event)" required (change)="onChange($event)"> 
                        <span class="text-upper">Browse...</span>
                    </td-file-input>
                </div>
                <mat-card-actions></mat-card-actions>
                <mat-card-actions></mat-card-actions>
                <mat-card-actions></mat-card-actions>
            </div>
        </div>
    </form>
</div>

<mat-card-actions>
    <div class="row" layout="row" layout-align="center start">
        <button mat-raised-button color="primary" [disabled]="!brandDialogForm.form.valid || showSpinner"
            (click)="onSaveWithAttachments()">
            <span *ngIf="!showSpinner">Save</span>
            <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner" *ngIf="showSpinner">
            </mat-spinner>
        </button>
        <button mat-raised-button color="primary" [disabled]="!brandDialogForm.form.valid || showSpinnerOnSaveAndNew"
            (click)="onSaveAndNewWithAttachments()" *ngIf="!isEdit">
            <span *ngIf="!showSpinnerOnSaveAndNew">Save & New</span>
            <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner"
                *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
        </button>
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>
</mat-card-actions>