<div layout="column" layout-align="start center" class="form-card-container-height">
  <mat-card layout="column" layout-align="start center stretch" class="form-card-width">
    <form #surveyForm="ngForm">
      <mat-card-content>
        <mat-card-title>{{isEdit ? 'Edit Survey' : 'Add Survey'}}</mat-card-title>
        <mat-tab-group>
          <mat-tab label="Details">
            <div layout="column" layout-align="center center">
              <div>
                <mat-form-field class="size-width-500">
                  <input minlength="3" maxlength="30" name="title" [(ngModel)]="_survey.title" matInput
                    placeholder="Title" required [readonly]="publish">
                  <mat-error>
                    Title is required and length between 3 to 30 chars.
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="size-width-500">
                  <input name="startDate" matInput required [matDatepicker]="startDate" placeholder="Start date"
                    [(ngModel)]="_survey.startDate" [readonly]="publish">
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate [disabled]="publish"></mat-datepicker>
                  <mat-error>Start date is required</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="size-width-500">
                  <input name="endDate" matInput required [matDatepicker]="endDate" placeholder="End date"
                    [(ngModel)]="_survey.endDate" [readonly]="publish">
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate [disabled]="publish"></mat-datepicker>
                  <mat-error>End date is required</mat-error>
                </mat-form-field>
              </div>


              <div>
                <mat-form-field class="size-width-500">
                  <input name="loyaltyPoints" maxlength="15" type="number" pattern="^[0-9]{1,15}$"
                    [(ngModel)]="_survey.loyaltyPoints" matInput placeholder="Loyalty Points Amount"
                    [readonly]="publish">
                  <mat-error>
                    Point must be a valid number.
                  </mat-error>
                </mat-form-field>
              </div>

              <div layout="row" layout-align="center center">

                <mat-form-field class="size-width-300">
                  <mat-select [formControl]="regionsFormControl" [compareWith]="options" multiple placeholder="Area"
                    required>
                    <!-- <mat-option [value]="0" (click)="selectAllRegion(allRegionSelected)" #allRegionSelected>All
                    </mat-option> -->
                    <app-select-check-all [model]="regionsFormControl" [values]="listOfRegion">
                    </app-select-check-all>
                    <!-- (click)="selectRegionPerOne(allRegionSelected.viewValue)" -->
                    <mat-option *ngFor="let region of listOfRegion" [value]="region">
                      {{ region.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    Area is required
                  </mat-error>
                </mat-form-field>
                <span style="width:14px;"></span>

                <mat-form-field class="size-width-300">
                  <mat-select [formControl]="posGroupFormControl" [compareWith]="options" multiple
                    placeholder="Pos Group" required>
                    <!-- <mat-option [value]="1" (click)="selectAllPosGroup(allPosGroupSelected)" #allPosGroupSelected>All
                    </mat-option> -->
                    <app-select-check-all [model]="posGroupFormControl" [values]="listOfPosGroup">
                    </app-select-check-all>
                    <mat-option *ngFor="let posGroup of listOfPosGroup" [value]="posGroup"
                      (click)="selectPosGroupPerOne(allPosGroupSelected.viewValue)">
                      {{ posGroup.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    POS Group is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div style="height:104px;"></div>
            </div>
          </mat-tab>


          <mat-tab label="Multiple Choices">
            <div layout="column" layout-align="space-evenly stretch">
                <app-question-check-box></app-question-check-box>
            </div>
          </mat-tab>



          <mat-tab label="Single Choice">
            <div layout="column" layout-align="space-evenly stretch">
                <app-question-radio></app-question-radio>
            </div>
          </mat-tab>



          <mat-tab label="Free Text">
            <div layout="column" layout-align="space-evenly stretch">
                <app-question-free-text></app-question-free-text>
            </div>

          </mat-tab>


          <!-- <mat-tab label="POS's">
            <div layout="column" layout-align="space-evenly stretch">
              <app-pos-survey></app-pos-survey>
            </div>
          </mat-tab> -->

        </mat-tab-group>



        <mat-card-actions>
          <div class="row" layout="row" layout-align="center end">
            <button mat-raised-button color="primary" (click)="onSave()"
              [disabled]="!(surveyForm.form.valid && regionsFormControl.valid && posGroupFormControl.valid) || showSpinner"
              *ngIf="!publish">
              <span *ngIf="!showSpinner">Save</span>
              <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner"
                *ngIf="showSpinner">
              </mat-spinner>
            </button>
            <button mat-raised-button color="primary" (click)="onSaveAndNew()"
              [disabled]="!(surveyForm.form.valid && regionsFormControl.valid && posGroupFormControl.valid)|| showSpinnerOnSaveAndNew"
              *ngIf="!isEdit">
              <span *ngIf="!showSpinnerOnSaveAndNew">Save & new</span>
              <mat-spinner diameter="38" mode="indeterminate" strokeWidth="3" class="circle-spinner"
                *ngIf="showSpinnerOnSaveAndNew"></mat-spinner>
            </button>
            <a mat-raised-button routerLink="/survey" *ngIf="!publish">
              Cancel
            </a>

            <button mat-raised-button color="primary" routerLink="/survey" *ngIf="publish">
              back
            </button>
          </div>

        </mat-card-actions>
      </mat-card-content>


    </form>
  </mat-card>
</div>