<form class="example-form" #ordersForm="ngForm">

</form>

<div layout="column" layout-align="center center" class="form-card-container-height">
    <view-order-details layout="row" layout-align="center center" class="form-card-width form-card-container-height"></view-order-details>
</div>